.item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px 10px;

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  h6 {
    margin-top: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
}

.import {
  background: #e07e37;
  cursor: pointer;
}

.qa-card {
  background: #63d171;
  cursor: pointer;
}

.uniform {
  background: #959595c7;
}

.course {
  background: #3498db;
  cursor: pointer;
}

.tms {
  background: #0e7f8b;
  cursor: pointer;
}

.meal {
  background: #689f38;
  cursor: pointer;
}
