<nz-breadcrumb>
  <nz-breadcrumb-item> Information System </nz-breadcrumb-item>
  <nz-breadcrumb-item> Quản lý thiết bị </nz-breadcrumb-item>
  <nz-breadcrumb-item> Danh sách thiết bị </nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<nz-collapse>
  <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="true" [nzShowArrow]="true">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Loại thiết bị</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Loại thiết bị"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchVo.deviceType"
          >
            <nz-option
              *ngFor="let deviceType of deviceTypes"
              [nzValue]="deviceType.id"
              [nzLabel]="deviceType.name"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Mã quản lý</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="mngCodeTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.mngCode"
              placeholder="Mã quản lý"
            />
          </nz-input-group>
          <ng-template #mngCodeTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.mngCode"
              (click)="searchVo.mngCode = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Model</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="modelTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.model"
              placeholder="Model"
            />
          </nz-input-group>
          <ng-template #modelTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.model"
              (click)="searchVo.model = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Serial</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="serialTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.serial"
              placeholder="Serial"
            />
          </nz-input-group>
          <ng-template #serialTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.serial"
              (click)="searchVo.serial = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">IMEI</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="imeiTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.imei"
              placeholder="imei"
            />
          </nz-input-group>
          <ng-template #imeiTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.imei"
              (click)="searchVo.imei = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Status</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Status"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchVo.status"
          >
            <nz-option
              *ngFor="let status of deviceStatuses"
              [nzValue]="status.id"
              [nzLabel]="status.name"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <br />
    <div nz-row nzJustify="end" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="24" nzLg="24">
        <button
          nz-button
          nzType="primary"
          style="float: right"
          (click)="searchDevice()"
        >
          <i nz-icon nzType="search"></i>
          Search
        </button>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<br />
<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
  <div nz-col nzXs="12" nzSm="6" nzLg="3">
    <button
      nz-button
      nzType="primary"
      (click)="isOpenAddNewForm = true"
      style="width: 100%"
    >
      Thêm mới
    </button>
  </div>
  <div nz-col nzXs="12" nzSm="6" nzLg="3">
    <button nz-button nzType="default" style="width: 100%" (click)="redirectHistories()">Lịch sử</button>
  </div>
</div>
<nz-table
  style="margin-top: 10px"
  #deviceTable
  nzBordered
  nzSize="small"
  [nzData]="devices"
  [nzScroll]="{ x: '1100px' }"
>
  <thead>
    <tr>
      <th nzLeft class="text-center">Mã quản lý</th>
      <th class="text-center">Loại thiết bị</th>
      <th class="text-center">Thương hiệu</th>
      <th class="text-center">Model</th>
      <th class="text-center">Serial</th>
      <th class="text-center">IMEI</th>
      <th class="text-center">Trạng thái</th>
      <th nzRight class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of deviceTable.data">
      <td nzLeft>{{ data.mngCode }}</td>
      <td>{{ data.deviceTypeName }}</td>
      <td>{{ data.brand }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.serial }}</td>
      <td>{{ data.imei }}</td>
      <td>{{ data.statusName }}</td>
      <td nzRight class="text-center">
        <button
          *ngIf="data.status == 1"
          nz-button
          nzType="default"
          (click)="openHandOverForm(data)"
        >
          Bàn giao
        </button>
        <a *ngIf="data.status == 0" (click)="openReceiveForm(data)">Nhận lại</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isOpenAddNewForm"
  nzTitle="Thêm Device"
  (nzOnOk)="addDevice()"
  (nzOnCancel)="resetForm()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addNewForm" (ngSubmit)="submitAddNewForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Mã quản lý</nz-form-label>
        <nz-form-control nzErrorTip="Bắt buộc nhập">
          <input
            type="text"
            nz-input
            formControlName="mngCode"
            placeholder="Mã quản lý"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Loại thiết bị</nz-form-label>
        <nz-form-control nzErrorTip="">
          <nz-select
            nzPlaceHolder="Loại thiết bị"
            nzShowSearch
            nzAllowClear
            formControlName="deviceType"
          >
            <nz-option
              *ngFor="let deviceType of deviceTypes"
              [nzValue]="deviceType.id"
              [nzLabel]="deviceType.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Thương hiệu</nz-form-label>
        <nz-form-control nzErrorTip="">
          <input
            type="text"
            nz-input
            formControlName="brand"
            placeholder="Brand"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Model</nz-form-label>
        <nz-form-control nzErrorTip="">
          <input
            type="text"
            nz-input
            formControlName="model"
            placeholder="Model"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Serial</nz-form-label>
        <nz-form-control nzErrorTip="">
          <input
            type="text"
            nz-input
            formControlName="serial"
            placeholder="Serial"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">IMEI</nz-form-label>
        <nz-form-control nzErrorTip="">
          <input
            type="text"
            nz-input
            formControlName="imei"
            placeholder="IMEI"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isOpenHandOverForm" nzTitle="Bàn giao thiết bị">
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Mã quản lý</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.mngCode }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Loại thiết bị</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.deviceTypeName }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Thương hiệu</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.brand }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Model</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.model }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Serial</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.serial }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">IMEI</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.imei }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Người nhận</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <nz-select
          nzPlaceHolder="Nhân viên"
          nzShowSearch
          nzAllowClear
          [(ngModel)]="deviceSelected.employee"
        >
          <nz-option
            *ngFor="let user of users"
            [nzValue]="user.username"
            [nzLabel]="user.name + ' - ' + user.username"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Ghi chú</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <textarea rows="2" nz-input [(ngModel)]="deviceSelected.note"></textarea>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Ký nhận</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <div id="signature-pad" class="m-signature-pad">
          <div class="m-signature-pad-body">
            <!-- <signature-pad [options]="signaturePadOptions"></signature-pad> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenHandOverForm = false">
      Hủy
    </button>
    <button nz-button nzType="primary" (click)="handOverDevice()">
      Bàn giao
    </button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isOpenReceiveForm" nzTitle="Nhận lại thiết bị">
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Mã quản lý</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.mngCode }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Loại thiết bị</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.deviceTypeName }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Thương hiệu</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.brand }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Model</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.model }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Serial</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.serial }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">IMEI</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ deviceSelected.imei }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Người trả</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <nz-select
          nzPlaceHolder="Nhân viên"
          nzShowSearch
          nzAllowClear
          [(ngModel)]="deviceSelected.employee"
        >
          <nz-option
            *ngFor="let user of users"
            [nzValue]="user.username"
            [nzLabel]="user.name + ' - ' + user.username"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Ký trả</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <div id="signature-pad" class="m-signature-pad">
          <div class="m-signature-pad-body">
            <!-- <signature-pad [options]="signaturePadOptions"></signature-pad> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenReceiveForm = false">
      Hủy
    </button>
    <button nz-button nzType="primary" (click)="receiveDevice()">
      Xác nhận
    </button>
  </div>
</nz-modal>