<dx-data-grid
  style="margin-top: 15px"
  [dataSource]="devices"
  keyExpr="id"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-column-chooser #columnChooser [enabled]="true" [mode]="'select'">
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button
        stylingMode="contained"
        type="default"
        icon="plus"
        text="Thêm mới"
        (click)="openEditDeviceModal(null)"
      >
      </dx-button>
    </dxi-item>
    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="columnChooserButton"> </dxi-item>
  </dxo-toolbar>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="controlNo" caption="Control No"></dxi-column>
  <dxi-column dataField="equipmentName" caption="Equipment Name"></dxi-column>
  <dxi-column dataField="serialNo" caption="Serial No"></dxi-column>
  <dxi-column dataField="typeNo" caption="Type No"></dxi-column>
  <dxi-column dataField="manufacturer" caption="Manufacturer"></dxi-column>
  <dxi-column
    dataField="rangeOfMeasuring"
    caption="Range Of Measuring"
  ></dxi-column>
  <dxi-column
    dataField="distributionLocation"
    caption="Distribution Location"
  ></dxi-column>

  <dxi-column
    [fixed]="true"
    fixedPosition="right"
    caption="Action"
    cellTemplate="actionTemplate"
  >
    <div *dxTemplate="let item of 'actionTemplate'">
      <a (click)="openEditDeviceModal(item)">Edit</a>
    </div>
  </dxi-column>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenEditDeviceModal"
  [nzTitle]="modalTitle"
  nzWidth="900px"
>
  <ng-container *nzModalContent>
    <table id="deviceInfoTbl">
      <tbody>
        <tr>
          <td><label>Control No</label></td>
          <td>
            <input nz-input placeholder="Control No" [(ngModel)]="deviceSelected.controlNo" />
          </td>
          <td><label>Equipment name</label></td>
          <td>
            <input nz-input placeholder="Equipment name" [(ngModel)]="deviceSelected.equipmentName" />
          </td>
        </tr>
        <tr>
          <td><label>Serial No</label></td>
          <td>
            <input nz-input placeholder="Serial No" [(ngModel)]="deviceSelected.serialNo" />
          </td>
          <td><label>Type No</label></td>
          <td>
            <input nz-input placeholder="Type No" [(ngModel)]="deviceSelected.typeNo" />
          </td>
        </tr>
        <tr>
          <td><label>Manufacturer</label></td>
          <td>
            <input nz-input placeholder="Manufacturer" [(ngModel)]="deviceSelected.manufacturer" />
          </td>
          <td><label>Location</label></td>
          <td>
            <input nz-input placeholder="Location"  [(ngModel)]="deviceSelected.distributionLocation" />
          </td>
        </tr>
        <tr>
          <td><label>Range Of Measuring</label></td>
          <td colspan="3">
              <textarea rows="2" nz-input [(ngModel)]="deviceSelected.rangeOfMeasuring"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="handleOk()">Lưu</button>
  </div>
</nz-modal>
