<nz-breadcrumb>
  <nz-breadcrumb-item> Manufacturing </nz-breadcrumb-item>
  <nz-breadcrumb-item> Measurement </nz-breadcrumb-item>
  <nz-breadcrumb-item> Hạng mục </nz-breadcrumb-item>
  <nz-breadcrumb-item> Data export </nz-breadcrumb-item>
</nz-breadcrumb>

<br />
<nz-collapse>
  <nz-collapse-panel
    [nzHeader]="itemName"
    [nzActive]="true"
    [nzShowArrow]="true"
  >
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Line</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn Line"
            nzShowSearch
            nzAllowClear
            (ngModelChange)="onChangeLine($event)"
            [(ngModel)]="searchParams.line"
          >
            <nz-option
              *ngFor="let line of lines"
              [nzValue]="line.value"
              [nzLabel]="line.label"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Dòng sản phẩm</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn dòng sản phẩm"
            [(ngModel)]="searchParams.modelType"
            (ngModelChange)="onChangeModelType($event)"
          >
            <nz-option
              *ngFor="let type of modelTypes"
              [nzValue]="type.value"
              [nzLabel]="type.label"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Model</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn Model"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchParams.model"
          >
            <nz-option
              *ngFor="let model of models"
              [nzValue]="model.name"
              [nzLabel]="model.name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Người thực hiện</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn nhân viên"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchParams.user"
          >
            <nz-option
              *ngFor="let user of users"
              [nzValue]="user.username"
              [nzLabel]="user.name + ' - ' + user.username"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Ca làm việc</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn ca làm việc"
            nzAllowClear
            [(ngModel)]="searchParams.shift"
          >
            <nz-option
              *ngFor="let shift of shifts"
              [nzValue]="shift.value"
              [nzLabel]="shift.label"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Lý do</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Chọn lý do"
            nzAllowClear
            [(ngModel)]="searchParams.reason"
          >
            <nz-option
              *ngFor="let reason of reasons"
              [nzValue]="reason.id"
              [nzLabel]="reason.name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Thời gian</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-range-picker
            nzFormat="yyyy-MM-dd"
            [(ngModel)]="date"
            (ngModelChange)="onDateChange($event)"
            (nzOnCalendarChange)="onCalendarChange($event)"
          >
          </nz-range-picker>
        </div>
      </div>
    </div>
    <div nz-row nzJustify="end" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="3" nzSm="3" nzLg="3">
        <div nz-row nzJustify="end" nzAlign="middle">
          <button nz-button nzType="primary" (click)="onSearchBtn()">
            <i nz-icon nzType="search"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<br />
<nz-tabset>
  <nz-tab nzTitle="Data" *ngIf="standard">
    <app-mea-export-type1
      *ngIf="standard.type == 1"
      [item]="item"
      [detailsData]="detailsData"
      [standard]="standard"
      [searchParams]="searchParams"
    >
    </app-mea-export-type1>
    <app-mea-export-type2
      *ngIf="standard.type == 2"
      [item]="item"
      [detailsData]="detailsData"
      [standard]="standard"
      [searchParams]="searchParams"
    >
    </app-mea-export-type2>
    <app-mea-export-type3
      *ngIf="standard.type == 3"
      [item]="item"
      [detailsData]="detailsData"
      [standard]="standard"
      [searchParams]="searchParams"
    >
    </app-mea-export-type3>
    <app-mea-export-type4
      *ngIf="standard.type == 4"
      [item]="item"
      [detailsData]="detailsData"
      [standard]="standard"
      [searchParams]="searchParams"
    >
    </app-mea-export-type4>
    <app-mea-export-type5
      *ngIf="standard.type == 5"
      [item]="item"
      [detailsData]="detailsData"
      [standard]="standard"
      [searchParams]="searchParams"
    >
    </app-mea-export-type5>
  </nz-tab>
</nz-tabset>
