<dx-data-grid
  keyExpr="userCode"
  #userAreaGrid
  [dataSource]="users"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false"
  [hoverStateEnabled]="true"
  (onCellPrepared)="onCellPrepared($event)"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>


  <dxi-column dataField="userName" caption="Họ tên"></dxi-column>
  <dxi-column dataField="userCode" caption="ID"></dxi-column>
  <dxi-column dataField="productTypeName" caption="Tên khu vực"></dxi-column>
  <dxi-column dataField="productTypeId" caption="Mã khu vực"></dxi-column>
  <dxi-column dataField="remark" caption="Remark"></dxi-column>
</dx-data-grid>
