<button nz-button nzType="primary" (click)="openCreateIqcRequestModal()">Tạo request IQC hàng quá 6 tháng</button>
<nz-modal [(nzVisible)]="isOpenCreateIqcRequestModal" nzTitle="Scan hàng IQC" nzWidth="900px">
    <ng-container *nzModalContent>
        <table id="scanTbl">
            <tbody>
                <tr>
                    <td style="width: 15%">
                        <label style="font-weight: bold">Mã QR code</label>
                    </td>
                    <td>
                        <input #qrIpt nz-input placeholder="Scan mã QR code" (keydown.enter)="scanLabel($event)"
                            (keydown.tab)="scanLabel($event)" (click)="qrIpt.select()" autocomplete="off" />
                    </td>
                    <td style="width: 15%">
                        <label>Số lượng</label> :
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <nz-table #basicTable [nzData]="labelScannedArr" [nzSize]="'small'" nzBordered>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Lot Group</th>
                    <th>Lot No</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data[0]">
                    <td>{{ data.model }}</td>
                    <td>{{ data.lotGroup }}</td>
                    <td>{{ data.lotNo }}</td>
                    <td style="text-align: center; color: red">
                        <a style="color: red">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
</nz-modal>