#scanTbl {
    width: 100%;

    td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding: 5px;
    }

    label {
        font-weight: bold;
        color: rgb(45, 45, 218);
    }

    #evaluate {
        text-align: center;
        font-weight: bold;
    }
}