<dx-data-grid
  #lotsOver6MonthGrid
  [dataSource]="lotsOver6Month"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onSelectionChanged)="onSelectionChanged($event)"
>

  <dxo-selection
    [selectAllMode]="'allPages'"
    [showCheckBoxesMode]="'always'"
    mode="multiple"
  ></dxo-selection>

  <dxo-toolbar>
    <dxi-item location="before">
      <button nz-button nzType="primary" [disabled]="!selectedRows?.length" (click)="createRequest()">
        <span nz-icon nzType="plus"></span>
        Tạo request IQC hàng quá 6 tháng
      </button>
    </dxi-item>
  </dxo-toolbar>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="model" caption="Model"></dxi-column>
  <dxi-column dataField="lotGroup" caption="LotGroup"></dxi-column>
  <dxi-column dataField="classified" caption="Classified"></dxi-column>
  <dxi-column dataField="amount" caption="Boxes"></dxi-column>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

