<nz-breadcrumb>
  <nz-breadcrumb-item> HR & GA</nz-breadcrumb-item>
  <nz-breadcrumb-item> Dữ liệu nhân viên </nz-breadcrumb-item>
  <nz-breadcrumb-item> Đồng phục </nz-breadcrumb-item>
</nz-breadcrumb>
<br />

<dx-data-grid
  #uniformGrid
  id="uniformGrid"
  [dataSource]="uniforms"
  [showBorders]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnResizing]="true"
  [columnResizingMode]="'widget'"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  (onExporting)="onExportClient($event)"
>
  <dxo-selection
    [selectAllMode]="'allPages'"
    [showCheckBoxesMode]="'always'"
    mode="multiple"
  ></dxo-selection>

  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>

  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button
        stylingMode="outlined"
        type="success"
        icon="upload"
        text="Upload File"
        (onClick)="openFileUploadModal()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button
        stylingMode="outlined"
        type="default"
        icon="plus"
        text="Thêm dữ liệu"
        (click)="openAddUniformModal()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button
        [disabled]="!uniformGrid.selectedRowKeys.length"
        stylingMode="outlined"
        type="danger"
        icon="clear"
        text="Xóa dữ liệu"
        (click)="removeSelection()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item
      location="before"
      name="addRowButton"
      showText="always"
    ></dxi-item>
    <dxi-item name="exportButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="name" caption="Họ tên"></dxi-column>
  <dxi-column
    dataField="username"
    dataType="text"
    caption="Mã nhân viên"
  ></dxi-column>
  <dxi-column dataField="uniformTypeName" caption="Loại đồng phục"></dxi-column>
  <dxi-column dataField="size" caption="Size"></dxi-column>
  <dxi-column dataField="qty" caption="Số lượng"></dxi-column>
  <dxi-column
    dataField="date"
    dataType="date"
    caption="Ngày cấp"
    format="yyyy-MM-dd"
  ></dxi-column>
  <dxi-column dataField="remark" caption="Remark"></dxi-column>
  <dxi-column dataField="uploadId" caption="Mã upload"></dxi-column>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenFileUploadModal"
  nzTitle="Thêm dữ liệu Excel"
  (nzOnOk)="uploadFile()"
  (nzOnCancel)="isOpenFileUploadModal = false"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="12">
        <nz-upload
          [nzAction]="fileUploadApi"
          (nzChange)="onChangeUpload($event)"
        >
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            Upload Excel
          </button>
        </nz-upload>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="12">
        <button nz-button nzType="primary" (click)="downloadExcelTemplate()">
          <span nz-icon nzType="download"></span>
          Tải file template
        </button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenAddUniformModal"
  nzTitle="Thêm dữ liệu đồng phục"
  (nzOnOk)="addUniform()"
  (nzOnCancel)="isOpenAddUniformModal = false"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <nz-table
        nzBordered
        nzFrontPagination="false"
        nzSize="small"
        [nzData]="['']"
      >
        <tbody>
          <tr>
            <td width="30%">
              <label>Ngày cấp</label>
            </td>
            <td width="70%">
              <nz-date-picker [(ngModel)]="uniformAdd.date"></nz-date-picker>
            </td>
          </tr>
          <tr>
            <td>
              <label>Nhân viên</label>
            </td>
            <td>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn nhân viên"
                [(ngModel)]="uniformAdd.username"
              >
                <nz-option
                  *ngFor="let user of users"
                  [nzValue]="user.username"
                  [nzLabel]="user.name + ' - ' + user.username"
                ></nz-option>
              </nz-select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Loại đồng phục</label>
            </td>
            <td>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn loại đồng phục"
                [(ngModel)]="uniformAdd.uniformType"
              >
                <nz-option
                  *ngFor="let type of uniformTypes"
                  [nzValue]="type.id"
                  [nzLabel]="type.name"
                ></nz-option>
              </nz-select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Kích cỡ</label>
            </td>
            <td>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn kích cỡ"
                [(ngModel)]="uniformAdd.size"
              >
                <nz-option
                  *ngFor="let size of masterData.sizes"
                  [nzValue]="size"
                  [nzLabel]="size"
                ></nz-option>
              </nz-select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Số lượng</label>
            </td>
            <td>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn số lượng"
                [(ngModel)]="uniformAdd.qty"
              >
                <nz-option
                  *ngFor="let qty of masterData.quantities"
                  [nzValue]="qty"
                  [nzLabel]="qty"
                ></nz-option>
              </nz-select>
            </td>
          </tr>
          <tr>
            <td><label>Remark</label></td>
            <td>
              <input nz-input placeholder="Ghi chú" [(ngModel)]="uniformAdd.remark" />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
</nz-modal>
