<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" (click)="clickBtnRequest()">
    <div class="item request">
      <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
      <h5>IQC Request</h5>
      <h6>Danh sách IQC request</h6>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" (click)="clickBtnHandle()">
    <div class="item handle">
      <i nz-icon nzType="file-search" nzTheme="outline"></i>
      <h5>IQC Handling</h5>
      <h6>Danh sách IQC handle</h6>
    </div>
  </div>
</div>
