<div style="" class="tooljig_title">Bảng kiểm kê Kho ToolJig</div>
<div class = "ivt_home">
  <div class="ivt_back" style="color: #40A9FF; font-size: 16px; font-weight: 500;"  (click)="back_to_ivthis()" >Back</div>
  <div class="ivt_inventory" style="font-size: 16px; font-weight: 500;">/Inventory Detail</div>
</div>
<dx-data-grid
  id="gridContainer"
  [dataSource]="data"
  keyExpr="id"
  [showBorders]="true"
  [columnAutoWidth]="true"
>

  <dxi-column
  caption="IVT No"
  cellTemplate="actionTemplate"
  alignment="center"
  fixedPosition="right"
 >
  <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
    <a style="color: blue" >{{item.data.ivt_no}}</a>
  </div>
 </dxi-column>
  
<dxi-column dataField="username" caption="Userid"></dxi-column>
<dxi-column dataField="people_name" caption="UserName"></dxi-column>
<dxi-column dataField="code" caption="Code"></dxi-column>
<dxi-column dataField="name" caption="Name"></dxi-column>
<dxi-column dataField="qty" caption="Tồn Thực Tế"></dxi-column>
<dxi-column dataField="ivt_dif" caption="Chênh Lệch"></dxi-column>
<dxi-column dataField="date_time" caption="ngày Kiếm kê"></dxi-column>

</dx-data-grid>
