.tooljig_title {
    font-size: 20px; 
    font-weight: 600;
    color: #4374FF;
    margin-bottom: 10px;
}

.ivt_home {
    display: flex;
}

.ivt_back:hover {
    cursor: pointer;
    color: #035493 !important;
}