<dx-data-grid
  keyExpr="id"
  #requestListGrid
  [dataSource]="requests"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false"
  [hoverStateEnabled]="true"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          (click)="openRequestModal()"
        >
          <span nz-icon nzType="plus"></span>
          Tạo phiếu request
        </button>
        <nz-date-picker
          style="height: 33px"
          *nzSpaceItem
          [nzSize]="'large'"
          (ngModelChange)="onChangeRequestDate($event)"
          nzPlaceHolder="Ngày request"
          [(ngModel)]="requestDate"
        ></nz-date-picker>
      </nz-space>
    </dxi-item>

    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton" location="after"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="requestNo" caption="Request No"></dxi-column>
  <dxi-column dataField="type" caption="Request Type"></dxi-column>
  <dxi-column
    dataField="date"
    caption="Ngày request"
    dataType="date"
    format="yyyy-MM-dd"
  ></dxi-column>
  <dxi-column dataField="subsectionName" caption="Subsection"></dxi-column>
  <dxi-column dataField="factoryCode" caption="Factory Code"></dxi-column>
  <dxi-column dataField="factoryName" caption="Factory Name"></dxi-column>
  <dxi-column dataField="createdByName" caption="Người tạo"></dxi-column>
  <dxi-column dataField="createdBy" caption="Mã nhân viên"></dxi-column>
  <dxi-column
    caption="Trạng thái xuất hàng"
    cellTemplate="amountTemplate"
  ></dxi-column>
  <div *dxTemplate="let item of 'amountTemplate'" style="text-align: center">
    <span
      >{{ item.data.amountAct == null ? 0 : item.data.amountAct }} /
      {{ item.data.amountReq }}</span
    >
  </div>

  <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>

  <dxi-column
    caption="Action"
    cellTemplate="actionTemplate"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-column>
  <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
    <a (click)="openRequestDetailModal(item)">Chi tiết</a>
  </div>
</dx-data-grid>

<nz-modal [(nzVisible)]="isOpenRequestModal" nzTitle="Chọn mã" nzWidth="100%">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="24">
      <nz-collapse nz-col nzMd="10" nzLg="10" nzAccordion>
        <nz-collapse-panel [nzHeader]="'Danh mục'" [nzActive]="true">
          <dx-data-grid
            #sparePartGrid
            [dataSource]="spareParts"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
          >
            <!-- <dxo-selection
              [selectAllMode]="'allPages'"
              [showCheckBoxesMode]="'always'"
              mode="multiple"
            ></dxo-selection> -->

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="partNumber" caption="PartNo"></dxi-column>
            <dxi-column dataField="name" caption="Name"></dxi-column>
            <dxi-column
              dataField="unit"
              caption="Unit"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              caption="Action"
              cellTemplate="actionTemplate"
            ></dxi-column>
            <div
              *dxTemplate="let item of 'actionTemplate'"
              style="text-align: center"
            >
              <button nz-button nzType="default" (click)="addToRequest(item)">
                Add
                <span nz-icon nzType="double-right"></span>
              </button>
            </div>

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 15]"
            >
            </dxo-pager>
          </dx-data-grid>
        </nz-collapse-panel>
      </nz-collapse>
      <div
        nz-col
        nzMd="1"
        nzLg="1"
        style="display: flex; justify-content: center; align-items: center"
      >
        <span
          nz-icon
          nzType="caret-right"
          nzTheme="outline"
          style="font-size: 3pc; color: darkslateblue"
        ></span>
      </div>
      <nz-collapse nz-col nzMd="13" nzLg="13">
        <nz-collapse-panel [nzHeader]="'Order / Return'" [nzActive]="true">
          <dx-data-grid
            #orderedGrid
            [dataSource]="orderListArr"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [rowAlternationEnabled]="true"
            (onSaving)="onSaving($event)"
          >
            <dxo-toolbar>
              <dxi-item location="before">
                <dx-select-box
                  label="Loại request"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'static'"
                  displayExpr="name"
                  valueExpr="code"
                  [dataSource]="[
                    {
                      code: 'ORDER',
                      name: 'ORDER'
                    },
                    {
                      code: 'RETURN',
                      name: 'RETURN'
                    }
                  ]"
                  [(value)]="requestTypeSelected"
                  placeholder="Loại request"
                  [searchEnabled]="true"
                ></dx-select-box>
              </dxi-item>

              <dxi-item location="before">
                <dx-select-box
                  label="Nhà máy"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'static'"
                  displayExpr="name"
                  valueExpr="code"
                  [dataSource]="factories"
                  [(value)]="factorySelected"
                  placeholder="Nhà máy"
                  [searchEnabled]="true"
                ></dx-select-box>
              </dxi-item>

              <dxi-item location="before">
                <dx-select-box
                  label="Bộ phận"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'static'"
                  displayExpr="name"
                  valueExpr="id"
                  [dataSource]="subsections"
                  [(value)]="subsectionSelected"
                  placeholder="Bộ phận"
                  [searchEnabled]="true"
                ></dx-select-box>
              </dxi-item>

              <dxi-item location="after">
                <button
                  nz-button
                  nzType="primary"
                  (click)="onCreateRequest(orderedGrid)"
                >
                  Tạo request
                </button>
              </dxi-item>
            </dxo-toolbar>

            <dxo-editing
              mode="batch"
              [allowUpdating]="true"
              [selectTextOnEditStart]="true"
            >
            </dxo-editing>

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column
              dataField="partNumber"
              caption="PartNo"
              [allowEditing]="false"
            ></dxi-column>
            <dxi-column dataField="qty" caption="Qty" dataType="number">
              <dxi-validation-rule
                type="range"
                [min]="1"
                message="Qty phải lớn hơn 0"
              >
              </dxi-validation-rule>
            </dxi-column>
            <dxi-column
              dataField="recordType"
              caption="RecordType"
              [allowEditing]="true"
              *ngIf="requestTypeSelected == 'RETURN'"
            >
              <dxo-lookup
                [dataSource]="[
                  {
                    value: 'OK_RETURN',
                    name: 'OK_RETURN'
                  },
                  { value: 'NG_RETURN', name: 'NG_RETURN' }
                ]"
                displayExpr="name"
                valueExpr="value"
              >
              </dxo-lookup>
              <dxi-validation-rule
                type="required"
                message="RecordType không được để trống"
              ></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="unit" caption="Unit" [allowEditing]="false">
            </dxi-column>

            <dxi-column
              caption="Action"
              cellTemplate="deleteItemTemplate"
            ></dxi-column>
            <div
              *dxTemplate="let item of 'deleteItemTemplate'"
              style="text-align: center"
            >
              <a (click)="deleteItemOrderList(item)" style="color: red">Xóa</a>
            </div>

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[5, 10, 15]"
            >
            </dxo-pager>
          </dx-data-grid>

          <!-- <button
            nz-button
            nzType="primary"
            (click)="saveChanges(orderedGrid)"
          >
            Tạo request
          </button> -->
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button nz-button nzType="default" (click)="closeRequestModal()">
      Đóng
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenRequestDetailModal"
  [nzTitle]="
    'Request: ' +
    sparePartReqSelected?.data?.requestNo +
    ' (' +
    sparePartReqSelected?.data?.type +
    ')'
  "
  nzWidth="100%"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzFrontPagination="false"
      nzBordered
    >
      <tbody>
        <tr>
          <td>
            <label style="font-weight: bold">Nhà máy:</label>
            {{ sparePartReqSelected.data.factoryName }}
          </td>
          <td>
            <label style="font-weight: bold">Bộ phận:</label>
            {{ sparePartReqSelected.data.subsectionName }}
          </td>
          <td>
            <label style="font-weight: bold">Nhân viên:</label>
            {{ sparePartReqSelected.data.createdByName }} ({{
              sparePartReqSelected.data.createdBy
            }})
          </td>
          <td>
            <label style="font-weight: bold">Request date:</label>
            {{ sparePartReqSelected.data.date | date : "YYYY-MM-dd" }}
          </td>
        </tr>
      </tbody>
    </nz-table>

    <dx-data-grid
      keyExpr="id"
      #sparePartsReqDetailGrid
      [dataSource]="sparePartsReqDetail"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <nz-space>
            <button
              nz-button
              *nzSpaceItem
              nzType="primary"
              style="float: left"
              (click)="downloadRequestDetail(sparePartReqSelected)"
            >
              In phiếu request
              <span nz-icon nzType="printer" nzTheme="outline"></span>
            </button>
            <ng-container *ngIf="sparePartReqSelected.data.type == 'ORDER'">
              <button
                nz-button
                *nzSpaceItem
                nzType="default"
                style="float: left"
              >
                <a
                  [routerLink]="['/admin/spare-part/spare-part-in-out']"
                  [queryParams]="{ requestId: sparePartReqSelected.data.id }"
                >
                  Xuất kho
                </a>
              </button>
            </ng-container>
          </nz-space>
        </dxi-item>
      </dxo-toolbar>

      <dxi-column dataField="partNumber" caption="Part Number"></dxi-column>
      <dxi-column dataField="partName" caption="Part Name"></dxi-column>
      <dxi-column dataField="unit" caption="Unit"></dxi-column>
      <dxi-column
        dataField="requestQty"
        caption="Request Qty (SL request)"
      ></dxi-column>
      <dxi-column
        dataField="issuedQty"
        [caption]="
          sparePartReqSelected.data.type == 'ORDER'
            ? 'Issued Qty (SL xuất kho)'
            : 'Return Qty (SL trả)'
        "
      ></dxi-column>

      <dxi-column
        *ngIf="sparePartReqSelected.data.type == 'RETURN'"
        caption="Người xác nhận"
        alignment="center"
        [fixed]="true"
        fixedPosition="right"
        cellTemplate="deleteItemTemplate"
      ></dxi-column>
      <div
        *dxTemplate="let item of 'deleteItemTemplate'"
        style="text-align: center"
      >
        <button
          nz-button
          nzType="default"
          (click)="openConfirmReturnModal(item)"
          *ngIf="!item.data.createdByName; else isConfirmReturn"
        >
          Xác nhận
        </button>

        <ng-template #isConfirmReturn>
          <p>{{ item.data.createdByName }}</p>
        </ng-template>
      </div>
    </dx-data-grid>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button
      nz-button
      style="float: left"
      nzDanger
      nz-popconfirm
      nzPopconfirmTitle="Bạn có chắc chắn xóa request này không ?"
      nzPopconfirmPlacement="top"
      (nzOnConfirm)="deleteRequest()"
    >
      Xóa Request
    </button>

    <button
      nz-button
      nzType="default"
      (click)="isOpenRequestDetailModal = false"
    >
      Đóng
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenConfirmReturnModal"
  nzTitle="Xác nhận trả hàng"
  nzOkText="Xác nhận"
  nzCancelText="Đóng"
  (nzOnOk)="confirmReturn()"
  (nzOnCancel)="isOpenConfirmReturnModal = false"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzFrontPagination="false"
      nzBordered
    >
      <tbody>
        <tr>
          <td>
            <label style="font-weight: bold">Part Number:</label>
          </td>
          <td>
            {{ partNumberSelected.partNumber }}
          </td>
        </tr>
        <tr>
          <td>
            <label style="font-weight: bold">Part Name:</label>
          </td>
          <td>{{ partNumberSelected.partName }}</td>
        </tr>
        <tr>
          <td>
            <label style="font-weight: bold">Số lượng trả:</label>
          </td>
          <td>
            <!-- <input
              nz-input
              placeholder="Số lượng trả"
              [(ngModel)]="partNumberSelected.requestQty"
              type="number"
            /> -->
            <dx-validation-group #formGroup>
              <dx-number-box
                [(value)]="partNumberSelected.requestQty"
                [min]="1"
                [max]="100"
                [showSpinButtons]="true"
                placeholder="Nhập số lượng"
              >
                <dx-validator>
                  <!-- Bắt buộc nhập -->
                  <dxi-validation-rule
                    type="required"
                    message="Vui lòng nhập số lượng"
                  ></dxi-validation-rule>

                  <!-- Phải >= 1 -->
                  <dxi-validation-rule
                    type="range"
                    [min]="1"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-number-box>
            </dx-validation-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
