<div class="wrap" style="padding: 20px;">
  <nz-collapse>
    <nz-collapse-panel
      nzHeader="Change Password"
      [nzActive]="true"
      [nzShowArrow]="false"
    >
    <div style="text-align: center;">
        <label style="color: green; font-weight: bold;">* Attention: You need to re-login after changing the password!</label>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        
        <label>&nbsp;</label>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Current Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your Current Password">
                <nz-input-group [nzSuffix]="curPassTpl">
                    <input nz-input [type]="curPassVisible ? 'text' : 'password'" placeholder="Current Password" formControlName="currentPassword" />
                </nz-input-group>
                <ng-template #curPassTpl>
                    <i nz-icon [nzType]="curPassVisible ? 'eye' : 'eye-invisible'" (click)="curPassVisible = !curPassVisible"></i>
                  </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>New Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Password must contain at least 8 characters including letters and numbers and special characters">
                <nz-input-group [nzSuffix]="newPassTpl">
                    <input nz-input [type]="newPassVisible ? 'text' : 'password'" placeholder="New Password" formControlName="newPassword" (ngModelChange)="validateConfirmPassword()" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&`]{8,}$" />
                </nz-input-group>
                <ng-template #newPassTpl>
                    <i nz-icon [nzType]="newPassVisible ? 'eye' : 'eye-invisible'" (click)="newPassVisible = !newPassVisible"></i>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
                <nz-input-group [nzSuffix]="conPassTpl">
                    <input nz-input [type]="conPassVisible ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm Password" />
                </nz-input-group>
                <ng-template #conPassTpl>
                    <i nz-icon [nzType]="conPassVisible ? 'eye' : 'eye-invisible'" (click)="conPassVisible = !conPassVisible"></i>
                </ng-template>
                <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [nzLoading]="isLoading">Change Password</button>
            </nz-form-control>
        </nz-form-item>
    </form>
    </nz-collapse-panel>
  </nz-collapse>
</div>
