<dx-data-grid
  keyExpr="id"
  #stopTimesGrid
  [dataSource]="stopTimes"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false"
  [hoverStateEnabled]="true"
  (onCellPrepared)="onCellPrepared($event)"
  (onExporting)="onExportStopTimes($event)"
  style="margin-top: 15px"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button
        stylingMode="contained"
        type="success"
        icon="plus"
        text="Nhập dữ liệu"
        (onClick)="openInputModal()"
      >
      </dx-button>
    </dxi-item>

    <dxi-item location="after">
      <dx-date-range-box
        id="range-date"
        style="margin-top: -15px"
        [displayFormat]="'yyyy-MM-dd'"
        style="width: 300px"
        startDateLabel="Start time"
        endDateLabel="End time"
        labelMode="static"
        [(startDate)]="searchVo.dateRange[0]"
        [(endDate)]="searchVo.dateRange[1]"
      >
      </dx-date-range-box>
    </dxi-item>
    <dxi-item location="after">
      <dx-button
        *ngIf="!isLoading"
        [stylingMode]="'outlined'"
        icon="search"
        text=""
        type="default"
        (onClick)="getStopTimes()"
      >
      </dx-button>
      <nz-spin *ngIf="isLoading" nzSimple></nz-spin>
    </dxi-item>
    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton" location="after"></dxi-item>
  </dxo-toolbar>

  <dxi-column
    dataField="dateStart"
    dataType="date"
    caption="Date"
    format="yyyy-MM-dd"
  ></dxi-column>
  <dxi-column dataField="lineName" caption="Line"></dxi-column>
  <dxi-column dataField="model" caption="Model"></dxi-column>
  <dxi-column dataField="stopGroupName" caption="Nhóm"></dxi-column>
  <dxi-column dataField="stopTypeName" caption="Loại"></dxi-column>
  <dxi-column dataField="stopItemName" caption="Hạng mục"></dxi-column>
  <dxi-column dataField="numBox" caption="Số hộp"></dxi-column>
  <dxi-column
    dataField="startTime"
    dataType="date"
    caption="Start Time"
    format="yyyy-MM-dd HH:mm"
  ></dxi-column>
  <dxi-column
    dataField="stopTime"
    dataType="date"
    caption="End Time"
    format="yyyy-MM-dd HH:mm"
  ></dxi-column>
  <dxi-column dataField="duration" caption="Total Time"></dxi-column>
  <dxi-column dataField="shiftName" caption="Ca làm việc"></dxi-column>
  <dxi-column dataField="userName" caption="Nhân viên"></dxi-column>
  <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>
  <dxi-column
    caption="Action"
    cellTemplate="cellTemplate"
    alignment="center"
    [fixed]="true"
    fixedPosition="right"
  >
  </dxi-column>
  <div *dxTemplate="let cell of 'cellTemplate'" style="text-align: center">
    <a
      style="color: red"
      nz-popconfirm
      nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không ?"
    >
      Xóa
    </a>
  </div>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenInputModal"
  [nzTitle]="'Khu vực: ' + userArea?.productTypeName"
  (nzOnCancel)="isOpenInputModal = false"
  [nzWidth]="'100vw'"
  nzDraggable
>
  <ng-container *nzModalContent>
    <nz-table
      id="input-form"
      [nzData]="['']"
      nzBordered
      nzSize="small"
      [nzFrontPagination]="false"
    >
      <tbody>
        <tr>
          <td style="width: 10%"><label>Item</label></td>
          <td colspan="3">
            <nz-select
              nzPlaceHolder="Chọn hạng mục"
              nzShowSearch
              nzAllowClear
              style="width: 100%"
              [(ngModel)]="stopTimeCreate.item"
              (ngModelChange)="onChangeStopItem($event)"
            >
              <nz-option
                *ngFor="let item of stopItems"
                [nzValue]="item.id"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Group</label></td>
          <td>
            <input
              nz-input
              placeholder="Nhóm"
              readonly
              [(ngModel)]="itemSelected.stopGroupName"
            />
          </td>
          <td><label>Type</label></td>
          <td>
            <input
              nz-input
              placeholder="Loại"
              readonly
              [(ngModel)]="itemSelected.stopTypeName"
            />
          </td>
        </tr>
        <tr>
          <td><label>Máy</label></td>
          <td>
            <nz-select
              nzPlaceHolder="Chọn máy"
              nzShowSearch
              nzAllowClear
              style="width: 100%"
            >
              <nz-option
                *ngFor="let line of lines"
                [nzValue]="line.id"
                [nzLabel]="line.name"
              ></nz-option>
            </nz-select>
          </td>
          <td><label>Ca</label></td>
          <td>
            <nz-select
              nzPlaceHolder="Chọn ca làm"
              nzShowSearch
              nzAllowClear
              style="width: 100%"
            >
              <nz-option
                *ngFor="let shift of shifts"
                [nzValue]="shift.id"
                [nzLabel]="shift.name"
              ></nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Time</label></td>
          <td>
            <nz-date-picker
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm"
              nzPlaceHolder="Bắt đầu"
              style="width: 45%"
            ></nz-date-picker>
            ->
            <nz-date-picker
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm"
              nzPlaceHolder="Kết thúc"
              style="width: 45%"
            ></nz-date-picker>
          </td>
          <td><label>Model</label></td>
          <td>
            <nz-select
              nzPlaceHolder="Chọn Model"
              nzShowSearch
              nzAllowClear
              style="width: 100%"
            >
              <nz-option
                *ngFor="let model of models"
                [nzValue]="model.id"
                [nzLabel]="model.name"
              ></nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td>
            <label>Remark</label>
          </td>
          <td>
            <input nz-input placeholder="Nhập ghi chú" />
          </td>
          <td>
            <label>Số hộp</label>
          </td>
          <td>
            <input nz-input placeholder="Nhập số hộp" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenInputModal = false">
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="isOpenInputModal = false"
      [nzLoading]="isLoading"
    >
      Lưu
    </button>
  </div>
</nz-modal>
