<nz-breadcrumb>
  <nz-breadcrumb-item>Relay Factory</nz-breadcrumb-item>
  <nz-breadcrumb-item>Kho trung chuyển</nz-breadcrumb-item>
  <nz-breadcrumb-item>Nhận NVL từ Warehouse</nz-breadcrumb-item>
  <nz-breadcrumb-item>Chi tiết</nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<span style="font-weight: bold">Nhận NVL cho phiếu: </span>
<nz-tag [nzColor]="'blue'">{{ slipNo }}</nz-tag>
<nz-divider></nz-divider>
<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
  <div nz-col nzXs="12" nzSm="8" nzLg="6">
    <nz-select
      nzShowSearch
      nzAllowClear
      ngModel="lucy"
      nzPlaceHolder="Chọn người giao"
      [(ngModel)]="sender"
    >
      <nz-option
        class="option"
        *ngFor="let user of users"
        [nzValue]="user.username"
        [nzLabel]="
          user.name + ' - ' + user.username + ' - ' + user.subsectionCode
        "
      >
      </nz-option>
    </nz-select>
  </div>
  <div nz-col nzXs="12" nzSm="8" nzLg="6">
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Chọn người nhận"
      [(ngModel)]="receiver"
    >
      <nz-option
        class="option"
        *ngFor="let user of users"
        [nzValue]="user.username"
        [nzLabel]="
          user.name + ' - ' + user.username + ' - ' + user.subsectionCode
        "
      >
      </nz-option>
    </nz-select>
  </div>
  <div nz-col nzXs="12" nzSm="8" nzLg="12" style="float: right">
    <div style="float: right">
      <button
        nz-button
        nzType="primary"
        (click)="showModal()"
        style="margin-right: 5px"
      >
        Nhận NVL
      </button>
      <button
        nz-button
        nzType="primary"
        style="background: #28a745; margin-right: 5px"
        (click)="openQACardModal()"
      >
        Chuyển NVL vào WH-LINE
      </button>
      <!-- <button nz-button nzType="default" style="margin-right: 5px">
          Xuất Excel
        </button> -->
      <button
        nz-button
        nzType="default"
        nzDanger
        (click)="isOpenErrorModal = true"
      >
        <i nz-icon nzType="warning" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>
<nz-table
  style="margin-top: 15px"
  #basicTable
  nzBordered=""
  nzSize="small"
  [nzData]="lots"
  nzFrontPagination="false"
>
  <thead>
    <tr>
      <th>Part No</th>
      <th>Lot Group</th>
      <th>Lot No</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td style="font-weight: bold">
        {{ data.partNo }}
        <span class="qty">(Qty: {{ data.qty | number: "1.0-3" }})</span>
      </td>
      <td style="font-weight: bold">
        <ul>
          <li *ngFor="let lotGroup of data.lotGroups">
            {{ lotGroup.lotGroup }}
            <span class="qty">(Qty: {{ lotGroup.qty | number: "1.0-3" }})</span>
          </li>
        </ul>
      </td>
      <td style="font-weight: bold">
        <ul>
          <li *ngFor="let lotNo of data.lots">
            <span [style]="lotNo.receiver ? 'background: #c5e1a5' : ''">
              {{ lotNo.lotNo }}
            </span>
            <span class="qty">(Qty: {{ lotNo.qty | number: "1.0-3" }})</span>
            <span
              *ngIf="lotNo.receiver"
              style="color: #1890ff; margin-left: 10px"
            >
              Đã nhận
            </span>
            <span
              *ngIf="lotNo.receiver"
              style="color: red; margin-left: 5px"
              nz-popconfirm
              [nzPopconfirmTitle]="'Xóa: ' + lotNo.lotNo"
              (nzOnConfirm)="deleteLot(lotNo)"
            >
              Xóa
            </span>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isOpenScanQRCodeModal"
  nzTitle="Nhận nguyên vật liệu"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <input
        nz-input
        #qrCodeIpt
        placeholder="Scan QR Code"
        (keydown.enter)="scanQRCode($event)"
        (click)="qrCodeIpt.select()"
        autocomplete="off"
        style="font-weight: bold"
      />
      <nz-alert
        *ngIf="lotErrMsg"
        id="error-msg"
        nzBanner
        nzShowIcon
        style="margin-top: 10px"
        nzType="error"
        [nzMessage]="lotErrMsg"
      >
      </nz-alert>
      <nz-table
        #qrTbl
        [nzData]="listLotsScanned"
        style="margin-top: 15px"
        nzBordered
        nzSize="small"
        [nzFrontPagination]="true"
        [nzPageSize]="12"
      >
        <thead>
          <tr>
            <th>Part No</th>
            <th>Lot No</th>
            <th>Qty</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of qrTbl.data">
            <td>{{ data.partNo }}</td>
            <td>{{ data.lotNo }}</td>
            <td class="editable-row" style="text-align: right">
              <div
                class="editable-cell"
                [hidden]="lotNoEdit === data.lotNo"
                (click)="startEdit(data)"
              >
                {{ data.qty | number: "1.0-3" }}
              </div>
              <input
                #importQtyIpt
                [hidden]="lotNoEdit !== data.lotNo"
                type="number"
                nz-input
                [(ngModel)]="data.qty"
                (blur)="stopEdit()"
              />
            </td>
            <td
              style="text-align: center"
              nz-popconfirm
              nzPopconfirmTitle="Có chắc chắn xóa không ?"
              (nzOnConfirm)="deleteQRCodeScanned(data)"
              nzPopconfirmPlacement="top"
              nzRight
            >
              <a style="color: red; font-weight: bold">Xóa</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenScanQRCodeModal = false">
      Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="receiveLotsFromPWH()"
      [nzLoading]="isLoading"
    >
      Lưu
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenErrorModal"
  nzTitle="Danh sách lỗi"
  nzWidth="950px"
>
  <ng-container *nzModalContent>
    <nz-table
      #errorScanTbl
      [nzData]="errorScanList"
      nzBordered
      nzSize="small"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th>Thông tin lỗi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of errorScanTbl.data">
          <td>
            <span>{{ data }}</span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="clearErrorScan()">Xóa</button>
    <button nz-button nzType="primary" (click)="isOpenErrorModal = false">
      Close
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenQACardModal"
  nzTitle="Chuyển NVL đã nhận vào LINE-WH"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <label>QA CARD</label>
      <input
        nz-input
        #qaCardIpt
        placeholder="Scan QR Card"
        [(ngModel)]="qaCard"
      />
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelMoveMaterialToLineWh()">
      Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="moveMaterialToLineWh()"
      [nzLoading]="isLoading"
    >
      Chuyển
    </button>
  </div>
</nz-modal>
