nz-table {
  width: 100%;
  ul {
    margin-left: -34px;
  }

  td.ant-table-cell {
    vertical-align: top;
  }

  label {
    font-weight: bold;
    color: blue;
  }
}

nz-select {
  width: 100%;
}
