<div nz-row [nzGutter]="24">
  <div
    nz-col
    nzXs="6"
    nzSm="6"
    nzMd="6"
    nzLg="6"
    class="comp"
    *ngFor="let comp of components"
  >
    <dx-text-box
      *ngIf="comp.type === 'text-box'"
      [label]="comp.label"
      labelLocation="left"
      showColonAfterLabel="true"
      [labelMode]="'static'"
      [placeholder]="comp.placeholder ?? ''"
      [(ngModel)]="formData[comp.id]"
      #textBox
    >
    </dx-text-box>

    <dx-select-box
      *ngIf="comp.type === 'select-box'"
      [label]="comp.label"
      labelLocation="left"
      [items]="comp.items ?? []"
      [(ngModel)]="formData[comp.id]"
      #selectBox
    >
    </dx-select-box>

    <dx-date-box
      *ngIf="comp.type === 'date-box'"
      type="date"
      [label]="comp.label"
      [inputAttr]="{ 'aria-label': 'Date' }"
      [(ngModel)]="formData[comp.id]"
    >
    </dx-date-box>
  </div>
</div>
<hr />
<button nz-button nzType="primary" (click)="getFormData()">
  Get Form Data
</button>
