.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
    background-color: red;
    color: unset;
}

#infoTbl, #detailTbl {
    label {
        font-weight: bold;
        color: blue;
    }
    span {
        font-weight: bold;
        color: green;
    }

    nz-select {
        width: 100%;
    }
}

