<nz-breadcrumb>
  <nz-breadcrumb-item> Packing </nz-breadcrumb-item>
  <nz-breadcrumb-item> OQC Request</nz-breadcrumb-item>
</nz-breadcrumb>
<br />

<nz-collapse>
  <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="true" [nzShowArrow]="true">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="5">
        <label nzXs="24" nzSm="24" nzLg="24">Trạng thái</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Trạng thái"
            nzAllowClear
            nzMode="multiple"
            [nzMaxTagCount]="3"
            [(ngModel)]="searchParams.requestStatusList"
            [nzDropdownMatchSelectWidth]="false"
          >
            <nz-option [nzValue]="1" nzLabel="Chờ xử lý"></nz-option>
            <nz-option [nzValue]="2" nzLabel="Đang xử lý"></nz-option>
            <nz-option [nzValue]="3" nzLabel="Đã xử lý"></nz-option>
          </nz-select>
          <!-- <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template> -->
        </div>
      </div>

      <div nz-col nzXs="12" nzSm="12" nzLg="5">
        <label nzXs="24" nzSm="24" nzLg="24">Ngày request</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-range-picker
            [(ngModel)]="searchParams.requestDateRange"
            nzFormat="yyyy-MM-dd"
            nzMode="date"
          >
          </nz-range-picker>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="5">
        <label nzXs="24" nzSm="24" nzLg="24">&nbsp;</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <button nz-button nzType="primary" (click)="onSearch()">
            Search
          </button>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<dx-data-grid
  style="margin-top: 5px"
  id="gridContainer"
  [dataSource]="oqcRequests"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  (onRowPrepared)="onRowPrepared($event)"
  (onExporting)="onExportClient($event)"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-column-chooser #columnChooser [enabled]="true" [mode]="'select'">
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button
        stylingMode="contained"
        type="default"
        icon="plus"
        text="Tạo request OQC"
        (click)="openModal()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column
    caption="Mã request"
    dataField="reqNo"
    cellTemplate="detailTemplate"
  >
    <div *dxTemplate="let item of 'detailTemplate'" style="text-align: center">
      <a (click)="openDetailModal(item)">
        {{ item.data.reqNo }}
      </a>
      <div>
        {{ item.data.isSpecialRequest == 1 ? " (Cần xác nhận)" : "" }}
      </div>
    </div>
  </dxi-column>

  <dxi-column
    caption="QA card"
    dataField="qaCard"
    [visible]="false"
  ></dxi-column>
  <dxi-column caption="Model" dataField="model"></dxi-column>
  <dxi-column caption="Shift" dataField="shift" alignment="center"></dxi-column>
  <dxi-column
    caption="Date Code"
    dataField="dateCode"
    cellTemplate="dateCodeTemplate"
  >
    <div *dxTemplate="let item of 'dateCodeTemplate'">
      <ul style="margin-left: -29px" *ngIf="item.data.dateCode">
        <li *ngFor="let a of item.data.dateCode.split(';')">
          {{ a.split(":")[0] }} : {{ a.split(":")[1] | number : "1.0-3" }}
        </li>
      </ul>
      <span
        style="color: red; font-style: italic; font-size: 13px"
        *ngIf="!item.data.dateCode"
        >Không có Date Code</span
      >
    </div>
  </dxi-column>

  <dxi-column caption="Số lượng" dataField="qty" cellTemplate="qtyTemplate">
    <div *dxTemplate="let item of 'qtyTemplate'" style="text-align: right">
      {{
        (item.data.sortingQty ? item.data.sortingQty : item.data.qty)
          | number : "1.0-3"
      }}
    </div>
  </dxi-column>

  <dxi-column
    caption="Người request"
    dataField="createdByName"
    [visible]="false"
  ></dxi-column>
  <dxi-column
    caption="Ngày tạo"
    dataField="createdAt"
    dataType="date"
    format="yyyy-MM-dd"
    alignment="center"
  ></dxi-column>
  <dxi-column
    caption="Ngày xuất"
    dataField="deliveryDate"
    dataType="date"
    format="yyyy-MM-dd"
    alignment="center"
  ></dxi-column>

  <dxi-column
    caption="Status"
    dataField="requestStatusName"
    alignment="center"
  ></dxi-column>

  <dxi-column caption="Remark" dataField="remark"></dxi-column>

  <dxi-column
    caption="Kết quả"
    dataField="judgment"
    cellTemplate="judgmentTemplate"
  >
    <div
      *dxTemplate="let item of 'judgmentTemplate'"
      style="text-align: center; font-weight: bold"
    >
      <span>{{ item.data.judgment }}</span>
    </div>
  </dxi-column>
  <dxi-column
    caption="Độ ưu tiên"
    dataField="priorityName"
    alignment="center"
  ></dxi-column>

  <dxi-column
    caption="Action"
    cellTemplate="actionTemplate"
    [fixed]="true"
    fixedPosition="right"
  >
    <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
      <a (click)="openDetailModal(item)" style="color: blue">Sửa</a>
    </div>
  </dxi-column>

  <dxo-paging [pageSize]="50"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<!-- Tạo request OQC Modal -->
<nz-modal [(nzVisible)]="isOpenModal" nzTitle="Tạo request OQC" nzWidth="100%">
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="top" [nzGutter]="24">
      <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16">
        <div *ngIf="qaCards">
          <nz-table
            id="infoTbl"
            nzSize="small"
            nzBordered
            [nzData]="['']"
            nzFrontPagination="false"
          >
            <thead>
              <tr>
                <th>QA Card</th>
                <th colSpan="3">
                  <nz-select
                    style="width: 100%"
                    nzShowSearch
                    nzAllowClear
                    [(ngModel)]="requestCreate.qaCard"
                    (ngModelChange)="selectQaCard($event)"
                    nzPlaceHolder="Scan QA card"
                  >
                    <nz-option
                      *ngFor="let qa of qaCards"
                      [nzValue]="qa.qaCard"
                      [nzLabel]="qa.qaCard"
                    ></nz-option>
                  </nz-select>
                </th>
                <!-- <th>
                  <label>Cảnh báo: </label>
                  <nz-tag [nzColor]="'#f50'">NG</nz-tag>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 25%">
                  <label>Model:</label>&nbsp;<span>{{
                    requestCreate.qaCard
                      ? requestCreate.qaCard.split("*")[0]
                      : null
                  }}</span>
                </td>
                <td style="width: 25%">
                  <label>Line:</label>&nbsp;<span>{{
                    requestCreate.qaCard
                      ? requestCreate.qaCard.split("*")[1]
                      : null
                  }}</span>
                </td>
                <td style="width: 25%">
                  <label>Date:</label>&nbsp;<span>{{
                    requestCreate.qaCard
                      ? requestCreate.qaCard.split("*")[2]
                      : null
                  }}</span>
                </td>
                <td style="width: 25%">
                  <label>Shift:</label>&nbsp;<span>{{
                    requestCreate.qaCard
                      ? requestCreate.qaCard.split("*")[3]
                      : null
                  }}</span>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <div
            nz-row
            nzJustify="start"
            nzAlign="top"
            [nzGutter]="24"
            style="margin-top: -20px"
          >
            <div nz-col nzXs="24" nzSm="24" nzLg="24">
              <nz-table
                id="dateCodeTbl"
                #dateCodeTbl
                [nzData]="requestCreate.dateCodes"
                nzBordered
                nzSize="small"
                nzFrontPagination="false"
              >
                <thead>
                  <tr>
                    <th>Date Code</th>
                    <th>Customer Code</th>
                    <th>Qty</th>
                    <th>Người tạo</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dateCodeTbl.data">
                    <td>{{ data.dateCode }}</td>
                    <td>{{ data.customerCode }}</td>
                    <td style="text-align: right">
                      {{ data.qty | number : "1.0-3" }}
                    </td>
                    <td>{{ data.employeeName }}</td>
                    <td></td>
                  </tr>
                  <tr id="sorting" *ngIf="requestCreate.qaCard">
                    <td colspan="2">
                      <label style="font-weight: bold">Tổng số</label>
                    </td>
                    <td style="text-align: right">
                      <label
                        style="color: green; font-weight: bold"
                        *ngIf="!requestCreate.isSorting"
                        >{{ requestCreate.totalQty | number : "1.0-3" }}</label
                      >
                      <dx-number-box
                        *ngIf="requestCreate.isSorting"
                        id="total-qty"
                        format="#,##0"
                        [(value)]="requestCreate.sortingQty"
                      ></dx-number-box>
                    </td>
                    <td>
                      <label style="font-weight: bold">Hàng sorting</label>
                    </td>
                    <td>
                      <nz-radio-group
                        [(ngModel)]="requestCreate.isSorting"
                        (ngModelChange)="changeMode($event)"
                      >
                        <label nz-radio [nzValue]="true">Yes</label>
                        <label nz-radio [nzValue]="false">No</label>
                      </nz-radio-group>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
        <hr />
        <nz-table
          nzSize="small"
          nzBordered
          [nzData]="['']"
          nzFrontPagination="false"
        >
          <thead>
            <tr>
              <th style="width: 20%">Ngày xuất</th>
              <th style="width: 30%">
                <nz-date-picker
                  style="width: 100%"
                  [(ngModel)]="requestCreate.deliveryDate"
                ></nz-date-picker>
              </th>
              <th style="width: 20%">Độ ưu tiên</th>
              <th style="width: 30%">
                <nz-select
                  style="width: 100%"
                  nzShowSearch
                  nzAllowClear
                  [(ngModel)]="requestCreate.priority"
                >
                  <nz-option [nzValue]="1" [nzLabel]="'Cao'"></nz-option>
                  <nz-option [nzValue]="2" [nzLabel]="'Trung bình'"></nz-option>
                  <nz-option [nzValue]="3" [nzLabel]="'Thấp'"></nz-option>
                </nz-select>
              </th>
            </tr>
            <tr>
              <th>Ghi chú</th>
              <th colSpan="3">
                <nz-textarea-count [nzMaxCharacterCount]="100">
                  <textarea
                    rows="4"
                    nz-input
                    placeholder="Nhập ghi chú"
                    [(ngModel)]="requestCreate.remark"
                    maxlength="100"
                  ></textarea>
                </nz-textarea-count>
              </th>
            </tr>
          </thead>
        </nz-table>
        <nz-alert
          *ngIf="errorCreateRequestMsg"
          id="error-msg"
          nzBanner
          nzShowIcon
          nzType="error"
          [nzMessage]="errorCreateRequestMsg"
        >
        </nz-alert>
      </div>
      <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8">
        <dx-data-grid
          keyExpr="model"
          #materialTbl
          [dataSource]="materialScanned"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [rowAlternationEnabled]="true"
        >
          <dxi-column
            dataField="model"
            caption="Part No"
            alignment="left"
          ></dxi-column>
          <dxi-column
            dataField="receiveQty"
            caption="Qty (Issued)"
            alignment="right"
            dataType="number"
            format="#,##0"
          ></dxi-column>
          <dxi-column
            dataField="scanQty"
            caption="Qty (Scanned)"
            cellTemplate="scanQtyTemplate"
          ></dxi-column>
          <div
            *dxTemplate="let item of 'scanQtyTemplate'"
            style="text-align: right"
          >
            <nz-tag
              *ngIf="!item.data.scanQty || item.data.scanQty == 0"
              [nzColor]="'red'"
              [nzBordered]="false"
              >Chưa scan NVL</nz-tag
            >
            {{ item.data.scanQty | number : "1.0-3" }}
          </div>

          <dxo-summary>
            <dxi-total-item
              column="receiveQty"
              summaryType="sum"
              valueFormat="#,##0"
              displayFormat="Tổng: {0}"
            ></dxi-total-item>

            <dxi-total-item
              column="scanQty"
              summaryType="sum"
              valueFormat="#,##0"
              displayFormat="Tổng: {0}"
            ></dxi-total-item>
          </dxo-summary>

          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 25, 50, 100]"
          >
          </dxo-pager>
        </dx-data-grid>

        <span>Tỷ lệ: Qty (DateCode) so với Qty (Line scan) </span>

        <nz-table
          nzBordered
          nzFrontPagination="false"
          nzSize="small"
          [nzData]="['']"
        >
          <thead>
            <tr>
              <th>Qty (DateCode)</th>
              <th>Qty (Line Scanned)</th>
              <th>Tỷ lệ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ requestCreate.totalQty | number : "1.0-3" }}</td>
              <td>{{ totalQtyMaterialScanned | number : "1.0-3" }}</td>
              <td>
                {{
                  (requestCreate.totalQty && totalQtyMaterialScanned
                    ? (requestCreate.totalQty / totalQtyMaterialScanned) * 100
                    : 0
                  ) | number : "1.0-3"
                }}
                %
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="createOqcRequest()">
      Tạo Request
    </button>
  </div>
</nz-modal>

<!-- Thông tin Request -->
<nz-modal
  [(nzVisible)]="isOpenDetailModal"
  nzTitle="Thông tin Request"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table
      id="detailTbl"
      nzSize="small"
      nzBordered
      [nzData]="['']"
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td><label>Mã Request</label></td>
          <td>{{ requestUpdate.reqNo }}</td>
          <td><label>QA Card</label></td>
          <td>{{ requestUpdate.qaCard }}</td>
        </tr>
        <tr>
          <td><label>Date Code</label></td>
          <td>{{ requestUpdate.dateCode }}</td>
          <td>
            <label>{{
              requestUpdate.sortingQty ? "SL sau Sorting" : "Số lượng"
            }}</label>
          </td>
          <td>
            <div
              *ngIf="
                requestUpdate.sortingQty;
                then inputSortingQtyTemplate;
                else labelQtyTemplate
              "
            ></div>
            <ng-template #inputSortingQtyTemplate>
              <dx-number-box
                id="total-qty"
                format="#,##0"
                [(value)]="requestUpdate.sortingQty"
              ></dx-number-box>
            </ng-template>
            <ng-template #labelQtyTemplate>
              <div>{{ requestUpdate.qty | number : "1.0-3" }}</div>
            </ng-template>
          </td>
        </tr>
        <tr>
          <td><label>Model</label></td>
          <td>{{ requestUpdate.model }}</td>
          <td><label>Người tạo</label></td>
          <td>
            {{ requestUpdate.createdByName }} - {{ requestUpdate.createdBy }}
          </td>
        </tr>
        <tr>
          <td><label>Status</label></td>
          <td>{{ requestUpdate.requestStatusName }}</td>
          <td><label>Kết quả</label></td>
          <td>
            <nz-tag
              *ngIf="requestUpdate.judgment"
              [nzColor]="requestUpdate.judgment == 'OK' ? '#87d068' : '#f50'"
              >{{ requestUpdate.judgment }}</nz-tag
            >
          </td>
        </tr>

        <tr>
          <td><label>Ngày xuất</label></td>
          <td>
            <nz-date-picker
              style="width: 100%"
              [(ngModel)]="requestUpdate.deliveryDate"
            ></nz-date-picker>
          </td>
          <td><label>Độ ưu tiên</label></td>
          <td>
            <nz-select
              style="width: 100%"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn độ ưu tiên"
              [(ngModel)]="requestUpdate.priority"
            >
              <nz-option [nzValue]="1" [nzLabel]="'Cao'"></nz-option>
              <nz-option [nzValue]="2" [nzLabel]="'Trung bình'"></nz-option>
              <nz-option [nzValue]="3" [nzLabel]="'Thấp'"></nz-option>
            </nz-select>
          </td>
        </tr>

        <tr>
          <td><label>Ghi chú</label></td>
          <td colspan="3">
            <textarea
              rows="3"
              nz-input
              placeholder="Nhập ghi chú"
              [(ngModel)]="requestUpdate.remark"
            ></textarea>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeDetailModal()">
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      nz-popconfirm
      nzPopconfirmTitle="Bạn có chắc chắn muốn lưu ?"
      (nzOnConfirm)="updateOqcRequest()"
    >
      Lưu
    </button>
  </div>
</nz-modal>

<!-- Request Đặc biệt trường hợp ko scan hàng đủ -->
<nz-modal
  [(nzVisible)]="isOpenSpecialModal"
  nzTitle="Yêu cầu chấp nhận đặc biệt"
  nzDraggable
  nzCentered
>
  <ng-container *nzModalContent>
    <span style="color: red; font-style: italic"
      >(*) Chú ý: Do trong dây truyền chưa scan đủ NVL nên request cần phải chấp
      nhận đặc biệt để cho phép OQC đánh giá</span
    >
    <textarea
      rows="3"
      nz-input
      placeholder="Nhập ghi chú"
      [(ngModel)]="requestCreate.remark"
      maxlength="100"
      [readOnly]="true"
      style="margin-top: 5px"
    ></textarea>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="createAbnormalRequest()" [nzLoading]="isLoading">
      Tạo yêu cầu đặc biệt
    </button>
  </div>
</nz-modal>
