<nz-breadcrumb>
  <nz-breadcrumb-item> Packing </nz-breadcrumb-item>
  <nz-breadcrumb-item> OQC Request</nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<div nz-row nzJustify="start" nzAlign="top" [nzGutter]="24">
  <div nz-col nzXs="12" nzSm="12" nzLg="12">
    <button nz-button nzType="primary" (click)="openModal()">
      <span nz-icon nzType="plus"></span>
      Tạo request OQC
    </button>
  </div>
  <div nz-col nzXs="12" nzSm="12" nzLg="12">
    <button
      nz-button
      nzType="default"
      style="float: right"
      routerLink="/admin/packing/packing-oqc-request/summary"
    >
      <span nz-icon nzType="area-chart"></span>
      Thống kê
    </button>
  </div>
</div>

<dx-data-grid
  style="margin-top: 5px"
  id="gridContainer"
  [dataSource]="oqcRequests"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  (onRowPrepared)="onRowPrepared($event)"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column
    caption="Mã request"
    dataField="reqNo"
    cellTemplate="detailTemplate"
  >
    <div *dxTemplate="let item of 'detailTemplate'" style="text-align: center">
      <a style="color: blue" (click)="isOpenDetailModal = true">{{
        item.data.reqNo
      }}</a>
    </div>
  </dxi-column>

  <dxi-column caption="QA card" dataField="qaCard"></dxi-column>
  <dxi-column caption="Date Code" dataField="dateCode"></dxi-column>
  <dxi-column
    caption="Số lượng"
    dataField="qty"
    dataType="number"
    format="#,##0"
  ></dxi-column>
  <dxi-column caption="Người request" dataField="createdByName"></dxi-column>
  <dxi-column
    caption="Ngày request"
    dataField="createdAt"
    dataType="date"
    format="yyyy-MM-dd"
  ></dxi-column>

  <dxi-column
    caption="Status"
    dataField="requestStatusId"
    cellTemplate="statusTemplate"
  ></dxi-column>
  <div *dxTemplate="let item of 'statusTemplate'" style="text-align: center">
    <span>{{ item.data.requestStatusName }}</span>
  </div>
  <dxi-column
    caption="Kết quả"
    dataField="judgment"
    cellTemplate="judgmentTemplate"
  >
    <div
      *dxTemplate="let item of 'judgmentTemplate'"
      style="text-align: center; font-weight: bold"
    >
      <span>{{ item.data.judgment }}</span>
    </div>
  </dxi-column>
  <dxi-column caption="Độ ưu tiên" dataField="priorityName"></dxi-column>
</dx-data-grid>

<nz-modal [(nzVisible)]="isOpenModal" nzTitle="Tạo request OQC" nzWidth="750px">
  <ng-container *nzModalContent>
    <div *ngIf="qaCards">
      <nz-table
        id="infoTbl"
        nzSize="small"
        nzBordered
        [nzData]="['']"
        nzFrontPagination="false"
      >
        <thead>
          <tr>
            <th>QA Card</th>
            <th colSpan="4">
              <nz-select
                style="width: 100%"
                nzShowSearch
                nzAllowClear
                [(ngModel)]="qaCard"
                (ngModelChange)="selectQaCard(qaCard)"
                nzPlaceHolder="Scan QA card"
              >
                <nz-option
                  *ngFor="let qa of qaCards"
                  [nzValue]="qa.qaCard"
                  [nzLabel]="qa.qaCard"
                ></nz-option>
              </nz-select>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 25%">
              <label>Model:</label>&nbsp;<span>{{ qaCardInfo.model }}</span>
            </td>
            <td style="width: 25%">
              <label>Line:</label>&nbsp;<span>{{ qaCardInfo.line }}</span>
            </td>
            <td style="width: 25%">
              <label>Date:</label>&nbsp;<span>{{ qaCardInfo.date }}</span>
            </td>
            <td style="width: 25%">
              <label>Shift:</label>&nbsp;<span>{{ qaCardInfo.shift }}</span>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <nz-table
        id="dateCodeTbl"
        #dateCodeTbl
        [nzData]="dateCodes"
        nzBordered
        nzSize="small"
        nzFrontPagination="false"
      >
        <thead>
          <tr>
            <th>Date Code</th>
            <th>Qty</th>
            <th>Người tạo</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dateCodeTbl.data">
            <td>{{ data.dateCode }}</td>
            <td style="text-align: right">
              {{ data.qty | number : "1.0-3" }}
            </td>
            <td>{{ data.employeeName }}</td>
            <td>{{ data.createdAt | date : "yyyy-MM-dd HH:mm" }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <hr />
    <nz-table
      nzSize="small"
      nzBordered
      [nzData]="['']"
      nzFrontPagination="false"
    >
      <thead>
        <tr>
          <th style="width: 20%">Độ ưu tiên</th>
          <th>
            <nz-select
              style="width: 100%"
              nzShowSearch
              nzAllowClear
              [(ngModel)]="priority"
            >
              <nz-option [nzValue]="1" [nzLabel]="'Cao'"></nz-option>
              <nz-option [nzValue]="2" [nzLabel]="'Trung bình'"></nz-option>
              <nz-option [nzValue]="3" [nzLabel]="'Thấp'"></nz-option>
            </nz-select>
          </th>
        </tr>
        <tr>
          <th>Ghi chú</th>
          <th>
            <textarea rows="4" nz-input placeholder="Nhập ghi chú"></textarea>
          </th>
        </tr>
      </thead>
    </nz-table>
    <nz-alert
      *ngIf="errorCreateRequestMsg"
      id="error-msg"
      nzBanner
      nzShowIcon
      nzType="error"
      [nzMessage]="errorCreateRequestMsg"
    >
    </nz-alert>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
    <button nz-button nzType="primary" (click)="createOqcRequest()">
      Tạo Request
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenDetailModal"
  nzTitle="Thông tin Request"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table
      id="detailTbl"
      nzSize="small"
      nzBordered
      [nzData]="['']"
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td><label>Mã Request</label></td>
          <td>ROQC-2022-12-15-2</td>
        </tr>
        <tr>
          <td><label>QA Card</label></td>
          <td>ACTL3CR3*TL1*2022-12-15*B*002</td>
        </tr>
        <tr>
          <td><label>Date Code</label></td>
          <td>21212V1; 21213V1; 21215V1</td>
        </tr>
        <tr>
          <td><label>Số lượng</label></td>
          <td>24,000</td>
        </tr>
        <tr>
          <td><label>Status</label></td>
          <td>Đang xử lý</td>
        </tr>
        <tr>
          <td><label>Kết quả</label></td>
          <td>OK</td>
        </tr>
        <tr>
          <td><label>File</label></td>
          <td><span nz-icon nzType="paper-clip" nzTheme="outline"></span></td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
