<dx-data-grid
  #iqcRequestGrid
  keyExpr="id"
  [dataSource]="iqcRequests"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="default"
          nz-tooltip
          [nzTooltipTitle]="'Tạo request IQC cho hàng mua ngoài'"
          [nzTooltipColor]="'blue'"
          (click)="openIqcRequestOutSideModal()"
        >
          <span nz-icon nzType="plus"></span>
          IQC REQUEST (OUTSIDE)
        </button>
        <button
          *nzSpaceItem
          nz-button
          nzType="default"
          nz-tooltip
          [nzTooltipTitle]="
            'Tạo request IQC cho hàng SORTING hoặc Re-Check (Hàng quá 6 tháng)'
          "
          [nzTooltipColor]="'blue'"
          (click)="redirectIqcReCheck()"
        >
          <span nz-icon nzType="plus"></span>
          IQC REQUEST (RECHECK)
        </button>
      </nz-space>
    </dxi-item>
    <dxi-item location="after">
      <nz-space>
        <nz-range-picker
          [(ngModel)]="searchParams.dateRange"
          nzFormat="yyyy-MM-dd"
          nzMode="date"
          nz-tooltip
          [nzTooltipTitle]="'Ngày tạo request'"
          [nzTooltipColor]="'blue'"
        >
        </nz-range-picker>
        <button nz-button nzType="default" (click)="getIqcRequests()">
          <span nz-icon nzType="search"></span>
        </button>
      </nz-space>
    </dxi-item>
    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton" location="after"></dxi-item>
  </dxo-toolbar>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxi-column
    caption=""
    cellTemplate="previewTemplate"
    [fixed]="true"
    fixedPosition="left"
  ></dxi-column>
  <div *dxTemplate="let item of 'previewTemplate'" style="text-align: center">
    <a (click)="openIqcRequestDetailModal(item.data)"
      ><span nz-icon nzType="eye" nzTheme="outline"></span
    ></a>
  </div>

  <dxi-column
    dataField="requestNo"
    caption="Request No"
    [visible]="true"
  ></dxi-column>
  <dxi-column dataField="slipNo" caption="SlipNo" [visible]="true"></dxi-column>
  <dxi-column
    dataField="invoice"
    caption="Invoice"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="supplier"
    caption="Supplier"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="statusName"
    caption="Status"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="requestedByName"
    caption="Người tạo"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="createdAt"
    caption="Ngày tạo"
    dataType="date"
    format="yyyy-MM-dd HH:mm"
    [visible]="true"
  ></dxi-column>
  <dxi-column dataField="type" caption="Type" [visible]="true"></dxi-column>
  <dxi-column
    dataField="classParam"
    caption="Class"
    [visible]="true"
  ></dxi-column>

  <dxi-column
    dataField="remark"
    caption="Ghi chú"
    [visible]="true"
  ></dxi-column>

  <dxi-column
    caption="Action"
    cellTemplate="actionTemplate"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-column>
  <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
    <button
      *ngIf="item.data.status == 1"
      nz-button
      nzType="default"
      (click)="handleRequest(item.data)"
    >
      Tiếp nhận
    </button>
    <a
      *ngIf="item.data.status != 1"
      nz-button
      nzType="link"
      (click)="redirectIqcDetail(item.data)"
      >Đánh giá</a
    >
  </div>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenIqcRequestOutSideModal"
  nzTitle="Tạo request IQC (OUTSIDE)"
>
  <ng-container *nzModalContent>
    <nz-table
      nzBordered
      [nzData]="['']"
      [nzFrontPagination]="false"
      nzSize="small"
    >
      <tbody>
        <tr>
          <td style="font-weight: bold">
            Slip No <span style="color: red">*</span>
          </td>
          <td>
            <input nz-input [(ngModel)]="iqcRequest.slipNo" readonly />
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">
            Invoice <span style="color: red">*</span>
          </td>
          <td>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Mã Invoice"
              [(ngModel)]="iqcRequest.invoice"
              (ngModelChange)="onSelectInvoice($event)"
              style="width: 100%"
            >
              <nz-option
                *ngFor="let item of purWhRecordDtos"
                [nzValue]="item.invoice"
                [nzLabel]="item.invoice"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">
            Supplier <span style="color: red">*</span>
          </td>
          <td>
            <input
              nz-input
              placeholder="Nhà cung cấp"
              [(ngModel)]="iqcRequest.supplier"
            />
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">Ghi chú</td>
          <td>
            <input
              nz-input
              placeholder="Ghi chú"
              [(ngModel)]="iqcRequest.remark"
            />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button
      nz-button
      nzType="default"
      (click)="isOpenIqcRequestOutSideModal = false"
    >
      Close
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createIqcRequestOutSide()"
      [nzLoading]="isLoading"
    >
      Tạo request
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  #iqcRequestDetailModal
  [(nzVisible)]="isOpenIqcRequestDetailModal"
  [nzTitle]="'RequestNo: ' + iqcRequest.requestNo"
  nzWidth="100%"
  (nzOnCancel)="isOpenIqcRequestDetailModal = false"
  (nzOnOk)="isOpenIqcRequestDetailModal = false"
>
  <ng-container *nzModalContent>
    <dx-data-grid
      #iqcDataGrid
      keyExpr="id"
      [dataSource]="iqcResults"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      (onExporting)="onExportClient($event)"
    >
      <dxo-grouping [autoExpandAll]="expandAll"></dxo-grouping>
      <dxo-column-chooser
        #columnChooser
        [enabled]="true"
        [mode]="'select'"
        [title]="'Cột hiển thị'"
      >
      </dxo-column-chooser>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-export [enabled]="true"></dxo-export>

      <dxo-toolbar>
        <dxi-item location="before">
          <nz-space nzAlign="center">
            <nz-tag id="expand" *nzSpaceItem (click)="toggleExpandAll()">
              <span nz-icon [nzType]=" expandAll ? 'minus-circle' : 'plus-circle'"></span>
              <span>{{expandAll ? 'Thu gọn' : 'Mở rộng'}}</span>
            </nz-tag>
            <div *nzSpaceItem>
              <nz-tag *ngIf="iqcRequest.invoice" nzColor="success">Invoice: {{iqcRequest.invoice}}</nz-tag>
            </div>
            <div *nzSpaceItem>
              <nz-tag *ngIf="iqcRequest.slipNo" nzColor="processing">SlipNo: {{iqcRequest.slipNo}}</nz-tag>
            </div>
          </nz-space>
        </dxi-item>
        <dxi-item name="exportButton" location="after" />
        <dxi-item name="columnChooserButton"></dxi-item>
      </dxo-toolbar>

      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <dxi-column
        dataField="model"
        caption="Model"
        [visible]="true"
        [groupIndex]="0"
      >
        <dxo-header-filter [allowSelectAll]="false">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>
      </dxi-column>

      <dxi-column
        dataField="lotGroup"
        caption="Lot Group"
        [visible]="true"
        [groupIndex]="1"
        [autoExpandGroup]="false"
      >
        <dxo-header-filter [allowSelectAll]="false">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>
      </dxi-column>

      <dxi-column
        dataField="lotNo"
        caption="LotNo"
        [visible]="true"
      ></dxi-column>
      <dxi-column
        dataField="qty"
        caption="Qty"
        [visible]="true"
        dataType="number"
        format="#,##0.0"
      ></dxi-column>

      <dxi-column caption="Kết quả IQC">
        <dxi-column
          dataField="result1"
          caption="Ngoại Quan"
          [visible]="true"
        ></dxi-column>

        <dxi-column
          dataField="result2"
          caption="Kích thước"
          [visible]="true"
        ></dxi-column>

        <dxi-column
          dataField="result3"
          caption="GP"
          [visible]="true"
        ></dxi-column>
      </dxi-column>

      <dxi-column caption="Mức kiểm soát">
        <dxi-column
          dataField="levelOfControl1"
          caption="Ngoại Quan"
          [visible]="true"
        ></dxi-column>
        <dxi-column
          dataField="levelOfControl2"
          caption="Kích thước"
          [visible]="true"
        ></dxi-column>
      </dxi-column>

      <dxi-column
        dataField="checkDate"
        caption="Ngày đánh giá"
        dataType="date"
        format="yyyy-MM-dd"
        [visible]="true"
      ></dxi-column>
      <dxi-column
        dataField="checkUserName"
        caption="Người đánh giá"
        [visible]="true"
      ></dxi-column>

      <dxi-column
        dataField="remark"
        caption="Remark"
        [visible]="true"
      ></dxi-column>

      <dxo-summary>
        <dxi-group-item
          column="lotGroup"
          summaryType="count"
          displayFormat="{0} boxes"
        >
        </dxi-group-item>
        <dxi-group-item
          column="qty"
          summaryType="sum"
          [showInGroupFooter]="false"
          [alignByColumn]="true"
          displayFormat="Total Qty: {0}"
          valueFormat="#,##0.0"
        >
        </dxi-group-item>
      </dxo-summary>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      >
      </dxo-pager>
    </dx-data-grid>
  </ng-container>
  <!-- <ng-template [nzModalFooter]>
    <button
      nz-button
      nzType="default"
      (click)="isOpenIqcRequestDetailModal = false"
    >
      Đóng
    </button>
  </ng-template> -->
</nz-modal>
