<nz-tabset>
  <nz-tab nzTitle="Đo đạc">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="24" nzLg="24">
        <nz-collapse>
          <nz-collapse-panel
            nzHeader="Thực hiện"
            [nzActive]="true"
            [nzShowArrow]="true"
          >
            <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
              <div nz-col nzXs="16" nzSm="16" nzMd="24" nzLg="24">
                <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">{{
                      valueNames[0]
                    }}</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <input
                        #value1Input
                        nz-input
                        type="number"
                        [(ngModel)]="value1"
                        [placeholder]="valueNames[0]"
                        (keypress)="onKeyPressValue1($event)"
                      />
                    </div>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">{{
                      valueNames[1]
                    }}</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <input
                        #value2Input
                        nz-input
                        type="number"
                        [(ngModel)]="value2"
                        [placeholder]="valueNames[1]"
                        (keypress)="onKeyPressValue2($event)"
                      />
                    </div>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">{{
                      valueNames[2]
                    }}</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <input
                        #value3Input
                        nz-input
                        type="number"
                        [(ngModel)]="value3"
                        [placeholder]="valueNames[2]"
                        (keypress)="onKeyPressValue3($event)"
                      />
                    </div>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">{{
                      valueNames[3]
                    }}</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <input
                        #value4Input
                        nz-input
                        type="number"
                        [(ngModel)]="value4"
                        [placeholder]="valueNames[3]"
                        (keypress)="onKeyPressValue4($event)"
                      />
                    </div>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">{{
                      valueNames[4]
                    }}</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <input
                        #value5Input
                        nz-input
                        type="number"
                        [(ngModel)]="value5"
                        [placeholder]="valueNames[4]"
                        (keypress)="onKeyPressValue5($event)"
                      />
                    </div>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="4" nzLg="4">
                    <label nzXs="24" nzSm="24" nzLg="24">&nbsp;</label>
                    <div nzXs="24" nzSm="24" nzLg="24">
                      <button nz-button nzType="primary" (click)="onAddBtn()">
                        Add
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <div nz-row nzJustify="start" nzAlign="top" [nzGutter]="24">
              <div nz-col nzXs="24" nzSm="24" nzLg="8">
                <textarea nz-input placeholder="Nhập ghi chú" nzAutosize [(ngModel)]="note" ></textarea>
              </div>
            </div>

            <br />

            <div
              nz-row
              nzJustify="start"
              nzAlign="top"
              [nzGutter]="24"
              *ngIf="insertData.length"
            >
              <div nz-col nzXs="24" nzSm="24" nzLg="16">
                <nz-table
                  #insertTable
                  nzBordered
                  nzSize="small"
                  [nzData]="insertData"
                  [nzFrontPagination]="false"
                >
                  <thead>
                    <tr>
                      <th class="text-center">Lần đo</th>
                      <th class="text-center">{{ valueNames[0] }}</th>
                      <th class="text-center">{{ valueNames[1] }}</th>
                      <th class="text-center">{{ valueNames[2] }}</th>
                      <th class="text-center">{{ valueNames[3] }}</th>
                      <th class="text-center">{{ valueNames[4] }}</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of insertTable.data; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td
                        [ngClass]="{
                          'text-center': true,
                          invalid:
                            data.e1 < standard.e1Min || data.e1 > standard.e1Max
                        }"
                      >
                        {{ data.e1 | number: "1.3" }}
                      </td>
                      <td
                        [ngClass]="{
                          'text-center': true,
                          invalid:
                            data.e2 < standard.e2Min || data.e2 > standard.e2Max
                        }"
                      >
                        {{ data.e2 | number: "1.3" }}
                      </td>
                      <td
                        [ngClass]="{
                          'text-center': true,
                          invalid:
                            data.e3 < standard.e3Min || data.e3 > standard.e3Max
                        }"
                      >
                        {{ data.e3 | number: "1.3" }}
                      </td>
                      <td
                        [ngClass]="{
                          'text-center': true,
                          invalid:
                            data.e4 < standard.e4Min || data.e4 > standard.e4Max
                        }"
                      >
                        {{ data.e4 | number: "1.3" }}
                      </td>
                      <td
                        [ngClass]="{
                          'text-center': true,
                          invalid:
                            data.e5 < standard.e5Min || data.e5 > standard.e5Max
                        }"
                      >
                        {{ data.e5 | number: "1.3" }}
                      </td>
                      <td class="text-center" (click)="onDeleteValue(data)">
                        Xóa
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
              <div nz-col nzXs="24" nzSm="24" nzLg="8">
                <button
                  nz-button
                  nzType="primary"
                  [nzLoading]="isLoading"
                  (click)="onSaveBtn()"
                >
                  Lưu
                </button>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Dữ liệu">
    <nz-table
      #detailTable
      nzBordered
      nzSize="small"
      [nzData]="detailsData"
      [nzFrontPagination]="true"
      [nzScroll]="{ x: '1200px' }"
    >
      <thead>
        <tr>
          <th class="text-center" style="width: 200px">QA Card</th>
          <th class="text-center">Line</th>
          <th class="text-center">Master</th>
          <th class="text-center">Khuôn</th>
          <th class="text-center">Model</th>
          <th class="text-center">Lý do</th>
          <th class="text-center">Thực hiện</th>
          <th class="text-center">{{ valueNames[0] }}</th>
          <th class="text-center">{{ valueNames[1] }}</th>
          <th class="text-center">{{ valueNames[2] }}</th>
          <th class="text-center">{{ valueNames[3] }}</th>
          <th class="text-center">{{ valueNames[4] }}</th>
          <th class="text-center">Thời gian</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of detailTable.data">
          <td>{{ data.qaCard }}</td>
          <td>{{ data.line }}</td>
          <td>{{ data.master }}</td>
          <td>{{ data.mold }}</td>
          <td>{{ data.model }}</td>
          <td>{{ data.reasonName }}</td>
          <td>{{ data.userName }}</td>
          <td
            [ngClass]="{
              'text-right': true,
              invalid: data.e1 < standard.e1Min || data.e1 > standard.e1Max
            }"
          >
            {{ data.e1 | number: "1.3" }}
          </td>
          <td
            [ngClass]="{
              'text-right': true,
              invalid: data.e2 < standard.e2Min || data.e2 > standard.e2Max
            }"
          >
            {{ data.e2 | number: "1.3" }}
          </td>
          <td
            [ngClass]="{
              'text-right': true,
              invalid: data.e3 < standard.e3Min || data.e3 > standard.e3Max
            }"
          >
            {{ data.e3 | number: "1.3" }}
          </td>
          <td
            [ngClass]="{
              'text-right': true,
              invalid: data.e4 < standard.e4Min || data.e4 > standard.e4Max
            }"
          >
            {{ data.e4 | number: "1.3" }}
          </td>
          <td
            [ngClass]="{
              'text-right': true,
              invalid: data.e5 < standard.e5Min || data.e5 > standard.e5Max
            }"
          >
            {{ data.e5 | number: "1.3" }}
          </td>
          <td class="text-center">
            {{ data.createdAt | date: "yyyy-MM-dd HH:mm" }} - ({{ data.shift }})
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Tiêu chuẩn">
    <nz-table
      nzBordered
      nzSize="small"
      [nzData]="['']"
      [nzFrontPagination]="false"
    >
      <tbody>
        <tr>
          <td class="item-img" rowspan="7">
            <img nz-image [nzSrc]="baseUrl + images[0]?.imageUrl" />
          </td>
          <td width="100px">Hạng mục:</td>
          <td>
            <nz-tag [nzColor]="'red'">{{ item.name }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Công đoạn:</td>
          <td>
            <nz-tag [nzColor]="'green'">{{ standard.process }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Dụng cụ:</td>
          <td>
            <nz-tag [nzColor]="'cyan'">{{ standard.tool }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Mã dụng cụ:</td>
          <td>
            <nz-tag [nzColor]="'orange'">{{ standard.toolCode }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Tiêu chuẩn:</td>
          <td>
            <nz-tag [nzColor]="'blue'">{{ standard.standard }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Đơn vị đo:</td>
          <td>
            <nz-tag [nzColor]="'geekblue'">{{ standard.unit }}</nz-tag>
          </td>
        </tr>
        <tr>
          <td>Công thức:</td>
          <td>
            <nz-tag [nzColor]="'purple'">{{ standard.formula }}</nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Hình ảnh">
    <nz-image-group nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div
        nz-col
        nzXs="24"
        nzSm="12"
        nzMd="8"
        nzLg="6"
        *ngFor="let image of images"
      >
        <nz-card class="item-img">
          <img nz-image [nzSrc]="baseUrl + image.imageUrl" />
        </nz-card>
      </div>
    </nz-image-group>
  </nz-tab>
</nz-tabset>
