<dx-data-grid
  keyExpr="id"
  [dataSource]="dppData"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          (click)="getAndWriteExcelActualDppData()"
          [nzLoading]="isLoading"
        >
          Get Actual DPP Data
        </button>
      </nz-space>
    </dxi-item>

    <dxi-item name="exportButton" location="after" />
  </dxo-toolbar>

  <dxi-column dataField="model" caption="Model"></dxi-column>
  <dxi-column dataField="line" caption="Line"></dxi-column>
  <dxi-column
    dataField="date"
    caption="Date"
    dataType="date"
    format="yyyy-MM-dd"
  ></dxi-column>
  <dxi-column dataField="stQty" caption="Qty" format="#,##0"></dxi-column>

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>
