<nz-breadcrumb>
  <nz-breadcrumb-item> Administrator </nz-breadcrumb-item>
  <nz-breadcrumb-item> Users </nz-breadcrumb-item>
</nz-breadcrumb>
<h2 style="text-align: center">Danh sách nhân viên</h2>
<nz-table
  style="margin-top: 10px"
  nzBordered
  nzSize="small"
  #userTable
  [nzData]="users"
>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Join Date</th>
      <th>Email</th>
      <th>Position</th>
      <th>Section</th>
      <th>SubSection</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of userTable.data">
      <td>{{ data.username }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.joinDate | date: "yyyy-MM-dd" }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.positionName }}</td>
      <td>{{ data.sectionName }}</td>
      <td>{{ data.subsectionName }}</td>
    </tr>
  </tbody>
</nz-table>
