<div>
  <dx-data-grid
    keyExpr="id"
    #sparePartRecordGrid
    [dataSource]="sparePartRecords"
    [showColumnLines]="true"
    [showRowLines]="true"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [rowAlternationEnabled]="true"
    (onExporting)="onExportClient($event)"
    (onCellPrepared)="onCellPreparedHistory($event)"
  >
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-export [enabled]="true"></dxo-export>

    <dxo-column-chooser
      #columnChooser
      [enabled]="true"
      [mode]="'select'"
      [title]="'Cột hiển thị'"
    >
    </dxo-column-chooser>

    <dxo-toolbar>
      <dxi-item location="before">
        <nz-space>
          <!-- <button *nzSpaceItem nz-button nzType="primary">
            <span nz-icon nzType="login"></span>
            Hàng nhập về
          </button> -->
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            style="background: #24a835; border: 1px solid #24a835"
            (click)="openOutputSparePartModal()"
          >
            <span nz-icon nzType="logout"></span>
            NHẬP XUẤT HÀNG
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            style="background: #ff7b00; border: 1px solid #ff7b00"
            (click)="isOpenModalChangeRack = true"
          >
            <span nz-icon nzType="swap" nzTheme="outline"></span>
            CHUYỂN RACK
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            style="background: #999695; border: 1px solid #999695"
            routerLink="/admin/spare-part/spare-part-requests"
          >
            <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
            DANH SÁCH REQUEST HÀNG M4
          </button>
        </nz-space>
      </dxi-item>

      <dxi-item location="after">
        <nz-space>
          <nz-range-picker
            [(ngModel)]="searchParams.dateRange"
            nzFormat="yyyy-MM-dd"
            nzMode="date"
          >
          </nz-range-picker>
          <button nz-button nzType="default" (click)="getSparePartRecords()">
            <span nz-icon nzType="search"></span>
          </button>
        </nz-space>
      </dxi-item>
      <dxi-item name="exportButton" location="after" />
      <dxi-item name="columnChooserButton" location="after"></dxi-item>
    </dxo-toolbar>

    <dxi-column
      dataField="requestNo"
      caption="Request No"
      [visible]="false"
    ></dxi-column>
    <dxi-column dataField="partNumber" caption="Part Number"></dxi-column>
    <dxi-column dataField="galileoName" caption="Galileo Name"></dxi-column>

    <dxi-column dataField="qty" caption="Qty" alignment="right"></dxi-column>
    <dxi-column dataField="type" caption="Type">
      <dxo-lookup
        displayExpr="name"
        valueExpr="id"
        [dataSource]="[
          { id: 'Nhập kho', name: 'Nhập kho' },
          { id: 'Xuất kho', name: 'Xuất kho' },
          { id: 'Trả về (OK)', name: 'Trả về (OK)' },
          { id: 'Trả VỀ (NG)', name: 'Trả VỀ (NG)' }
        ]"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="goodsType" caption="Loại hàng">
      <dxo-lookup
        displayExpr="name"
        valueExpr="id"
        [dataSource]="[
          { id: 'M4', name: 'M4' },
          { id: 'M8', name: 'M8' }
        ]"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="rackType" caption="Rack" [visible]="true">
      <dxo-header-filter [allowSelectAll]="true">
        <dxo-search [enabled]="true"></dxo-search>
      </dxo-header-filter>
    </dxi-column>
    <dxi-column dataField="po" caption="PO"></dxi-column>
    <dxi-column dataField="supplier" caption="Supplier"></dxi-column>
    <dxi-column dataField="machine" caption="Máy"></dxi-column>
    <dxi-column dataField="line" caption="Line"></dxi-column>
    <dxi-column dataField="whUser" caption="WH User"></dxi-column>
    <dxi-column dataField="otherUser" caption="Other User"></dxi-column>
    <dxi-column
      dataField="date"
      caption="Date"
      dataType="date"
      format="yyyy-MM-dd"
    ></dxi-column>
    <dxi-column
      alignment="center"
      dataField="createdAt"
      caption="Time"
      dataType="date"
      format="HH:mm"
    ></dxi-column>
    <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>

    <dxi-column
      caption="Action"
      cellTemplate="actionTemplate"
      [fixed]="true"
      fixedPosition="right"
    ></dxi-column>
    <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
      <a (click)="openModalEditSparePartRecord(item.data)">Sửa</a>
    </div>

    <dxo-summary>
      <dxi-total-item
        column="qty"
        summaryType="sum"
        valueFormat="#,##0"
      ></dxi-total-item>

      <dxi-total-item
        column="totalPrice"
        summaryType="sum"
        valueFormat="#,##0"
      ></dxi-total-item>
    </dxo-summary>

    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
    >
    </dxo-pager>
  </dx-data-grid>
</div>

<nz-modal
  [(nzVisible)]="isOpenOutputSparePartModal"
  nzTitle="Nhập xuất hàng M4/M8"
  nzWidth="100%"
>
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="24">
      <div
        *ngIf="transactionType === 'OUTPUT' && goodsType === 'M4'"
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="9"
        nzLg="9"
      >
        <nz-table
          [nzData]="['']"
          nzFrontPagination="false"
          nzBordered
          nzSize="small"
        >
          <thead>
            <tr>
              <th>
                <dx-select-box
                  *ngIf="request"
                  label="Request Number"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="requestNo"
                  valueExpr="id"
                  [dataSource]="sparePartRequestMasters"
                  [searchEnabled]="true"
                  (onValueChanged)="getSparePartRequestDetails($event)"
                  [(ngModel)]="request.id"
                ></dx-select-box>
                <dx-select-box
                  *ngIf="!request"
                  label="Request Number"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="requestNo"
                  valueExpr="id"
                  [dataSource]="sparePartRequestMasters"
                  [searchEnabled]="true"
                  (onValueChanged)="getSparePartRequestDetails($event)"
                ></dx-select-box>
              </th>
              <th>
                <label style="color: blue">{{ request?.subsectionName }}</label>
              </th>
            </tr>
          </thead>
        </nz-table>
        <dx-data-grid
          keyExpr="id"
          [showBorders]="true"
          [dataSource]="sparePartRequestDetails"
          [showColumnLines]="true"
          [showRowLines]="true"
          [allowColumnResizing]="true"
          [columnMinWidth]="50"
          [columnAutoWidth]="true"
          style="margin-top: -25px"
        >
          <!-- <dxo-toolbar>
            <dxi-item location="before">
              <span>Danh sách hàng yêu cầu</span>
            </dxi-item>
          </dxo-toolbar> -->
          <dxi-column dataField="partNumber" caption="Part"></dxi-column>
          <dxi-column
            dataField="requestQty"
            caption="Req/Kit (Qty)"
            cellTemplate="qtyTemplate"
          ></dxi-column>
          <div
            *dxTemplate="let item of 'qtyTemplate'"
            style="text-align: center"
          >
            <span
              >{{ item.data.requestQty }} /
              {{ item.data.issuedQty ? item.data.issuedQty : 0 }}
            </span>
          </div>
        </dx-data-grid>
      </div>
      <div
        nz-col
        [nzXs]="transactionType === 'OUTPUT' && goodsType == 'M4' ? 24 : 24"
        [nzSm]="transactionType === 'OUTPUT' && goodsType == 'M4' ? 24 : 24"
        [nzMd]="transactionType === 'OUTPUT' && goodsType == 'M4' ? 15 : 24"
        [nzLg]="transactionType === 'OUTPUT' && goodsType == 'M4' ? 15 : 24"
      >
        <nz-table
          [nzData]="['']"
          nzFrontPagination="false"
          nzBordered
          nzSize="small"
        >
          <tbody>
            <tr>
              <td width="15%">
                <input
                  #userCodeIpt
                  nz-input
                  placeholder="User"
                  autocomplete="off"
                  (keydown.enter)="scanUserCode($event)"
                  (click)="userCodeIpt.select()"
                  [(ngModel)]="userCode"
                  [maxlength]="7"
                />
              </td>
              <td width="15%">
                <dx-select-box
                  label="Loại hàng"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="name"
                  valueExpr="id"
                  [dataSource]="[
                    { id: 'M4', name: 'M4' },
                    { id: 'M8', name: 'M8' }
                  ]"
                  [(value)]="goodsType"
                  (onValueChanged)="changeGoodsType($event)"
                ></dx-select-box>
              </td>

              <td width="15%">
                <dx-select-box
                  label="Rack"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="name"
                  valueExpr="id"
                  [dataSource]="data_rack"
                  [(value)]="rackType"
                  (onValueChanged)="changerackType($event)"
                  [searchEnabled]="true"
                ></dx-select-box>
              </td>

              <td width="15%">
                <dx-select-box
                  label="Giao dịch"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="name"
                  valueExpr="id"
                  [dataSource]="[
                    { id: 'INPUT', name: 'NHẬP KHO' },
                    { id: 'OUTPUT', name: 'XUẤT KHO' },
                    { id: 'OK_RETURN', name: 'OK RETURN' },
                    { id: 'NG_RETURN', name: 'NG RETURN' }
                  ]"
                  [(value)]="transactionType"
                  (onValueChanged)="changeTransactionType($event)"
                ></dx-select-box>
              </td>

              <td width="15%" *ngIf="transactionType == 'INPUT'">
                <dx-text-box
                  label="PO"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="po"
                >
                </dx-text-box>
              </td>

              <td width="15%" *ngIf="transactionType == 'INPUT'">
                <dx-text-box
                  label="Supplier"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="supplier"
                >
                </dx-text-box>
              </td>
            </tr>
            <tr>
              <td
                width="15%"
                *ngIf="transactionType == 'OUTPUT' && goodsType == 'M4'"
              >
                <dx-select-box
                  label="Nhà máy"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="name"
                  valueExpr="code"
                  [dataSource]="factories"
                  [(value)]="factoryCode"
                  [searchEnabled]="true"
                ></dx-select-box>
              </td>

              <td
                width="15%"
                *ngIf="transactionType == 'OUTPUT' && goodsType == 'M4'"
              >
                <dx-select-box
                  label="Machine"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="vnName"
                  valueExpr="id"
                  [dataSource]="machines"
                  [(value)]="machine"
                  [searchEnabled]="true"
                ></dx-select-box>
              </td>

              <td
                width="15%"
                *ngIf="transactionType == 'OUTPUT' && goodsType == 'M4'"
              >
                <dx-select-box
                  label="Line"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  displayExpr="name"
                  valueExpr="name"
                  [dataSource]="lines"
                  [(value)]="line"
                  [searchEnabled]="true"
                ></dx-select-box>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <dx-data-grid
          #sparePartOutputGrid
          [showBorders]="true"
          [dataSource]="listSparePartScanned"
          [showColumnLines]="true"
          [showRowLines]="true"
          [allowColumnResizing]="true"
          [columnMinWidth]="50"
          [columnAutoWidth]="true"
          (onSaving)="saveSparePartRecords($event)"
          style="margin-top: -25px"
        >
          <dxo-editing
            mode="batch"
            [allowUpdating]="true"
            [selectTextOnEditStart]="true"
          >
          </dxo-editing>

          <dxo-column-chooser
            #columnChooser
            [enabled]="true"
            [mode]="'select'"
            [title]="'Cột hiển thị'"
          >
          </dxo-column-chooser>

          <dxo-toolbar>
            <dxi-item location="before">
              <input
                id="sparePartQrCodeIpt"
                #sparePartQrCodeIpt
                nz-input
                placeholder="Mã spare part"
                autocomplete="off"
                (keydown.enter)="scanSparePartQrCode($event)"
                (click)="sparePartQrCodeIpt.select()"
              />
            </dxi-item>

            <dxi-item name="saveButton" location="after" />
          </dxo-toolbar>

          <dxi-column
            [width]="180"
            dataField="partNumber"
            caption="Part"
            [allowEditing]="false"
          ></dxi-column>
          <dxi-column [width]="60" dataField="qty" caption="Qty">
            <dxi-validation-rule
              type="range"
              [min]="0"
              message="Qty phải lớn hơn 0"
            >
            </dxi-validation-rule>
          </dxi-column>
          <dxi-column
            [width]="120"
            dataField="factoryCode"
            caption="Nhà máy"
            *ngIf="transactionType != 'INPUT' && goodsType != 'M4'"
          >
            <dxi-validation-rule
              type="required"
              message="Cần chọn nhà máy"
            ></dxi-validation-rule>
            <dxo-lookup
              [allowClearing]="true"
              [enterKeyHint]="true"
              [dataSource]="factories"
              displayExpr="name"
              valueExpr="code"
            >
            </dxo-lookup>
          </dxi-column>
          <dxi-column
            dataField="machine"
            caption="Máy"
            *ngIf="transactionType != 'INPUT' && goodsType != 'M4'"
          >
            <dxo-lookup
              [allowClearing]="true"
              [dataSource]="machines"
              displayExpr="vnName"
              valueExpr="id"
            >
            </dxo-lookup>
          </dxi-column>
          <dxi-column
            dataField="line"
            caption="Line"
            *ngIf="transactionType != 'INPUT' && goodsType != 'M4'"
          >
            <dxo-lookup
              [allowClearing]="true"
              [dataSource]="lines"
              displayExpr="name"
              valueExpr="name"
            >
            </dxo-lookup>
          </dxi-column>
          <dxi-column
            dataField="po"
            caption="PO"
            *ngIf="transactionType == 'INPUT'"
          ></dxi-column>
          <dxi-column
            dataField="supplier"
            caption="Supplier"
            *ngIf="transactionType == 'INPUT'"
          ></dxi-column>
          <dxi-column
            dataField="type"
            caption="Giao dịch"
            [visible]="false"
          ></dxi-column>
          <dxi-column
            dataField="whUserCode"
            caption="User"
            [visible]="false"
          ></dxi-column>
          <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>

          <!-- <dxi-column
            caption="Action"
            cellTemplate="actionTemplate"
            [fixed]="true"
            fixedPosition="right"
          >
            <div
              *dxTemplate="let item of 'actionTemplate'"
              style="text-align: center"
            >
              <a style="color: red"> Xóa </a>
            </div>
          </dxi-column> -->

          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 25, 50, 100]"
          >
          </dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelSaveOutputSparePart()">
      Hủy
    </button>
  </div>
</nz-modal>

<!--Edit Spare part modal -->
<nz-modal
  [(nzVisible)]="isOpenModalEditSparePartRecord"
  nzTitle="Edit Spare Part record"
>
  <ng-container *nzModalContent>
    <nz-table [nzData]="['']" nzFrontPagination="false" nzBordered>
      <tbody>
        <tr>
          <td><label>Part No</label></td>
          <td>
            <input nz-input [(ngModel)]="sparePartRecordEdit.partNumber" />
          </td>
        </tr>
        <tr>
          <td><label>Số lượng</label></td>
          <td>
            <input
              nz-input
              type="number"
              [(ngModel)]="sparePartRecordEdit.qty"
            />
          </td>
        </tr>
        <tr>
          <td><label>Nhà máy</label></td>
          <td>
            <nz-select [(ngModel)]="sparePartRecordEdit.factoryCode">
              <nz-option
                *ngFor="let factory of factories"
                [nzLabel]="factory.name"
                [nzValue]="factory.code"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Line</label></td>
          <td>
            <nz-select nzShowSearch [(ngModel)]="sparePartRecordEdit.line">
              <nz-option
                *ngFor="let line of lines"
                [nzLabel]="line.name"
                [nzValue]="line.name"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Máy</label></td>
          <td>
            <nz-select nzShowSearch [(ngModel)]="sparePartRecordEdit.machineId">
              <nz-option
                *ngFor="let machine of machines"
                [nzLabel]="machine.vnName"
                [nzValue]="machine.id"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Người nhận</label></td>
          <td>
            <input nz-input [(ngModel)]="sparePartRecordEdit.receiveUserCode" />
          </td>
        </tr>
        <tr>
          <td><label>Ghi chú</label></td>
          <td>
            <input nz-input [(ngModel)]="sparePartRecordEdit.remark" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button
      nz-button
      nz-popconfirm
      nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không ?"
      nzType="primary"
      nzDanger
      style="float: left"
      (nzOnConfirm)="onDeleteSparePartRecord()"
    >
      Xóa
    </button>
    <button
      nz-button
      nzType="default"
      (click)="isOpenModalEditSparePartRecord = false"
    >
      Hủy
    </button>
    <button nz-button nzType="primary" (click)="onEditSparePartRecord()">
      Lưu
    </button>
  </div>
</nz-modal>

<!-- Chuyển rack -->
<nz-modal
  [(nzVisible)]="isOpenModalChangeRack"
  nzTitle="Chuyển Rack"
  nzWidth="50%"
  (nzOnOk)="isOpenModalChangeRack = false"
  (nzOnCancel)="isOpenModalChangeRack = false"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzFrontPagination="false"
      nzBordered
      nzSize="small"
    >
      <thead>
        <tr>
          <th>
            <dx-text-box
              #infoIpt
              label="Part Number"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              placeholder="Scan Part Number"
              [ngStyle]="{ color: 'red' }"
              [(value)]="rackChangeInfo.partNumber"
            ></dx-text-box>
          </th>
          <th>
            <dx-select-box
              label="From Rack"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              displayExpr="id"
              valueExpr="id"
              [dataSource]="data_rack"
              [searchEnabled]="true"
              [showClearButton]="true"
              [(value)]="rackChangeInfo.fromRack"
            ></dx-select-box>
          </th>
          <th>
            <dx-select-box
              label="To Rack"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              displayExpr="id"
              valueExpr="id"
              [dataSource]="data_rack"
              [searchEnabled]="true"
              [showClearButton]="true"
              [(value)]="rackChangeInfo.toRack"
            ></dx-select-box>
          </th>
          <th>
            <dx-text-box
              #infoIpt
              label="Qty"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              placeholder="Nhập số lượng"
              [ngStyle]="{ color: 'red' }"
              [mode]="'number'"
              [(value)]="rackChangeInfo.qty"
            ></dx-text-box>
          </th>
        </tr>
      </thead>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenModalChangeRack">Đóng</button>
    <button nz-button nzType="primary" (click)="saveChangeRack()">Chuyển rack</button>
  </div>
</nz-modal>
