/*----------------------*/

.calibration-label {
    border: 1px solid black;
    border-collapse: collapse;
    // th, td {
    //   border: 1px solid black;
    //   border-collapse: collapse;
    // }
    font-size: 7px;
    float: left;
    margin: 2px;
    width: 150px;

    .header-verification {
        background: red;
        color: white;
        print-color-adjust: exact;
    }

    .header-standard-measuring {
        background: blue;
        color: white;
        print-color-adjust: exact;
    }

    .value {
        color: blue;
        font-style: italic;
    }
}