<div class="wrapper">
  <h1 class="text-center">Panasonic Industrial Devices Vietnam</h1>
  <!-- <img
      src="../../../assets/images/hihi.png"
      width="60px"
      style="margin-left: 5px"
    /> -->
  <img
      src="../../../assets/images/face-icon/Good1.png"
      width="60px"
      style="margin-left: 5px"
    />
    
  <br />

  <!-- <div *ngIf="weatherInfo">
    <span>{{ weatherInfo?.city_name }}: {{ weatherInfo?.temp }}°C</span>
    <img
      [src]="weatherUrl + weatherInfo?.weather.icon + '.png'"
      width="50px"
      style="margin-left: 5px"
    />
  </div> -->
  
  <br />
  <span>Hưng Test</span>
</div>
