<div nz-row nzJustify="start" nzAlign="top" [nzGutter]="24">
  <div nz-col nzXs="8">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Upload'" nzActive="true">
        <nz-table
          [nzData]="['']"
          nzSize="small"
          nzBordered
          nzFrontPagination="false"
          class="project-activity"
        >
          <tbody>
            <tr>
              <td><label>Máy</label></td>
              <td>
                <nz-select
                  style="width: 100%"
                  nzShowSearch="true"
                  [(ngModel)]="machineCode"
                  nzAllowClear="true"
                >
                  <nz-option
                    *ngFor="let machine of machines"
                    [nzLabel]="'(' + machine.code + ') - ' + machine.name"
                    [nzValue]="machine.code"
                  >
                  </nz-option>
                </nz-select>
              </td>
            </tr>
            <tr>
              <td><label>File</label></td>
              <td>
                <dx-file-uploader
                  #fileUploader
                  [multiple]="true"
                  selectButtonText="Chọn file"
                  labelText=""
                  accept="image/*, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx"
                  uploadMode="useForm"
                  [inputAttr]="{ 'aria-label': 'Select file' }"
                >
                </dx-file-uploader>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button
                  *ngIf="this.fileUploader.value.length"
                  nz-button
                  nzType="primary"
                  (click)="uploadFile()"
                  [nzLoading]="isLoading"
                >
                  Upload
                </button>
                <button
                  *ngIf="this.fileUploader.value.length"
                  nz-button
                  nzType="default"
                  (click)="clearFiles()"
                >
                  Xóa các file đã chọn
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col nzXs="16">
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'Danh sách file'" nzActive="true">
        <dx-data-grid
          #machineFileGrid
          keyExpr="id"
          [dataSource]="machineFiles"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [rowAlternationEnabled]="true"
        >
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxi-column dataField="name" caption="File Name"></dxi-column>
          <dxi-column
            dataField="machineCode"
            caption="Machine Code"
            [groupIndex]="0"
          ></dxi-column>
          <dxi-column
            dataField="machineName"
            caption="Machine Name"
          ></dxi-column>
          <dxi-column
            dataField="createdByName"
            caption="Người upload"
          ></dxi-column>
          <dxi-column
            alignment="center"
            dataField="createdAt"
            caption="Time"
            dataType="date"
            format="yyyy-MM-dd HH:mm"
          ></dxi-column>

          <dxo-summary>
            <dxi-group-item
              column="machineCode"
              summaryType="count"
              displayFormat="{0} files"
              groupIndex="0"
            >
            </dxi-group-item>
          </dxo-summary>

          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 25, 50, 100]"
          >
          </dxo-pager>
        </dx-data-grid> </nz-collapse-panel
    ></nz-collapse>
  </div>
</div>
