<button nz-button nzType="primary" (click)="isOpenUploadModal = true">Upload</button>


<nz-modal [(nzVisible)]="isOpenUploadModal" [nzTitle]="'Upload File'">
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
      class="project-activity"
    >
      <tbody>
        <tr>
          <td><label>Title</label></td>
          <td>
            <input nz-input placeholder="Title" />
          </td>
        </tr>
        <tr>
          <td><label>Date</label><span style="color: red">*</span></td>
          <td></td>
        </tr>
        <tr>
          <td><label>Note</label></td>
          <td>
            <textarea rows="3" nz-input></textarea>
          </td>
        </tr>
        <tr>
          <td><label>File</label></td>
          <td>
            <dx-file-uploader
              #projectActivityUploader
              [multiple]="false"
              selectButtonText="Select file"
              labelText=""
              accept="image/*, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx"
              uploadMode="useForm"
              [inputAttr]="{ 'aria-label': 'Select file' }"
            >
            </dx-file-uploader>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="uploadFile()">Lưu</button>
    <button nz-button nzType="default" (click)="isOpenUploadModal = false">
      Đóng
    </button>
  </div>
</nz-modal>
