.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
  background-color: #ccc;
  color: red;
}

#scanTbl {
  width: 100%;
  td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
  }
  label {
    font-weight: bold;
    color: rgb(45, 45, 218);
  }

  #evaluate {
    text-align: center;
    font-weight: bold;
  }
}

#infoTable {
  width: 100%;

  label {
    font-weight: bold;
    color: rgb(45, 45, 218);
  }

  #evaluate {
    text-align: center;
    font-weight: bold;
  }
}
