<nz-table #basicTable [nzData]="['']" nzBordered nzFrontPagination="false">
  <tbody>
    <tr>
      <td style="width: 150px; text-align: center">
        <img src="./../../../../../../assets/images/text-books.png" alt="" />
      </td>
      <td routerLink="/admin/hr/hr-emp-mng/course/item"><h3>Dach mục khóa học</h3></td>
    </tr>
    <tr>
      <td style="width: 150px; text-align: center">
        <img src="./../../../../../../assets/images/schedule.png" alt="" />
      </td>
      <td routerLink="/admin/hr/hr-emp-mng/course/schedule">
        <h3>Lịch đào tạo</h3>
      </td>
    </tr>
    <tr>
      <td style="width: 150px; text-align: center">
        <img src="./../../../../../../assets/images/history.png" alt="" />
      </td>
      <td routerLink="/admin/hr/hr-emp-mng/course/histories"><h3>Lịch sử</h3></td>
    </tr>
  </tbody>
</nz-table>
