<nz-breadcrumb>
  <nz-breadcrumb-item> Warehouse </nz-breadcrumb-item>
  <nz-breadcrumb-item> IQC Request</nz-breadcrumb-item>
</nz-breadcrumb>

<!-- <nz-collapse>
  <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="true" [nzShowArrow]="true">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Request No</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <input
            type="text"
            nz-input
            placeholder="Request No"
            [(ngModel)]="searchVo.requestNo"
          />
        </div>
      </div>

      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Invoice</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <input
            type="text"
            nz-input
            placeholder="Invoice"
            [(ngModel)]="searchVo.invoice"
          />
        </div>
      </div>

      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">IQC Status</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzAllowClear
            nzPlaceHolder="IQC Status"
            [(ngModel)]="searchVo.status"
          >
            <nz-option nzLabel="Chờ xử lý" nzValue="1"></nz-option>
            <nz-option nzLabel="Đang xử lý" nzValue="2"></nz-option>
            <nz-option nzLabel="Đã xử lý" nzValue="3"></nz-option>
          </nz-select>
        </div>
      </div>

      <div nz-col nzXs="12" nzSm="12" nzLg="6">
        <label nzXs="24" nzSm="24" nzLg="24">Ngày tạo</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-range-picker
            nzFormat="yyyy-MM-dd"
            ngModel
            (ngModelChange)="onChange($event)"
            (nzOnCalendarChange)="onCalendarChange($event)"
          >
          </nz-range-picker>
        </div>
      </div>
    </div>
    <div
      nz-row
      nzJustify="end"
      nzAlign="middle"
      [nzGutter]="24"
      style="margin-top: 10px"
    >
      <div nz-col nzXs="24" nzSm="24" nzLg="24">
        <button
          nz-button
          nzType="primary"
          style="float: right"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse> -->


<dx-data-grid
  #iqcRequestTable
  [dataSource]="iqcRequests"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onRowClick)="openIqcDetailModal($event.data)"
>
  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          nz-button
          *nzSpaceItem
          nzType="primary"
          (click)="isOpenIqcRequestModal = true"
        >
          <i nz-icon nzType="plus"></i>
          IQC Request
        </button>
      
        <button
          nz-button
          *nzSpaceItem
          nzType="default"
        >
          <i nz-icon nzType="plus"></i>
          IQC Request (Hàng sorting)
        </button>
      
        <button
          nz-button
          *nzSpaceItem
          nzType="default"
          routerLink="/admin/warehouse/iqc-recheck"
        >
          <i nz-icon nzType="plus"></i>
          IQC Request (Hàng quá 6 tháng)
        </button>
      </nz-space>
    </dxi-item>
  </dxo-toolbar>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="requestNo"
    caption="Request No"
  ></dxi-column>

  <dxi-column
    dataField="invoice"
    caption="Invoice"
  ></dxi-column>
  <dxi-column
    dataField="supplier"
    caption="Supplier"
  ></dxi-column>

  <dxi-column
    dataField="status"
    caption="IQC Status"
  >
    <dxo-lookup
      [dataSource]="[
        { status: 1, label: 'Chờ xử lý'},
        { status: 2, label: 'Đang xử lý'},
        { status: 3, label: 'Đã xử lý'}
      ]"
      displayExpr="label"
      valueExpr="status"
    >
    </dxo-lookup>
  </dxi-column>

  <dxi-column
    dataField="requestedByName"
    caption="Người request"
  ></dxi-column>

  <dxi-column
    dataField="createdAt"
    caption="Ngày tạo"
    dataType="date"
    format="yyyy-MM-dd HH:mm"
  ></dxi-column>

  <dxi-column
    dataField="remark"
    caption="Ghi chú"
  ></dxi-column>

  <dxi-column
    dataField="type"
    caption="Request Type"
  ></dxi-column>

  <dxi-column
    dataField="goodsType"
    caption="Goods Type"
  ></dxi-column>

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 20, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<!-- <nz-table
  #iqcRequestTable
  nzSize="small"
  [nzBordered]="true"
  [nzData]="iqcRequests"
  [nzFrontPagination]="true"
  nzTableLayout="fixed"
  style="margin-top: 5px"
>
  <thead>
    <tr>
      <th class="text-center">Request No</th>
      <th class="text-center">Invoice</th>
      <th class="text-center">Supplier</th>
      <th class="text-center">IQC Status</th>
      <th class="text-center">Người request</th>
      <th class="text-center">Ngày tạo</th>
      <th class="text-center">Ghi chú</th>
      <th class="text-center">Request Type</th>
      <th class="text-center">Goods Type</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of iqcRequestTable.data"
      (click)="openIqcDetailModal(item)"
    >
      <td>{{ item.requestNo }}</td>
      <td>{{ item.invoice }}</td>
      <td>{{ item.supplier }}</td>
      <td
        [ngClass]="{
          'text-danger': item.status == 1,
          'text-success': item.status == 2,
          'text-primary': item.status == 3
        }"
        style="font-weight: bold"
      >
        {{ item.statusName }}
      </td>
      <td>{{ item.requestedByName }}</td>
      <td class="text-center">
        {{ item.createdAt | date : "yyyy-MM-dd HH:mm:ss" }}
      </td>
      <td>{{ item.remark }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.goodsType }}</td>
    </tr>
  </tbody>
</nz-table> -->

<nz-modal
  [(nzVisible)]="isOpenIqcRequestModal"
  nzTitle="Yêu cầu IQC kiểm tra chất lượng"
>
  <ng-container *nzModalContent>
    <nz-table
      nzBordered
      [nzData]="['']"
      [nzFrontPagination]="false"
      nzSize="small"
    >
      <tbody>
        <tr>
          <td style="font-weight: bold">
            Request No <span style="color: red">*</span>
          </td>
          <td>
            <nz-select [(ngModel)]="iqcRequest.requestNo">
              <nz-option
                *ngFor="let slipNo of slipNos"
                [nzValue]="slipNo"
                [nzLabel]="slipNo"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">
            Invoice <span style="color: red">*</span>
          </td>
          <td>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Mã Invoice"
              [(ngModel)]="iqcRequest.invoice"
              (ngModelChange)="onChangeInvoice($event)"
            >
              <nz-option
                *ngFor="let invoice of invoices"
                [nzValue]="invoice.invoice"
                [nzLabel]="invoice.invoice"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">
            Supplier <span style="color: red">*</span>
          </td>
          <td>
            <input
              #requestNo
              nz-input
              placeholder="Nhà cung cấp"
              [(ngModel)]="iqcRequest.supplier"
            />
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold">Ghi chú</td>
          <td>
            <input
              nz-input
              placeholder="Ghi chú"
              [(ngModel)]="iqcRequest.remark"
            />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button
      nz-button
      nzType="default"
      (click)="this.isOpenIqcRequestModal = false"
    >
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createIqcRequest()"
      [disabled]="!this.iqcRequest.requestNo"
    >
      Tạo yêu cầu IQC
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenIqcDetailModal"
  nzTitle="Thông tin kiểm tra chất lượng"
  nzWidth="100%"
>
  <ng-container *nzModalContent>
    
      <label>Request No: </label
      ><span style="color: green">{{ iqcRequestSelected.requestNo }}</span>
      &nbsp; | &nbsp; <label>Invoice No: </label
      ><span style="color: green">{{ iqcRequestSelected.invoice }}</span>

      <dx-data-grid
        *ngIf="iqcRequestSelected?.goodsType == 'INSIDE'"
        [dataSource]="iqcRequestDetails"
        [showColumnLines]="true"
        [showRowLines]="true"
        [showBorders]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
      >
        <dxo-filter-row [visible]="true"> </dxo-filter-row>
        <dxi-column
          dataField="model"
          caption="Model"
          [allowEditing]="false"
        ></dxi-column>
        <dxi-column
          dataField="lotGroup"
          caption="Lot Group"
          [allowEditing]="false"
        ></dxi-column>

        <dxi-column
          dataField="lotNo"
          caption="LotNo"
          [allowEditing]="false"
        ></dxi-column>


        <dxi-column caption="Kết quả IQC">
          <dxi-column dataField="result1" caption="Ngoại quan"></dxi-column>
          <dxi-column dataField="result2" caption="Kích thước"></dxi-column>
        </dxi-column>
        
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 25, 50, 100]"
        >
        </dxo-pager>

      </dx-data-grid>

      <dx-data-grid
        *ngIf="iqcRequestSelected?.goodsType != 'INSIDE'"
        [dataSource]="iqcRequestDetails"
        [showColumnLines]="true"
        [showRowLines]="true"
        [showBorders]="true"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [rowAlternationEnabled]="true"
      >
        <dxo-filter-row [visible]="true"> </dxo-filter-row>
        <dxi-column
          dataField="model"
          caption="Model"
          [allowEditing]="false"
        ></dxi-column>
        <dxi-column
          dataField="lotGroup"
          caption="Lot Group"
          [allowEditing]="false"
        ></dxi-column>

        <dxi-column
          dataField="lotNo"
          caption="LotNo"
          [allowEditing]="false"
        ></dxi-column>

        <dxi-column caption="Kết quả IQC">
          <dxi-column dataField="result1" caption="GP"></dxi-column>
          <dxi-column dataField="result2" caption="Ngoại quan"></dxi-column>
          <dxi-column dataField="result3" caption="Kích thước"></dxi-column>
        </dxi-column>
        
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[10, 25, 50, 100]"
        >
        </dxo-pager>

      </dx-data-grid>








  </ng-container>
  <ng-template [nzModalFooter]>
    <button
      nz-button
      nzType="default"
      (click)="this.isOpenIqcDetailModal = false"
    >
      Đóng
    </button>
  </ng-template>
</nz-modal>

