<nz-table
  #basicTable
  [nzData]="['']"
  nzFrontPagination="false"
  nzBordered
  nzSize="small"
>
  <thead>
    <tr>
      <th>
        <label style="font-weight: bold">Mã kiểm kê:</label>
        <label style="font-weight: bold; color: green"> IVT-20230818</label>
      </th>
      <th style="text-align: right">
        <button nz-button nzType="primary" (click)="openScanInventoryModal()">
          <span nz-icon nzType="qrcode"></span>
          Scan kiểm kê
        </button>
      </th>
    </tr>
  </thead>
</nz-table>

<nz-tabset style="margin-top: -25px">
  <nz-tab nzTitle="Dữ liệu kiểm kê">
    <dx-data-grid
      keyExpr="id"
      [dataSource]="inventoryData"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      (onExporting)="onExportClient($event)"
    >
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-export [enabled]="true"></dxo-export>

      <dxo-toolbar>
        <dxi-item location="before">
          <!-- <span class="ivt-data" style="color: blue"
            >Danh sách NVL thực tế kiểm kê</span
          > -->
        </dxi-item>

        <dxi-item name="exportButton"></dxi-item>
      </dxo-toolbar>

      <dxi-column dataField="partNo" caption="Part No"></dxi-column>
      <dxi-column dataField="lotNo" caption="Lot No"></dxi-column>
      <dxi-column dataField="qty" caption="Qty"></dxi-column>
    </dx-data-grid>
  </nz-tab>
  <nz-tab nzTitle="Summary"> </nz-tab>
</nz-tabset>

<nz-modal
  [(nzVisible)]="isOpenScanInventoryModal"
  nzTitle="Dữ liệu scan kiểm kê"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzFrontPagination="false"
      nzBordered
      nzSize="small"
      style="margin-top: -15px"
    >
      <thead>
        <tr>
          <th>
            <input
              id="labelIpt"
              #labelIpt
              nz-input
              placeholder="Scan tem NVL"
              (keydown.enter)="scanLabel($event)"
              (click)="labelIpt.select()"
              autocomplete="off"
              autofocus="true"
            />
          </th>
        </tr>
      </thead>
    </nz-table>
    <nz-table
      #labelTable
      nzSize="small"
      nzBordered
      [nzData]="listLotsScanned"
      style="margin-top: -20px"
    >
      <thead>
        <tr>
          <th>Part No</th>
          <th>Lot No</th>
          <th>Qty (Tồn)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of labelTable.data">
          <td>
            <label>{{ data.model }}</label>
          </td>
          <td>
            <label>{{ data.lotNo }}</label>
          </td>
          <td class="editable-row" style="text-align: right">
            <div
              class="editable-cell"
              [hidden]="lotNoEdit === data.lotNo"
              (click)="startEdit(data)"
            >
              {{ data.qty | number: "1.0-3" }}
            </div>
            <input
              #importQtyIpt
              [hidden]="lotNoEdit !== data.lotNo"
              type="number"
              nz-input
              [(ngModel)]="data.qty"
              (blur)="stopEdit()"
            />
          </td>
          <td style="text-align: center;">
            <a style="color: red; font-weight: bold">Xóa</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default">Hủy</button>
    <button nz-button nzType="primary" (click)="saveInventoryData()">
      Lưu dữ liệu
    </button>
  </div>
</nz-modal>
