// Style cho dòng NG
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):not(.dx-row-removed) > td {
  background-color: red;
  color: unset;
}

#result-save-inventory {
  td.ant-table-cell {
    vertical-align: top;
  }
}
