<div nz-row [nzGutter]="24">
  <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="project?.controlNo"
        [nzActive]="true"
        [nzShowArrow]="true"
      >
        <!-- <nz-card style="width: 100%"></nz-card> -->
        <nz-table
          id="project-info"
          [nzData]="['']"
          nzSize="small"
          nzBordered
          nzFrontPagination="false"
        >
          <tbody>
            <tr>
              <td><label>Project Name</label></td>
              <td>{{project?.projectName}}</td>
              <td><label>Project Type</label></td>
              <td>AAA</td>
            </tr>
            <tr>
              <td><label>Date created</label></td>
              <td>{{project?.createdAt | date: "yyyy-MM-dd HH:mm"}}</td>
              <td><label>Date revise</label></td>
              <td>AAA</td>
            </tr>
          </tbody>
        </nz-table>

        <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="'Progress'"
            [nzActive]="true"
            [nzShowArrow]="true"
          >
            <dx-data-grid
              keyExpr="id"
              #projectGrid
              [dataSource]="progress"
              [showColumnLines]="true"
              [showRowLines]="true"
              [showBorders]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              (onRowClick)="onRowClickProgress($event)"
            >
              <dxi-column dataField="progressId" caption="Progress Id"></dxi-column>
              <dxi-column dataField="progressName" caption="Progress Name"></dxi-column>
              <dxi-column
                dataField="startPlan"
                caption="Start Plan"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column dataField="endPlan" caption="End Plan"></dxi-column>
              <dxi-column
                dataField="startAction"
                caption="Start Action"
              ></dxi-column>
              <dxi-column
                dataField="endAction"
                caption="End Action"
              ></dxi-column>

              <dxi-column
                caption="Tiến độ"
                cellTemplate="progressTemplate"
                [fixed]="true"
                fixedPosition="right"
              >
                <div
                  *dxTemplate="let item of 'progressTemplate'"
                  style="text-align: center"
                >
                  <div class="w3-light-grey .w3-round-small">
                    <div
                      class="w3-container w3-green .w3-round-small"
                      [style.width]="item.data.progress == null ? 0 : item.data.progress + '%'"
                    >
                      {{ item.data.progress == null ? 0 : item.data.progress }}%
                    </div>
                  </div>
                </div>
              </dxi-column>
            </dx-data-grid>
          </nz-collapse-panel></nz-collapse
        >
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Project Activity'"
        [nzActive]="true"
        [nzShowArrow]="true"
      >
        <dx-data-grid
          keyExpr="id"
          #projectActivityGrid
          [dataSource]="activities"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
        >
          <dxo-toolbar>
            <dxi-item location="before">
              <button
                nz-button
                nzType="primary"
                (click)="isOpenActivityModal = true"
              >
                <span nz-icon nzType="plus"></span>
                Add
              </button>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column dataField="createdAt" caption="Time"></dxi-column>
          <dxi-column dataField="content" caption="Content"></dxi-column>
          <dxi-column dataField="note" caption="Note"></dxi-column>
        </dx-data-grid>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isOpenProgressModal"
  [nzTitle]="'Progress: ' + progressSelected?.item"
  nzWidth="100%"
  [nzFooter]="modalFooter"
  (nzOnCancel)="isOpenProgressModal = false"
>
  <ng-container *nzModalContent>
    <nz-table
      id="project-progress"
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td><label>Nội dung</label></td>
          <td>{{ progressSelected.content }}</td>
          <td><label>Tiến độ</label></td>
          <td>
            <nz-input-group nzSuffix="%" style="max-width: 150px">
              <input
                type="number"
                nz-input
                min="0"
                max="100"
                [(ngModel)]="progressSelected.progress"
              />
            </nz-input-group>
          </td>
        </tr>
        <tr>
          <td><label>Start Plant</label></td>
          <td>
            <nz-date-picker
              [(ngModel)]="progressSelected.startPlan"
            ></nz-date-picker>
          </td>
          <td><label>End Plant</label></td>
          <td>
            <nz-date-picker
              [(ngModel)]="progressSelected.endPlan"
            ></nz-date-picker>
          </td>
        </tr>

        <tr>
          <td><label>Start Act</label></td>
          <td>
            <nz-date-picker
              [(ngModel)]="progressSelected.startAction"
            ></nz-date-picker>
          </td>
          <td><label>End Act</label></td>
          <td>
            <nz-date-picker
              [(ngModel)]="progressSelected.endAction"
            ></nz-date-picker>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td>File</td>
          <td>
            <dx-tree-list
              #treeList
              [dataSource]="drawings"
              [rootValue]="-1"
              keyExpr="id"
              parentIdExpr="parentId"
              [showRowLines]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              [expandedRowKeys]="expandedRowKeys"
              (onSaving)="onSavingDrawing($event)"
              (onSaved)="onSavedDrawing($event)"
              (onCellClick)="onCellClick($event)"
            >
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
              >
                <dxo-popup
                  title="Drawing Information"
                  [showTitle]="true"
                  [width]="800"
                >
                </dxo-popup>
              </dxo-editing>

              <dxi-column
                dataField="drawingNo"
                caption="Drawing No"
              ></dxi-column>
              <dxi-column
                dataField="drawingName"
                caption="Drawing name"
              ></dxi-column>
              <dxi-column dataField="qty" caption="Qty"></dxi-column>

              <dxi-column dataField="unit" caption="Unit"></dxi-column>
              <dxi-column dataField="material" caption="Material"></dxi-column>
              <dxi-column dataField="hardness" caption="Hardness"></dxi-column>
              <dxi-column
                dataField="polishing"
                caption="Polishing"
              ></dxi-column>
            </dx-tree-list>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isOpenProgressModal = false">
      Đóng
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isOpenActivityModal" [nzTitle]="'Project Activity'">
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td>Content</td>
          <td>
            <input nz-input placeholder="Content" />
          </td>
        </tr>
        <tr>
          <td>Note</td>
          <td>
            <textarea rows="3" nz-input></textarea>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
