.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #cac8c8 !important;
  text-align: left;
}

.w3-green {
  color: #000000 !important;
  background-color: rgb(12, 172, 12) !important;
  font-size: 12px;
  font-weight: bold;
  padding-left: 3px;
}

#project-info,
#project-progress {
  label {
    font-weight: bold;
    color: #0856ff;
  }
}
