<div nz-row [nzGutter]="24">
  <div nz-col nzXs="14" nzSm="14" nzMd="14" nzLg="14">
    <nz-collapse>
      <nz-collapse-panel
        [nzActive]="true"
        [nzShowArrow]="true"
        [nzHeader]="project.controlNo"
      >
        <div nz-row nzJustify="start" [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="12" nzLg="4">
            <dx-text-box
              label="Project Name"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              [value]="project.name"
            ></dx-text-box>
          </div>
          <div nz-col nzXs="24" nzSm="12" nzLg="4">
            <dx-text-box
              label="Line"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
            ></dx-text-box>
          </div>
          <div nz-col nzXs="24" nzSm="12" nzLg="4">
            <dx-text-box
              label="Supplier"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
            ></dx-text-box>
          </div>
          <div nz-col nzXs="24" nzSm="12" nzLg="4">
            <dx-text-box
              label="Tact Time"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
            ></dx-text-box>
          </div>
        </div>

        <br />

        <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="'Process'"
            [nzActive]="true"
            [nzShowArrow]="true"
          >
            <dx-data-grid
              keyExpr="id"
              [dataSource]="processes"
              [showColumnLines]="true"
              [showRowLines]="true"
              [showBorders]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              (onRowClick)="onClickProcess($event)"
            >
     
              <dxi-column
                dataField="name"
                caption="Progress Name"
              ></dxi-column>
              <dxi-column
                dataField="startPlan"
                caption="Start Plan"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="endPlan"
                caption="End Plan"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="startAction"
                caption="Start Action"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="endAction"
                caption="End Action"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>

              <dxi-column
                caption="Tiến độ"
                cellTemplate="progressTemplate"
                [fixed]="true"
                fixedPosition="right"
              >
                <div
                  *dxTemplate="let item of 'progressTemplate'"
                  style="text-align: center"
                >
                  <div class="w3-light-grey .w3-round-small">
                    <div
                      class="w3-container w3-green .w3-round-small"
                      [style.width]="
                        item.data.progress == null
                          ? 0
                          : item.data.progress + '%'
                      "
                    >
                      {{ item.data.progress == null ? 0 : item.data.progress }}%
                    </div>
                  </div>
                </div>
              </dxi-column>
            </dx-data-grid>
          </nz-collapse-panel></nz-collapse
        >
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col nzXs="10" nzSm="10" nzMd="10" nzLg="10">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Project Activity'"
        [nzActive]="true"
        [nzShowArrow]="true"
      >
        <dx-data-grid
          keyExpr="id"
          #projectActivityGrid
          [dataSource]="projectActivities"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
        >
          <dxo-toolbar>
            <dxi-item location="before">
              <dx-button
                stylingMode="outlined"
                type="default"
                icon="plus"
                text="Add Activity"
                (onClick)="openProjectActivityModal()"
              >
              </dx-button>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column
            dataField="date"
            caption="Date"
            dataType="date"
            format="yyyy-MM-dd"
          ></dxi-column>
          <dxi-column dataField="title" caption="Title"></dxi-column>
          <dxi-column dataField="note" caption="Note"></dxi-column>
          <dxi-column dataField="attachFile" caption="File"></dxi-column>
        </dx-data-grid>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<nz-modal
  [nzVisible]="isOpenProcessModal"
  [nzTitle]="'Process: ' + process.name"
  nzWidth="100%"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-number-box
          label="Tiến độ"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [min]="0"
          [max]="100"
          [step]="5"
        ></dx-number-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-date-box
          label="Start Plan"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [displayFormat]="'yyyy-MM-dd'"
        ></dx-date-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-date-box
          label="End Plan"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [displayFormat]="'yyyy-MM-dd'"
        ></dx-date-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-date-box
          label="Start Act"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [displayFormat]="'yyyy-MM-dd'"
        ></dx-date-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-date-box
          label="End Act"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [displayFormat]="'yyyy-MM-dd'"
        ></dx-date-box>
      </div>
    </div>

    <br />

    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr *ngIf="process?.id == 3">
          <td>File</td>
          <td>
            <dx-tree-list
              [dataSource]="drawings"
              #treeList
              class="drawing-structure"
              [rootValue]="null"
              keyExpr="id"
              parentIdExpr="parentId"
              [showRowLines]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              [height]="550"
              [scrolling]="{
                mode: 'virtual',
                rowRenderingMode: 'virtual',
                columnRenderingMode: 'virtual',
                useNative: false,
                showScrollbar: 'always'
              }"
              (onCellClick)="previewDrawingFile($event)"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

              <dxo-toolbar>
                <dxi-item
                  location="before"
                  name="addRowButton"
                  showText="always"
                ></dxi-item>
                <dxi-item location="before">
                  <dx-button
                    stylingMode="outlined"
                    type="default"
                    icon="upload"
                    text="Upload Drawing Structure"
                    (onClick)="openUploadFileModal('DRAWING_STRUCTURE')"
                  >
                  </dx-button>
                </dxi-item>
                <dxi-item location="before">
                  <dx-button
                    stylingMode="outlined"
                    type="success"
                    icon="upload"
                    text="Upload Drawing File"
                    (onClick)="openUploadFileModal('DRAWING_FILE')"
                  >
                  </dx-button>
                </dxi-item>

                <dxi-item
                  location="after"
                  name="columnChooserButton"
                ></dxi-item>
                <dxi-item location="after" name="searchPanel"></dxi-item>
              </dxo-toolbar>

              <dxo-editing
                mode="popup"
                [allowUpdating]="false"
                [allowAdding]="false"
                [allowDeleting]="false"
              >
                <dxo-popup
                  title="Drawing Information"
                  [showTitle]="true"
                  [width]="800"
                >
                </dxo-popup>
              </dxo-editing>

              <dxi-column
                dataField="level"
                caption="Level"
              ></dxi-column>

              <dxi-column
                dataField="drawingNo"
                caption="Drawing No"
              ></dxi-column>
              <dxi-column
                dataField="name"
                caption="Drawing name"
              ></dxi-column>
              <dxi-column dataField="qty" caption="Qty"></dxi-column>

              <dxi-column dataField="unit" caption="Unit"></dxi-column>
              <dxi-column dataField="material" caption="Material"></dxi-column>
              <dxi-column dataField="hardness" caption="Hardness"></dxi-column>

              <dxi-column
                dataField="polishing"
                caption="Polishing"
              ></dxi-column>
              <dxi-column dataField="supplier" caption="Supplier"></dxi-column>
              <dxi-column dataField="version" caption="Version"></dxi-column>
              <dxi-column
                dataField="remark"
                caption="Remark"
                [visible]="false"
              ></dxi-column>
            </dx-tree-list>
          </td>
        </tr>
        <!-- <tr *ngIf="progress?.projectProgressId !== 3">
          <td>File</td>
          <td>
            <dx-data-grid
              keyExpr="id"
              #progressFilesGrid
              [dataSource]="progressFiles"
              [showColumnLines]="true"
              [showRowLines]="true"
              [showBorders]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
            >
              <dxo-toolbar>
                <dxi-item location="before">
                  <dx-button
                    stylingMode="outlined"
                    type="default"
                    icon="upload"
                    text="Upload File"
                  >
                  </dx-button>
                </dxi-item>
              </dxo-toolbar>
              <dxi-column dataField="name" caption="File"></dxi-column>
              <dxi-column
                caption="Action"
                cellTemplate="actionTemplate"
                [fixed]="true"
                fixedPosition="right"
              ></dxi-column>
              <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
                <a>Download</a> | <a style="color: red;">Delete</a>
              </div>
            </dx-data-grid>
          </td>
        </tr> -->
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isOpenProcessModal = false">
      Đóng
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenProjectActivityModal"
  [nzTitle]="'Project Activity'"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
      class="project-activity"
    >
      <tbody>
        <tr>
          <td><label>Title</label></td>
          <td>
            <input
              nz-input
              placeholder="Title"
              [(ngModel)]="projectActivity.title"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label>Date</label>
          </td>
          <td>
            <nz-date-picker
              [(ngModel)]="projectActivity.date"
              style="width: 100%"
            ></nz-date-picker>
          </td>
        </tr>
        <tr>
          <td><label>Note</label></td>
          <td>
            <textarea
              rows="3"
              nz-input
              [(ngModel)]="projectActivity.note"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td><label>File</label></td>
          <td>
            <dx-file-uploader
              #projectActivityUploader
              [multiple]="false"
              selectButtonText="Select file"
              labelText=""
              accept="image/*, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx"
              uploadMode="useForm"
              [inputAttr]="{ 'aria-label': 'Select file' }"
            >
            </dx-file-uploader>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="insertProjectActivity()">
      Lưu
    </button>
    <button
      nz-button
      nzType="default"
      (click)="isOpenProjectActivityModal = false"
    >
      Đóng
    </button>
  </div>
</nz-modal>

<!-- <nz-modal
  [(nzVisible)]="isOpenUploadDrawingFileModal"
  [nzTitle]="'Upload Drawing File'"
>
  <ng-container *nzModalContent>
    <dx-file-uploader
      [multiple]="true"
      selectButtonText="Select file"
      labelText=""
      accept=".pdf"
      [allowedFileExtensions]="['.pdf']"
      uploadMode="useForm"
      [inputAttr]="{ 'aria-label': 'Select file' }"
    >
    </dx-file-uploader>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" >
      Save
    </button>
    <button
      nz-button
      nzType="default"
      (click)="isOpenUploadDrawingFileModal = false"
    >
      Đóng
    </button>
  </div>
</nz-modal> -->

<!-- <nz-modal
  [nzTitle]="'Upload Drawing Tree'"
>
  <ng-container *nzModalContent>
    <dx-file-uploader
      [multiple]="false"
      selectButtonText="Select file"
      labelText=""
      accept=".xlsx"
      uploadMode="useForm"
      [inputAttr]="{ 'aria-label': 'Select file' }"
    >
    </dx-file-uploader>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" >
      Save
    </button>
    <button
      nz-button
      nzType="default"
    >
      Đóng
    </button>
  </div>
</nz-modal> -->

<!-- <nz-modal
  [(nzVisible)]="isOpenUploadProgressFileModal"
  [nzTitle]="'Upload Progress File'"
>
  <ng-container *nzModalContent>
    <dx-file-uploader
      [multiple]="true"
      selectButtonText="Select file"
      labelText=""
      accept="image/*, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx"
      uploadMode="useForm"
      [inputAttr]="{ 'aria-label': 'Select file' }"
    >
    </dx-file-uploader>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" >
      Save
    </button>
    <button
      nz-button
      nzType="default"
      (click)="isOpenUploadProgressFileModal = false"
    >
      Đóng
    </button>
  </div>
</nz-modal> -->


<nz-modal
  [(nzVisible)]="isOpenUploadFileModal"
  [nzTitle]="uploadFileModal.title"
>
  <ng-container *nzModalContent>
    <dx-file-uploader
      #fileUploader
      [multiple]="uploadFileModal.multiple"
      selectButtonText="Select file"
      labelText=""
      [accept]="uploadFileModal.accept"
      [uploadMode]="uploadFileModal.uploadMode"
      [inputAttr]="{ 'aria-label': 'Select file' }"
    >
    </dx-file-uploader>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="uploadFile()">
      Save
    </button>
    <button
      nz-button
      nzType="default"
      (click)="isOpenUploadFileModal = false"
    >
      Đóng
    </button>
  </div>
</nz-modal>