<div nz-row [nzGutter]="24">
  <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Project: ' + project.projectNo"
        [nzActive]="true"
        [nzShowArrow]="true"
      >
        <!-- <nz-card style="width: 100%"></nz-card> -->
        <nz-table
          id="project-info"
          [nzData]="['']"
          nzSize="small"
          nzBordered
          nzFrontPagination="false"
        >
          <tbody>
            <tr>
              <td>
                <dx-text-box
                  label="Project Name"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="project.projectName"
                  (onBlur)="updateProject()"
                ></dx-text-box>
              </td>
              <td>
                <dx-text-box
                  label="Line"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="project.line"
                  (onBlur)="updateProject()"
                ></dx-text-box>
              </td>
              <td>
                <dx-text-box
                  label="Supplier"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="project.supplier"
                  (onBlur)="updateProject()"
                ></dx-text-box>
              </td>
              <td>
                <dx-text-box
                  label="Tact Time"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'floating'"
                  [(value)]="project.tactTime"
                  (onBlur)="updateProject()"
                ></dx-text-box>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="'Progress'"
            [nzActive]="true"
            [nzShowArrow]="true"
          >
            <dx-data-grid
              keyExpr="id"
              #projectGrid
              [dataSource]="progresses"
              [showColumnLines]="true"
              [showRowLines]="true"
              [showBorders]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="true"
              (onRowClick)="onClickProgress($event)"
            >
              <dxi-column
                dataField="projectProgressId"
                caption="Progress Id"
              ></dxi-column>
              <dxi-column
                dataField="projectProgressName"
                caption="Progress Name"
              ></dxi-column>
              <dxi-column
                dataField="startPlan"
                caption="Start Plan"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="endPlan"
                caption="End Plan"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="startAction"
                caption="Start Action"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>
              <dxi-column
                dataField="endAction"
                caption="End Action"
                dataType="date"
                format="yyyy-MM-dd"
              ></dxi-column>

              <dxi-column
                caption="Tiến độ"
                cellTemplate="progressTemplate"
                [fixed]="true"
                fixedPosition="right"
              >
                <div
                  *dxTemplate="let item of 'progressTemplate'"
                  style="text-align: center"
                >
                  <div class="w3-light-grey .w3-round-small">
                    <div
                      class="w3-container w3-green .w3-round-small"
                      [style.width]="
                        item.data.progress == null
                          ? 0
                          : item.data.progress + '%'
                      "
                    >
                      {{ item.data.progress == null ? 0 : item.data.progress }}%
                    </div>
                  </div>
                </div>
              </dxi-column>
            </dx-data-grid>
          </nz-collapse-panel></nz-collapse
        >
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Project Activity'"
        [nzActive]="true"
        [nzShowArrow]="true"
      >
        <dx-data-grid
          keyExpr="id"
          #projectActivityGrid
          [dataSource]="activities"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
        >
          <dxo-toolbar>
            <dxi-item location="before">
              <button
                nz-button
                nzType="primary"
                (click)="isOpenActivityModal = true"
              >
                <span nz-icon nzType="plus"></span>
                Add
              </button>
            </dxi-item>
          </dxo-toolbar>
          <dxi-column dataField="createdAt" caption="Time"></dxi-column>
          <dxi-column dataField="content" caption="Content"></dxi-column>
          <dxi-column dataField="note" caption="Note"></dxi-column>
        </dx-data-grid>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isOpenProgressModal"
  [nzTitle]="'Progress: ' + progress?.projectProgressName"
  nzWidth="100%"
  [nzFooter]="modalFooter"
  (nzOnCancel)="isOpenProgressModal = false"
>
  <ng-container *nzModalContent>
    <nz-table
      id="project-progress"
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td>
            <dx-number-box
              label="Tiến độ"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'floating'"
              [(value)]="progress.progress"
              [min]="0"               
              [max]="100"             
              [step]="5"     
              (onBlur)="updateProjectProgress()"  
            ></dx-number-box>
          </td>
          <td>
            <dx-date-box
              [(value)]="progress.startPlan"
              label="Start Plan"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'floating'"
              [displayFormat]="'yyyy-MM-dd'"
              (onValueChanged)="updateProjectProgress()"  
            ></dx-date-box>
          </td>
          <td>
            <dx-date-box
              [(value)]="progress.endPlan"
              label="End Plan"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'floating'"
              [displayFormat]="'yyyy-MM-dd'"
              (onValueChanged)="updateProjectProgress()"  
            ></dx-date-box>
          </td>
          <td>
            <dx-date-box
              label="Start Act"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'floating'"
              [displayFormat]="'yyyy-MM-dd'"
            ></dx-date-box>
          </td>
          <td>
            <dx-date-box
              label="End Act"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'floating'"
              [displayFormat]="'yyyy-MM-dd'"
            ></dx-date-box>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td>File</td>
          <td>
            <dx-tree-list
              #treeList
              [dataSource]="drawings"
              [rootValue]="-1"
              keyExpr="id"
              parentIdExpr="parentId"
              [showRowLines]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              [expandedRowKeys]="expandedRowKeys"
              (onSaving)="onSavingDrawing($event)"
              (onSaved)="onSavedDrawing($event)"
              (onCellClick)="onCellClick($event)"
            >
              <dxo-filter-row [visible]="false"></dxo-filter-row>
              <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
              >
                <dxo-popup
                  title="Drawing Information"
                  [showTitle]="true"
                  [width]="800"
                >
                </dxo-popup>
              </dxo-editing>

              <dxi-column
                dataField="drawingNo"
                caption="Drawing No"
              ></dxi-column>
              <dxi-column
                dataField="drawingName"
                caption="Drawing name"
              ></dxi-column>
              <dxi-column dataField="qty" caption="Qty"></dxi-column>

              <dxi-column dataField="unit" caption="Unit"></dxi-column>
              <dxi-column dataField="material" caption="Material"></dxi-column>
              <dxi-column dataField="hardness" caption="Hardness"></dxi-column>
              <dxi-column
                dataField="polishing"
                caption="Polishing"
              ></dxi-column>
            </dx-tree-list>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isOpenProgressModal = false">
      Đóng
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isOpenActivityModal" [nzTitle]="'Project Activity'">
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzSize="small"
      nzBordered
      nzFrontPagination="false"
    >
      <tbody>
        <tr>
          <td>Title</td>
          <td>
            <input nz-input placeholder="Content" />
          </td>
        </tr>
        <tr>
          <td>Note</td>
          <td>
            <textarea rows="3" nz-input></textarea>
          </td>
        </tr>
        <tr>
          <td>File</td>
          <td>
            <dx-file-uploader
              [multiple]="true"
              selectButtonText="Select file"
              labelText=""
              accept="image/*, .pdf, .doc, .docx, .ppt, .pptx, .xls, .xlsx"
              uploadMode="useForm"
              [inputAttr]="{ 'aria-label': 'Select file' }"
              (onValueChanged)="onValueChanged($event)"
            >
            </dx-file-uploader>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
