<ng-template [ngIf]="master == '0'">
  <nz-breadcrumb>
    <nz-breadcrumb-item> Relay Factory</nz-breadcrumb-item>
    <nz-breadcrumb-item> Check Sheet </nz-breadcrumb-item>
    <nz-breadcrumb-item> Create Item </nz-breadcrumb-item>
    <nz-breadcrumb-item> Line </nz-breadcrumb-item>
    <nz-breadcrumb-item> Process </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<ng-template [ngIf]="master != '0'">
  <nz-breadcrumb>
    <nz-breadcrumb-item> Relay Factory</nz-breadcrumb-item>
    <nz-breadcrumb-item> Check Sheet </nz-breadcrumb-item>
    <nz-breadcrumb-item> Master </nz-breadcrumb-item>
    <nz-breadcrumb-item> Process </nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>

<br />

<h3>Danh sách các công đoạn Line {{ line }}</h3>

<ng-template [ngIf]="master == '0'">
  <nz-table
    #lineTable
    [nzData]="processes"
    nzSize="small"
    nzBordered
    [nzFrontPagination]="false"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th class="text-center" style="width: 10%">#</th>
        <th class="text-center" style="width: 50%">Công đoạn</th>
        <th class="text-center" style="width: 10%">Số lượng</th>
        <th class="text-center" style="width: 5%">Group</th>
        <th class="text-center" style="width: 25%" nzEllipsis>Models</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lineTable.data; index as i">
        <td class="text-center">{{ i + 1 }}</td>
        <td (click)="rowClick(data)"><div [innerHtml]="data.name"></div></td>
        <td class="text-center">{{ data.total }}</td>
        <td class="text-center">{{ data.checkSheetGroup }}</td>
        <td
          (click)="openAddModelModal(data)"
          nzEllipsis
          nz-tooltip
          [nzTooltipTitle]="data.models"
          nzTooltipColor="cyan"
        >
          {{ data.models }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-template>

<ng-template [ngIf]="master != '0'">
  <nz-table
    #lineTable
    [nzData]="processes"
    nzBordered
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Công đoạn</th>
        <th class="text-center">Checked / Total</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of lineTable.data; index as i"
        (click)="rowClick(data)"
      >
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ data.name }}</td>
        <td
          [ngClass]="{
            'text-center': true,
            invalid: data.checkedAmount < data.total,
            valid: data.checkedAmount == data.total
          }"
        >
          {{ data.checkedAmount }} / {{ data.total }}
        </td>
        <td class="text-center">
          <img
            *ngIf="data.evaluate == 'OK'"
            src="./../../../../../assets/images/face-icon/Good1.png"
            width="30%"
          />
          <img
            *ngIf="data.evaluate == 'NG'"
            src="./../../../../../assets/images/face-icon/Bad1.png"
            width="30%"
          />
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-template>

<nz-modal nzTitle="Thêm Models" [(nzVisible)]="isOpenAddModelModal">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="updateForm">
      <h3>{{ processSelected.name }}</h3>
      <br />
      <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="6" nzLg="4">
          <label>Models:</label>
        </div>
        <div nz-col nzXs="24" nzSm="18" nzLg="20">
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="Models"
            formControlName="models"
          >
            <nz-option
              *ngFor="let option of models"
              [nzLabel]="option.name"
              [nzValue]="option.name"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </form>

    <!-- <div nz-col nzXs="24" nzSm="6" nzLg="4">
        <label>Models:</label>
      </div>
      <div nz-col nzXs="24" nzSm="18" nzLg="20">
        <nz-select nzMode="multiple" nzPlaceHolder="Models">
          <nz-option
            *ngFor="let option of models"
            [nzLabel]="option.name"
            [nzValue]="option.name"
          >
          </nz-option>
        </nz-select>
      </div> -->
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelAddModel()">Hủy</button>
    <button nz-button nzType="primary" (click)="addModel()">Lưu</button>
  </div>
</nz-modal>
