<nz-breadcrumb>
  <nz-breadcrumb-item> HR & GA </nz-breadcrumb-item>
  <nz-breadcrumb-item> Dữ liệu nhân viên </nz-breadcrumb-item>
  <nz-breadcrumb-item> Khóa đào tạo </nz-breadcrumb-item>
  <nz-breadcrumb-item> Lịch sử </nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<!-- <nz-collapse>
    <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="true" [nzShowArrow]="true">

    </nz-collapse-panel>
</nz-collapse> -->
<dx-data-grid
  style="margin-top: 10px"
  id="gridMaster"
  [dataSource]="histories"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [allowColumnResizing]="true"
  [columnResizingMode]="'widget'"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  (onExporting)="onExportClient($event)"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          (click)="openFileUploadModal()"
        >
          <span nz-icon nzType="login"></span>
          Upload
        </button>
      </nz-space>
    </dxi-item>

    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton" location="after"></dxi-item>
  </dxo-toolbar>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>

  <dxi-column
    caption="User Name"
    dataField="username"
    alignment="left"
  ></dxi-column>
  <dxi-column caption="Name" dataField="name" alignment="left"></dxi-column>
  <dxi-column
    caption="Section"
    dataField="section"
    alignment="left"
  ></dxi-column>
  <dxi-column
    caption="Position"
    dataField="position"
    alignment="left"
  ></dxi-column>
  <dxi-column
    caption="Training Course"
    dataField="trainingCourse"
    alignment="left"
  ></dxi-column>
  <dxi-column
    caption="Training Date"
    dataField="trainingDate"
    alignment="center"
    dataType="date"
    format="yyyy-MM-dd"
  ></dxi-column>
</dx-data-grid>

<nz-modal [(nzVisible)]="isOpenModalUpload" nzTitle="Upload dữ liệu">
  <ng-container *nzModalContent>
    <nz-upload
      [nzAction]="fileUploadApi"
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="handleChange($event)"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Click to Upload
      </button>
    </nz-upload>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenModalUpload = false">
      Đóng
    </button>
  </div>
</nz-modal>
