<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item timesheet" routerLink="/admin/hr/hr-meal-mng/time-sheet-confirm">
      <img src="./../../../../../../assets/images/schedule.png" alt="" />
      <h6>Time Sheet</h6>
      <h4>Confirm</h4>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item summary" routerLink="/admin/hr/hr-meal-mng/summary">
      <img src="./../../../../../../assets/images/summary.png" alt="" />
      <h6>Tổng hợp</h6>
      <h4>Summary</h4>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item personal" routerLink="/admin/personal/meal">
      <img src="./../../../../../../assets/images/id-card.png" alt="" />
      <h6>Cá nhân</h6>
      <h4>Personal</h4>
    </div>
  </div>
</div>
