<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item devices" routerLink="/admin/is/is-device-mng/devices">
      <img src="./../../../../../../assets/images/devices.png" alt="" />
      <h6>Danh sách thiết bị</h6>
      <h4>Devices</h4>
    </div>
  </div>

  <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item in-out" routerLink="/admin/is/is-device-mng/history">
      <img src="./../../../../../../assets/images/history.png" alt="" />
      <h6>Lịch sử bàn giao</h6>
      <h4>History</h4>
    </div>
  </div> -->

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div
      class="item ivt"
      routerLink="/admin/is/is-device-mng/inventory-requests"
    >
      <img src="./../../../../../../assets/images/inventory.png" />
      <h6>Kiểm Kê</h6>
      <h4>Inventory</h4>
    </div>
  </div>
</div>
