nz-table {
    tr {
        font-weight: bold;
    }
}

#reportGrid {
    .link:hover {
        color: purple;
        text-decoration: underline;
    }
}

.section {

}

.section-active {
    color: white;
    background: #527ae3 ;
}