<!-- <nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/admin/is/is-device-mng/menu']">Device Management</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Danh sách thiết bị</nz-breadcrumb-item>
</nz-breadcrumb> -->

<nz-tabset [(nzSelectedIndex)]="selectedTabIndex">
  <nz-tab nzTitle="Danh sách thiết bị">
    <dx-data-grid
      keyExpr="id"
      #devicesGrid
      [dataSource]="devices"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="false"
      [hoverStateEnabled]="true"
      (onCellPrepared)="onCellPreparedHistory($event)"
      (onExporting)="onExportDevices($event)"
      (onSelectionChanged)="onSelectionChanged($event)"
    >
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-column-chooser #columnChooser [enabled]="true" [mode]="'select'">
      </dxo-column-chooser>

      <dxo-selection
        [selectAllMode]="'allPages'"
        [showCheckBoxesMode]="'always'"
        mode="multiple"
      ></dxo-selection>

      <dxo-column-chooser
        #columnChooser
        [enabled]="true"
        [mode]="'select'"
        [title]="'Cột hiển thị'"
      >
      </dxo-column-chooser>

      <dxo-toolbar>
        <dxi-item location="before">
          <nz-space>
            <ng-container *ngIf="selectedRows?.length">
              <button
                *nzSpaceItem
                nz-button
                nzType="default"
                (click)="goToTab(2)"
              >
                <span nz-icon nzType="qrcode"></span>
                QR Code
              </button>
            </ng-container>
          </nz-space>
        </dxi-item>

        <dxi-item location="after">
          <dx-button icon="refresh" (onClick)="getDevices()"> </dx-button>
        </dxi-item>

        <dxi-item name="exportButton" location="after" />
        <dxi-item name="columnChooserButton" location="after"></dxi-item>
      </dxo-toolbar>

      <dxi-column
        dataField="name"
        caption="Tên thiết bị"
        cellTemplate="deviceNameTemplate"
        [fixed]="true"
        fixedPosition="left"
      >
        <dxo-header-filter [allowSelectAll]="true">
          <dxo-search [enabled]="true"></dxo-search>
        </dxo-header-filter>
      </dxi-column>
      <div *dxTemplate="let item of 'deviceNameTemplate'">
        <a (click)="openDeviceDetailModal(item.data)">{{ item.data.name }}</a>
      </div>
      <dxi-column dataField="type" caption="Loại thiết bị"></dxi-column>
      <dxi-column dataField="serial" caption="Serial"></dxi-column>
      <dxi-column dataField="model" caption="Model"></dxi-column>
      <dxi-column dataField="brand" caption="Thương hiệu"></dxi-column>
      <dxi-column dataField="os" caption="OS"></dxi-column>
      <dxi-column dataField="ram" caption="RAM"></dxi-column>
      <dxi-column
        dataField="faCode"
        caption="FA Code"
        [visible]="false"
      ></dxi-column>
      <dxi-column
        dataField="purchaseDate"
        caption="Ngày mua"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="center"
      ></dxi-column>
      <dxi-column dataField="locationCode" caption="Vị trí"></dxi-column>
      <dxi-column
        dataField="status"
        caption="Trạng thái"
        [visible]="false"
      ></dxi-column>

      <dxi-column
        dataField="recordTypeName"
        caption="Transaction Type"
      ></dxi-column>
      <dxi-column
        dataField="picCode"
        caption="PIC Code"
        [visible]="false"
        alignment="center"
      ></dxi-column>
      <dxi-column dataField="picName" caption="PIC Name"></dxi-column>
      <dxi-column dataField="sectionName" caption="Section"></dxi-column>
      <dxi-column
        dataField="transactionDate"
        caption="Ngày Giao/Nhận"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="remark"
        caption="Ghi chú"
        [visible]="true"
      ></dxi-column>

      <dxo-summary>
        <dxi-total-item
          column="name"
          summaryType="count"
          displayFormat="Tổng: {0} (Thiết bị)"
        ></dxi-total-item>
      </dxo-summary>

      <dxo-paging [pageSize]="15"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 25, 50, 100]"
      >
      </dxo-pager>
    </dx-data-grid>
  </nz-tab>
  <nz-tab nzTitle="Lịch sử giao nhận">
    <dx-data-grid
      keyExpr="id"
      #transactionGrid
      [dataSource]="transactions"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="false"
      [hoverStateEnabled]="true"
      (onSaved)="saveTransaction($event)"
      (onCellPrepared)="onCellPreparedHistory($event)"
    >
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-export [enabled]="true"></dxo-export>

      <dxo-column-chooser
        #columnChooser
        [enabled]="true"
        [mode]="'select'"
        [title]="'Cột hiển thị'"
      >
      </dxo-column-chooser>

      <dxi-column dataField="deviceName" caption="Tên thiết bị" fixed="true">
        <dxi-validation-rule
          type="required"
          message="Tên thiết bị bắt buộc chọn"
        ></dxi-validation-rule>
      </dxi-column>
      <dxi-column
        dataField="recordType"
        caption="Loại giao dich"
        [visible]="false"
      >
        <dxi-validation-rule
          type="required"
          message="Loại giao dich bắt buộc chọn"
        ></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="recordTypeName" caption="Loại giao dich">
      </dxi-column>
      <dxi-column dataField="itUserCode" caption="IT UserCode" [visible]="false"></dxi-column>
      <dxi-column dataField="itUserName" caption="IT Name" [visible]="false"></dxi-column>
      <dxi-column dataField="picCode" caption="PIC Code" [visible]="false"></dxi-column>
      <dxi-column dataField="picName" caption="PIC Name"></dxi-column>
      <dxi-column dataField="locationCode" caption="Vị trí"></dxi-column>

      <dxi-column dataField="picSectionName" caption="Section"></dxi-column>
      <dxi-column dataField="picSectionCode" caption="Section (Code)" [visible]="false"></dxi-column>

      <dxi-column dataField="picSubsectionName" caption="Subsection"></dxi-column>
      <dxi-column dataField="picSubsectionCode" caption="Subsection (Code)" [visible]="false"></dxi-column>

      <dxi-column
        dataField="date"
        caption="Ngày Giao/Nhận"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="startDate"
        caption="StartDate"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="endDate"
        caption="EndDate"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="center"
      ></dxi-column>
      <dxi-column dataField="remark" caption="Remark"></dxi-column>

      <dxo-editing
        mode="popup"
        [allowAdding]="true"
        [allowUpdating]="false"
        [allowDeleting]="false"
      >
        <dxo-popup
          [width]="800"
          [height]="400"
          title="Thông tin giao dịch"
          [showTitle]="true"
          [dragEnabled]="true"
        ></dxo-popup>

        <dxo-form>
          <dxi-item
            dataField="recordType"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: recordTypes,
              valueExpr: 'id',
              displayExpr: 'name',
              placeholder: 'Chọn loại giao dịch',
              searchEnabled: true
            }"
          ></dxi-item>
          <dxi-item
            dataField="picCode"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: users,
              valueExpr: 'username',
              displayExpr: 'codeName',
              placeholder: 'Mã nhân viên',
              searchEnabled: true
            }"
          ></dxi-item>
          <dxi-item
            dataField="deviceName"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: devices,
              valueExpr: 'name',
              displayExpr: displayDeviceName,
              placeholder: 'Tên thiết bị',
              searchEnabled: true
            }"
          ></dxi-item>
          <dxi-item
            dataField="locationId"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: locations,
              valueExpr: 'id',
              displayExpr: 'name',
              placeholder: 'Vị trí',
              searchEnabled: true
            }"
          ></dxi-item>

          <dxi-item dataField="remark"> </dxi-item>
        </dxo-form>
      </dxo-editing>

      <dxo-paging [pageSize]="12"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      >
      </dxo-pager>
    </dx-data-grid>
  </nz-tab>
  <nz-tab nzTitle="Tem thiết bị" *ngIf="selectedRows?.length">
    <nz-space>
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        printSectionId="printLabel"
        ngxPrint
        [useExistingCss]="true"
        (click)="printLabel()"
      >
        <span nz-icon nzType="printer"></span>
        Print
      </button>
    </nz-space>

    <nz-divider style="margin: 2px 0px"></nz-divider>

    <div id="printLabel">
      <table
        class="label"
        style="width: 5.2cm"
        *ngFor="let label of selectedRows"
      >
        <tbody>
          <tr>
            <td style="text-align: center; font-weight: bold; width: 22%">
              PIDVN
            </td>
            <td style="width: 25%">Code</td>
            <td>{{ label.name }}</td>
          </tr>
          <tr>
            <td rowspan="3" style="text-align: center">
              <qrcode
                [qrdata]="label.name"
                [allowEmptyString]="true"
                [cssClass]="'center'"
                [elementType]="'img'"
                [errorCorrectionLevel]="'Q'"
                [margin]="1"
                [scale]="1"
                [width]="35"
                style="float: left"
              ></qrcode>
            </td>
            <td>Model</td>
            <td>{{ label.model }}</td>
          </tr>
          <tr>
            <td>Start Date</td>
            <td>{{ label.purchaseDate | date : "yyyy-MM-dd" }}</td>
          </tr>
          <tr>
            <td>Serial</td>
            <td>{{ label.serial }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nz-tab>
</nz-tabset>

<nz-modal
  [(nzVisible)]="isOpenDeviceDetailModal"
  nzTitle="Thông tin thiết bị"
  (nzOnCancel)="isOpenDeviceDetailModal = false"
  (nzOnOk)="isOpenDeviceDetailModal = false"
  [nzWidth]="'100vw'"
  [nzStyle]="{ top: '5vh' }"
  [nzBodyStyle]="{ height: '80vh', overflow: 'auto' }"
>
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="top" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12">
        <nz-divider
          nzText="Device Infomation"
          nzOrientation="left"
          style="margin-top: -20px"
          nzPlain="true"
        ></nz-divider>
        <nz-table
          #deviceInfoTable
          nzSize="small"
          nzBordered
          [nzData]="['']"
          nzFrontPagination="false"
        >
          <tbody>
            <tr>
              <td><label>Tên thiết bị</label></td>
              <td>{{ deviceSelected?.name }}</td>
              <td
                rowspan="4"
                colspan="2"
                style="text-align: center; vertical-align: middle"
              >
                <img
                  *ngIf="deviceSelected.type === 'LAPTOP'"
                  nz-image
                  nzSrc="../../../../../assets/images/devices/LAPTOP.png"
                  width="25%"
                />
                <img
                  *ngIf="deviceSelected.type === 'PC-AIO'"
                  nz-image
                  nzSrc="../../../../../assets/images/devices/PC-AIO.png"
                  width="25%"
                />
                <img
                  *ngIf="deviceSelected.type === 'PC'"
                  nz-image
                  nzSrc="../../../../../assets/images/devices/PC.jpg"
                  width="25%"
                />
              </td>
            </tr>
            <tr>
              <td><label>Model</label></td>
              <td>{{ deviceSelected?.model }}</td>
            </tr>
            <tr>
              <td><label>Loại thiết bị</label></td>
              <td>{{ deviceSelected?.type }}</td>
            </tr>
            <tr>
              <td><label>Thương hiệu</label></td>
              <td>{{ deviceSelected?.brand }}</td>
            </tr>
            <tr>
              <td><label>Ngày mua</label></td>
              <td>{{ deviceSelected?.purchaseDate | date : "yyyy-MM-dd" }}</td>
              <td><label>FA Code</label></td>
              <td>
                {{ deviceSelected?.faCode ? deviceSelected?.faCode : "N/A" }}
              </td>
            </tr>
            <tr>
              <td><label>Hệ điều hành</label></td>
              <td>{{ deviceSelected?.os }}</td>
              <td><label>Serial</label></td>
              <td>
                {{
                  deviceSelected?.serial ? deviceSelected?.serial : "N/A"
                }}
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-divider
          *ngIf="deviceSelected.transactionId"
          nzText="Transction Infomation"
          nzOrientation="left"
          style="margin-top: -20px"
          nzPlain="true"
        ></nz-divider>
        <nz-table
          *ngIf="deviceSelected.transactionId"
          #transactionInfoTable
          nzSize="small"
          nzBordered
          [nzData]="['']"
          nzFrontPagination="false"
        >
          <tbody>
            <tr>
              <td><label>Giao dịch</label></td>
              <td>{{ deviceSelected?.recordTypeName }}</td>
              <td><label>Ngày Giao/Nhận</label></td>
              <td>{{ deviceSelected?.transactionDate | date : "yyyy-MM-dd" }}</td>
            </tr>
            <tr>
              <td><label>P.I.C</label></td>
              <td nz-tooltip [nzTooltipTitle]="titleTemplatePICUser">
                {{ deviceSelected?.picName }}
              </td>
              <ng-template #titleTemplatePICUser>
                <ul style="margin-left: -25px">
                  <li>Tên nhân viên: {{ deviceSelected?.picName }}</li>
                  <li>Mã nhân viên: {{ deviceSelected?.picCode }}</li>
                  <li>Bộ phận: {{ deviceSelected?.sectionName }}</li>
                </ul>
              </ng-template>
              <td><label>Vị trí</label></td>
              <td>{{ deviceSelected?.locationCode }}</td>
            </tr>
            <tr>
              <td><label>IT User</label></td>
              <td nz-tooltip [nzTooltipTitle]="titleTemplateItUser">
                {{ deviceSelected?.itUserName }}
              </td>
              <ng-template #titleTemplateItUser>
                <ul style="margin-left: -25px">
                  <li>Tên nhân viên: {{ deviceSelected?.itUserName }}</li>
                  <li>Mã nhân viên: {{ deviceSelected?.itUserCode }}</li>
                  <li>Bộ phận: IT</li>
                </ul>
              </ng-template>
              <td><label>Remark</label></td>
              <td>{{ deviceSelected?.transactionRemark }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12">
        <nz-divider
          nzText="License Infomation"
          nzOrientation="left"
          style="margin-top: -20px"
          nzPlain="true"
        ></nz-divider>
        <dx-data-grid
          keyExpr="id"
          #devicesGrid
          [dataSource]="[]"
          [showColumnLines]="true"
          [showRowLines]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [columnAutoWidth]="true"
          [rowAlternationEnabled]="false"
          [hoverStateEnabled]="true"
          style="margin-top: -20px"
        >
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-column-chooser #columnChooser [enabled]="true" [mode]="'select'">
          </dxo-column-chooser>

          <dxi-column dataField="name" caption="Phần mềm"></dxi-column>
          <dxi-column dataField="startDate" caption="Ngày bắt đầu"></dxi-column>
          <dxi-column dataField="endDate" caption="Ngày kết thúc"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </ng-container>
</nz-modal>
