<nz-tabset>
  <nz-tab nzTitle="Insert">
    <nz-table #insertTable [nzData]="['']" nzBordered nzFrontPagination="false">
      <thead>
        <tr>
          <th style="width: 20%">Chọn hình thức nhập</th>
          <th>
            <nz-radio-group [(ngModel)]="insertType">
              <label nz-radio nzValue="Manual">Manual</label>
              <label nz-radio nzValue="Excel">Excel</label>
            </nz-radio-group>
          </th>
        </tr>
      </thead>
    </nz-table>

    <ng-container [ngSwitch]="insertType">
      <ng-template #manualTemplate [ngSwitchCase]="'Manual'">
        <nz-collapse style="margin-top: -25px">
          <nz-collapse-panel nzHeader="Insert Manual" nzActive="true">
          </nz-collapse-panel>
        </nz-collapse>
      </ng-template>

      <ng-template #excelTemplate [ngSwitchCase]="'Excel'">
        <nz-collapse style="margin-top: -25px">
          <nz-collapse-panel nzHeader="Upload Excel" nzActive="true">
            <nz-table [nzData]="['']" nzBordered nzFrontPagination="false">
              <tbody>
                <tr>
                  <td style="width: 50%">
                    <nz-upload
                      [nzAction]="uploadFileApi"
                      (nzChange)="handleChange($event)"
                    >
                      <button nz-button>
                        <span nz-icon nzType="upload"></span>
                        Click to Upload
                      </button>
                    </nz-upload>
                  </td>
                  <td>
                    <button nz-button nzType="primary" nzShape="round" (click)="downloadTemplateUpload()">
                      <span nz-icon nzType="download"></span>
                      Download template
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-collapse-panel>
        </nz-collapse>
      </ng-template>
    </ng-container>
  </nz-tab>

  <nz-tab nzTitle="Data">
    <dx-data-grid
      id="gridContainer"
      style="margin-top: 5px"
      [dataSource]="trainingRecords"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
    >
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-column-chooser #columnChooser [enabled]="true" [mode]="'select'">
      </dxo-column-chooser>

      <dxo-toolbar>
        <dxi-item location="before">
          <nz-space>
            <nz-date-picker
              [(ngModel)]="searchParam.trainingDate"
              *nzSpaceItem
              nzMode="year"
              nzPlaceHolder="Năm"
              style="height: 32px"
            ></nz-date-picker>

            <nz-select
              *nzSpaceItem
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn khóa học"
              [nzDropdownMatchSelectWidth]="false"
              [(ngModel)]="searchParam.courseId"
              (ngModelChange)="onChangeCourse($event)"
            >
              <nz-option
                *ngFor="let course of courses"
                [nzValue]="course.id"
                [nzLabel]="course.courseName"
              >
              </nz-option>
            </nz-select>
          </nz-space>
        </dxi-item>

        <dxi-item name="exportButton"></dxi-item>
        <dxi-item name="columnChooserButton" location="after"></dxi-item>
      </dxo-toolbar>

      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <dxi-column caption="ID" dataField="username"></dxi-column>
      <dxi-column caption="Name" dataField="fullName"></dxi-column>
      <dxi-column caption="Position" dataField="position"></dxi-column>
      <dxi-column caption="Section" dataField="section"></dxi-column>
      <dxi-column caption="Course" dataField="courseName"></dxi-column>
      <dxi-column caption="Group Course" dataField="groupCourse"></dxi-column>
      <dxi-column
        caption="Group Training"
        dataField="groupTraining"
      ></dxi-column>
      <dxi-column
        caption="Training Date"
        dataField="trainingDate"
        dataType="date"
        format="yyyy-MM-dd"
      ></dxi-column>
      <dxi-column caption="Training Type" dataField="trainingType"></dxi-column>
      <dxi-column
        caption="Training Status"
        dataField="trainingStatus"
      ></dxi-column>

      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      >
      </dxo-pager>
    </dx-data-grid>
  </nz-tab>
</nz-tabset>
