<nz-tag [nzColor]="'purple'">RequestNo: {{ requestNo }}</nz-tag>

<dx-data-grid
  #lotGrid
  keyExpr="id"
  [dataSource]="lots"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="false"
  (onExporting)="onExportClient($event)"
  [grouping]="{ autoExpandAll: expandAll }"
  (onCellPrepared)="onCellPreparedLotGrid($event)"
  style="margin-top: 10px"
>
  <dxo-grouping [autoExpandAll]="expandAll"></dxo-grouping>
  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-toolbar>
    <dxi-item location="before">
      <button nz-button nzType="primary" (click)="openReceiveModal()">
        <span nz-icon nzType="qrcode"></span>
        Nhận NVL
      </button>
    </dxi-item>
    <dxi-item location="before">
      <button nz-button nzType="default" (click)="toggleExpandAll()">
        <span nz-icon [nzType]="expandAll ? 'minus' : 'plus'"></span>
        {{ expandAll ? "Thu gọn" : "Mở rộng" }}
      </button>
    </dxi-item>

    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="openSendToLineWhModal()">Chuyển NVL vào LINE-WH </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after" name="searchPanel"></dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="resetFiltersAndSorting()">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton" location="after"></dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button
          icon="info"
          type="danger"
          stylingMode="outlined"
          (onClick)="isOpenLotScanErrorModal = true"
        >
        </dx-button>
      </div>
    </dxi-item>
  </dxo-toolbar>

  <dxo-grouping [autoExpandAll]="expandAll"></dxo-grouping>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column
    dataField="model"
    caption="Model"
    [visible]="true"
    [groupIndex]="0"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column
    dataField="lotGroup"
    caption="Lot Group"
    [visible]="true"
    [groupIndex]="1"
  >
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column dataField="lotNo" caption="LotNo" [visible]="true"></dxi-column>

  <dxi-column
    dataField="qty"
    caption="Qty"
    [visible]="true"
    dataType="number"
    format="#,##0.0"
  ></dxi-column>

  <dxi-column dataField="receiverName" caption="Người nhận" [visible]="true">
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column
    dataField="updatedAt"
    caption="Ngày nhận"
    dataType="date"
    format="yyyy-MM-dd HH:mm"
    [visible]="true"
  ></dxi-column>

  <dxi-column
    dataField="statusName"
    caption="Status"
    [visible]="true"
  ></dxi-column>

  <dxi-column
    caption="Action"
    cellTemplate="actionTemplate"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-column>
  <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
    <a
      *ngIf="item.data.id"
      nz-popconfirm
      nzPopconfirmTitle="Bạn có chắc chắn xóa ?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="deleteLotReceived(item)"
      style="color: red"
      >Xóa</a
    >
  </div>

  <dxo-summary>
    <dxi-group-item
      column="lotGroup"
      summaryType="count"
      displayFormat="{0} boxes"
    >
    </dxi-group-item>
    <dxi-group-item
      column="qty"
      summaryType="sum"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
      displayFormat="Total Qty: {0}"
      valueFormat="#,##0.0"
    >
    </dxi-group-item>
  </dxo-summary>

  <dxo-paging [pageSize]="100"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenReceiveModal"
  nzTitle="Nhận nguyên vật liệu"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table [nzData]="['']" nzBordered nzFrontPagination="false">
      <thead>
        <tr>
          <th>
            <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
              <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6">
                <dx-text-box
                  #userIdIpt
                  label="Scan ID người nhận"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'static'"
                  (keydown.enter)="scanUserId($event)"
                  (click)="selectTextInput('userIdIpt')"
                ></dx-text-box>
              </div>
              <div nz-col nzXs="18" nzSm="18" nzMd="18" nzLg="18">
                <dx-text-box
                  #qrCodeIpt
                  label="Scan tem NVL"
                  labelLocation="left"
                  showColonAfterLabel="true"
                  [labelMode]="'static'"
                  (keydown.enter)="scanQRCode($event)"
                  (click)="selectTextInput('qrCodeIpt')"
                ></dx-text-box>
              </div>
            </div>
          </th>
        </tr>
      </thead>
    </nz-table>

    <nz-table
      #lotScanTbl
      [nzData]="litsLotScanOk"
      nzBordered
      nzSize="small"
      [nzFrontPagination]="true"
    >
      <thead>
        <tr>
          <th>Part No</th>
          <th>Lot No</th>
          <th>Qty</th>
          <th>Tồn</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of lotScanTbl.data">
          <td>{{ data.model }}</td>
          <td>{{ data.lotNo }}</td>
          <td class="editable-row" style="text-align: right">
            <div
              class="editable-cell"
              [hidden]="lotNoEdit === data.lotNo"
              (click)="startEdit(data)"
            >
              {{ data.qty | number : "1.0-3" }}
            </div>
            <input
              #qtyIpt
              [hidden]="lotNoEdit !== data.lotNo"
              type="number"
              nz-input
              [(ngModel)]="data.qty"
              (blur)="stopEdit(data)"
            />
          </td>
          <td>{{ data.remainQty | number : "1.0-3" }}</td>
          <td
            style="text-align: center"
            nz-popconfirm
            nzPopconfirmTitle="Có chắc chắn xóa không ?"
            (nzOnConfirm)="deleteLotScanned(data)"
            nzPopconfirmPlacement="top"
            nzRight
          >
            <a style="color: red; font-weight: bold">Xóa</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenReceiveModal = false">
      <span nz-icon nzType="close"></span>
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="onReceiveMaterial()"
      [nzLoading]="isLoading"
      [disabled]="litsLotScanOk.length <= 0"
    >
      <span nz-icon nzType="save"></span>
      Lưu
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenLotScanErrorModal"
  nzTitle="Thông tin lỗi khi scan nhận NVL"
  (nzOnCancel)="isOpenLotScanErrorModal = false"
  (nzOnOk)="isOpenLotScanErrorModal = false"
  nzWidth="100%"
>
  <div *nzModalContent>
    <dx-data-grid
      #lotScanErrorGrid
      keyExpr="lotNo"
      [dataSource]="lotScanErrors"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
    >
      <dxi-column
        dataField="model"
        caption="Model"
        [visible]="true"
      ></dxi-column>
      <dxi-column
        dataField="lotNo"
        caption="LotNo"
        [visible]="true"
      ></dxi-column>
      <dxi-column
        dataField="errorInfo"
        caption="Thông tin lỗi"
        [visible]="true"
      ></dxi-column>
    </dx-data-grid>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenSendToLineWhModal"
  nzTitle="Chuyển NVL đã nhận vào LINE-WH"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table [nzData]="['']" nzBordered nzFrontPagination="false">
      <thead>
        <tr>
          <th>
            <dx-text-box
              #qaCardIpt
              label="QA card"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              (keydown.enter)="scanQRCard($event)"
              (click)="selectTextInput('qaCardIpt')"
            ></dx-text-box>
          </th>
        </tr></thead
    ></nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="isOpenSendToLineWhModal = false">
      <span nz-icon nzType="close"></span>
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="sendToLineWh()"
      [nzLoading]="isLoading"
      [disabled]="litsLotScanOk.length <= 0"
    >
      <span nz-icon nzType="save"></span>
      Lưu
    </button>
  </div>
</nz-modal>
