<dx-data-grid
  keyExpr="id"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-toolbar>
    <dxi-item location="before">
      <!-- <dx-button
        stylingMode="contained"
        type="success"
        icon="plus"
        text="Tạo phiếu kiểm kê"
      >
      </dx-button> -->

      <button nz-button nzType="primary">Tạo phiếu kiểm kê</button>
    </dxi-item>
  </dxo-toolbar>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="reqNo" caption="Request No"></dxi-column>

  <dxi-column
    dataField="inventoryDate"
    dataType="date"
    caption="Ngày kiểm kê"
    format="yyyy-MM-dd"
  ></dxi-column>

  <dxi-column dataField="createdBy" caption="Người tạo"></dxi-column>

  <dxi-column caption="Action" cellTemplate="cellTemplate" alignment="center"></dxi-column>
</dx-data-grid>
