<dx-data-grid
  keyExpr="id"
  [dataSource]="inventoryRequests"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-toolbar>
    <dxi-item location="before">
      <button
        nz-button
        nzType="primary"
        (click)="openCreateRequestInventoryModal()"
      >
        <span nz-icon nzType="plus"></span>
        Tạo phiếu kiểm kê
      </button>
    </dxi-item>
  </dxo-toolbar>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="reqNo" caption="Request No"></dxi-column>

  <dxi-column
    dataField="createdAt"
    dataType="date"
    caption="Ngày kiểm kê"
    format="yyyy-MM-dd"
  ></dxi-column>

  <dxi-column
    dataField="calculateTheoryDataDate"
    dataType="date"
    format="yyyy-MM-dd HH:mm:ss"
    caption="Ngày tính data lý thuyết"
  ></dxi-column>
  <dxi-column
    dataField="inventoryCloseDate"
    dataType="date"
    format="yyyy-MM-dd"
    caption="Ngày chốt kiểm kê"
  ></dxi-column>
  <dxi-column dataField="inventoryType" caption="Type"></dxi-column>
  <dxi-column dataField="createdBy" caption="Người tạo"></dxi-column>
  <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>

  <dxi-column caption="Action" cellTemplate="actionTemplate" alignment="center">
    <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
      <a style="color: blue" (click)="redirectDetail(item)">Chi tiết</a>
    </div>
  </dxi-column>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenCreateRequestInventoryModal"
  nzTitle="Tạo phiếu kiểm kê"
>
  <ng-container *nzModalContent>
    <nz-table
      #ivtCreateTable
      id="ivtCreateTable"
      [nzData]="['']"
      nzBordered
      nzFrontPagination="false"
      [nzSize]="'small'"
    >
      <tbody>
        <tr>
          <td><label>Phiếu kiểm kê</label></td>
          <td>{{ ivtReq }}</td>
        </tr>
        <tr>
          <td><label>Người tạo</label></td>
          <td>{{ jwt.FullName }} - {{ jwt.Username }}</td>
        </tr>
        <tr>
          <td><label>Loại kiểm kê</label><span style="color: red">*</span></td>
          <td>
            <nz-radio-group [(ngModel)]="inventoryType">
              <label nz-radio nzValue="week">Tuần</label>
              <label nz-radio nzValue="month">Tháng</label>
            </nz-radio-group>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ngày chốt kiểm kê</label><span style="color: red">*</span>
          </td>
          <td>
            <nz-date-picker
              style="width: 100%"
              [nzDisabledDate]="disabledDate"
              [(ngModel)]="inventoryCloseDate"
            ></nz-date-picker>
          </td>
        </tr>
        <tr>
          <td>
            <label>Ngày tính data lý thuyết</label
            ><span style="color: red">*</span>
          </td>
          <td>
            <nz-date-picker
              style="width: 100%"
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm:ss"
              [(ngModel)]="calculateTheoryDataDate"
            ></nz-date-picker>
          </td>
        </tr>
        <tr>
          <td><label>Ghi chú</label></td>
          <td>
            <textarea rows="2" nz-input [(ngModel)]="remark"></textarea>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button
      nz-button
      nzType="default"
      (click)="closeCreateRequestInventoryModal()"
    >
      Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createInventoryRequest()"
      [nzLoading]="isLoading"
    >
      Tạo
    </button>
  </div>
</nz-modal>
