<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item file" routerLink="/admin/hr/hr-emp-mng/file">
      <img src="./../../../../../../assets/images/folder.png" alt="" />
      <h6>Hồ sơ nhân viên</h6>
    </div>
  </div> -->
  
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item course" routerLink="/admin/hr/hr-emp-mng/course/menu">
      <img src="./../../../../../../assets/images/training.png" alt="" />
      <h6>Khóa đào tạo</h6>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item uniform" routerLink="/admin/hr/hr-emp-mng/uniform">
      <img src="./../../../../../../assets/images/uniform.png" alt="" />
      <h6>Đồng phục</h6>
    </div>
  </div>
</div>
