<nz-tabset>
  <nz-tab nzTitle="Thêm Date Code">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="2" nzLg="2"></div>
      <div nz-col nzXs="24" nzSm="20" nzLg="20">
        <nz-table
          id="infoTbl"
          #infoTbl
          [nzData]="['']"
          nzBordered
          nzSize="small"
          nzFrontPagination="false"
        >
          <thead>
            <tr>
              <th><label style="color: black">QA Card</label></th>
              <th colSpan="4">
                <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input
                    #infoIpt
                    type="text"
                    nz-input
                    placeholder="Scan mã QA Card"
                    [(ngModel)]="qaCard"
                    (keydown.enter)="scanInfo($event)"
                    (click)="infoIpt.select()"
                    style="font-weight: bold"
                  />
                </nz-input-group> -->
                <nz-select
                  ngModel="lucy"
                  nzShowSearch
                  nzAllowClear
                  [(ngModel)]="qaCard"
                  (ngModelChange)="scanInfo(qaCard)"
                >
                  <nz-option
                    *ngFor="let qa of qaCards"
                    [nzValue]="qa.qaCard"
                    [nzLabel]="qa.qaCard"
                  ></nz-option>
                </nz-select>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 25%">
                <label>Model:</label>&nbsp;<span>{{ qaCardInfo.model }}</span>
              </td>
              <td style="width: 25%">
                <label>Line:</label>&nbsp;<span>{{ qaCardInfo.line }}</span>
              </td>
              <td style="width: 25%">
                <label>Date:</label>&nbsp;<span>{{ qaCardInfo.date }}</span>
              </td>
              <td style="width: 25%">
                <label>Shift:</label>&nbsp;<span>{{ qaCardInfo.shift }}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-col nzXs="24" nzSm="2" nzLg="2"></div>
    </div>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="2" nzLg="2"></div>
      <div nz-col nzXs="24" nzSm="20" nzLg="20">
        <nz-table
          id="dateCodeTbl"
          #dateCodeTbl
          [nzData]="dateCodes"
          nzBordered
          nzSize="small"
          nzFrontPagination="false"
        >
          <thead>
            <tr>
              <th>Date Code</th>
              <th>Qty</th>
              <th>Người tạo</th>
              <th style="text-align: center">
                <button
                  *ngIf="qaCardInfo.value"
                  nz-button
                  nzType="primary"
                  (click)="addDateCode()"
                >
                  <i nz-icon nzType="plus"></i>
                  Thêm Date Code
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dateCodeTbl.data">
              <td>{{ data.dateCode }}</td>
              <td style="text-align: right">
                {{ data.qty | number : "1.0-3" }}
              </td>
              <td>{{ data.employeeName }}</td>
              <td style="text-align: center">
                <!-- <span class="edit">Sửa</span> | -->
                <span
                  class="delete"
                  (nzOnConfirm)="deleteDatCode(data)"
                  nz-popconfirm
                  nzPopconfirmTitle="Bạn chắc chắn xóa Date Code này ?"
                >
                  Xóa
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-col nzXs="24" nzSm="2" nzLg="2"></div>
    </div>

    <nz-modal
      [(nzVisible)]="isOpenModal"
      nzTitle="Thêm Date Code cho QA card"
      nzWidth="650px"
    >
      <ng-container *nzModalContent>
        <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
          <div nz-col nzXs="24" nzSm="24" nzLg="24">
            <nz-table
              id="addTbl"
              [nzData]="['']"
              nzBordered
              nzSize="small"
              nzFrontPagination="false"
            >
              <tbody>
                <tr>
                  <td>
                    <label>Date Code</label>
                  </td>
                  <td>
                    <input
                      #dateCodeIpt
                      nz-input
                      placeholder="Date Code"
                      [(ngModel)]="dateCodeSave.dateCode"
                      (ngModelChange)="onChangeDateCode($event)"
                      (click)="dateCodeIpt.select()"
                      maxlength="7"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Qty</label>
                  </td>
                  <td>
                    <input
                      #qtyIpt
                      nz-input
                      type="number"
                      placeholder="Qty"
                      [(ngModel)]="dateCodeSave.qty"
                      (click)="qtyIpt.select()"
                    />
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </ng-container>
      <ng-template [nzModalFooter]>
        <button nz-button nzType="default" (click)="onCancel()">Hủy</button>
        <button
          nz-button
          nzType="primary"
          (click)="onSave()"
          [nzLoading]="isLoading"
        >
          Lưu
        </button>
      </ng-template>
    </nz-modal>
  </nz-tab>
  <nz-tab nzTitle="Dữ liệu sản xuất">
    <dx-data-grid
      [dataSource]="dataSanXuat"
      keyExpr="id"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [rowAlternationEnabled]="true"
      (onExporting)="onExportClient($event)"
    >
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-filter-row [visible]="true"></dxo-filter-row>

      <dxi-column dataField="qaCard" caption="QA Card"></dxi-column>
      <dxi-column dataField="dateCode" caption="Date Code"></dxi-column>
      <dxi-column
        dataField="qty"
        caption="Qty"
        dataType="number"
        format="#,##0"
      ></dxi-column>
      <dxi-column dataField="model" caption="Model"></dxi-column>
      <dxi-column dataField="line" caption="Line"></dxi-column>
      <dxi-column dataField="shift" caption="Shift"></dxi-column>

      <dxi-column dataField="employeeName" caption="User"></dxi-column>
      <dxi-column
        dataField="createdAt"
        dataType="date"
        caption="Created At"
        format="yyyy-MM-dd HH:mm"
      ></dxi-column>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
      ></dxo-pager>
    </dx-data-grid>
  </nz-tab>
  <nz-tab nzTitle="Dữ liệu Packing"> </nz-tab>
</nz-tabset>
