<div class="wrap" style="padding: 20px">
  <nz-collapse>
    <nz-collapse-panel
      nzHeader="Forgot Password"
      [nzActive]="true"
      [nzShowArrow]="false"
    >
      <div>
        <div nz-row nzJustify="start" [nzGutter]="24">
          <div nz-col [nzSpan]="16" [nzPush]="4">
            <label style="color: green; font-weight: bold; text-align: center"
              >*Chú ý: Bác vui lòng nhập địa chỉ email vào ô dưới cho em để lấy lại mật
              khẩu!</label
            >
          </div>

          <div nz-col [nzSpan]="16" [nzPush]="4">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <input
                type="text"
                nz-input
                placeholder="Enter your Email"
                [(ngModel)]="email"
              />
            </nz-input-group>
            <ng-template #suffixButton>
              <button nz-button nzType="primary" (click)="getPassword()">
                Nhận mật khẩu
              </button>
            </ng-template>
          </div>
          <div nz-col [nzSpan]="16" [nzPush]="4">
            <nz-alert
              *ngIf="type == 2"
              style="margin-top: 5px"
              nzShowIcon
              nzType="success"
              nzMessage="Thành công"
              [nzDescription]="descriptionTemplate2"
              [nzAction]="actionTemplate4"
            ></nz-alert>

            <nz-alert
              *ngIf="type == 1"
              style="margin-top: 5px"
              nzShowIcon
              nzType="error"
              nzMessage="Có lỗi"
              [nzDescription]="msg"
            ></nz-alert>

            <ng-template #descriptionTemplate2>
              <p>Một email chứa mật khẩu đã được gửi về email của bạn!</p>
            </ng-template>
            <ng-template #actionTemplate4>
              <nz-space nzDirection="vertical">
                <button
                  *nzSpaceItem
                  nz-button
                  nzSize="small"
                  nzType="default"
                  routerLink="../login"
                >
                  Đăng nhập
                </button>
              </nz-space>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <b style="color: orange"></b>
</div>
