<nz-breadcrumb>
  <nz-breadcrumb-item> Manufacturing </nz-breadcrumb-item>
  <nz-breadcrumb-item> Measurement </nz-breadcrumb-item>
  <nz-breadcrumb-item> Xbar-R </nz-breadcrumb-item>
  <nz-breadcrumb-item> Detail </nz-breadcrumb-item>
</nz-breadcrumb>

<br />

<h3>Xbar-R: {{ itemName }}</h3>

<nz-collapse>
  <nz-collapse-panel nzHeader="Search" [nzActive]="true" [nzShowArrow]="true">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="1" nzSm="1" nzLg="1">
        <label>Line:</label>
      </div>
      <div nz-col nzXs="2" nzSm="2" nzLg="2">
        <nz-select
          nzPlaceHolder="Lines"
          [(ngModel)]="searchParams.line"
          nzShowSearch
          nzAllowClear
        >
          <nz-option
            *ngFor="let line of lines"
            [nzValue]="line.value"
            [nzLabel]="line.label"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="2" nzSm="2" nzLg="2">
        <label>Thời gian: </label>
      </div>
      <div nz-col nzXs="6" nzSm="6" nzLg="6">
        <nz-range-picker
          nzFormat="yyyy-MM-dd"
          ngModel
          (ngModelChange)="onChange($event)"
          (nzOnCalendarChange)="onCalendarChange($event)"
          (nzOnOk)="onOk($event)"
        >
        </nz-range-picker>
      </div>
      <div nz-col nzXs="2" nzSm="2" nzLg="2">
        <button
          nz-button
          nzType="primary"
          style="float: right"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<br />

<dx-data-grid
  id="gridContainer"
  [dataSource]="xbarData"
  [showBorders]="true"
  (onExporting)="onExporting($event)"
>

  <dxi-column dataField="model"></dxi-column>
  <dxi-column dataField="createdAt"></dxi-column>
  <dxi-column dataField="value1"></dxi-column>
  <dxi-column dataField="value2"></dxi-column>
  <dxi-column dataField="value3"></dxi-column>
  <dxi-column dataField="value4"></dxi-column>
  <dxi-column dataField="value5"></dxi-column>

  <dxo-export [enabled]="true" [allowExportSelectedData]="false"></dxo-export>
</dx-data-grid>
