<p class="ivt_his">Lịch Sử Kiểm Kê</p>

    <dx-button
    class="ivt_btn"
      icon="plus"
      type="default"
      text="Tạo phiếu kiểm kê"
      (onClick)="creat_ivt()"
    >
    </dx-button>
 



<dx-data-grid
  id="gridContainer"
  [dataSource]="data"
  keyExpr="ID"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
<dxi-column dataField="ID" caption="ID"></dxi-column>
<dxi-column dataField="ivt_no" caption="IVT No"></dxi-column>
<dxi-column dataField="username" caption="User_no"></dxi-column>
<dxi-column dataField="name" caption="Name"></dxi-column>
<dxi-column dataField="date_time" caption="ngày Kiếm kê"></dxi-column>
 <!-- Cột View với cellTemplate -->
 <dxi-column
 caption="View"
 cellTemplate="actionTemplate"
 alignment="center"
 fixedPosition="right"
>
 <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
   <a style="color: blue" (click)="onViewDetail(item)">Chi tiết</a>
 </div>
</dxi-column>
</dx-data-grid>

<!-- Template cho cột View -->
<!-- <ng-template dxTemplate let-data="data" #viewTemplate>
  <div style="text-align: center">
    <a style="color: blue; cursor: pointer" (click)="onViewDetail(data.data.ivt_no)">Chi tiết</a>
  </div>
</ng-template> -->