nz-select, input {
  width: 100%;
  font-weight: bold;
}

span.attention {
  font-style: italic;
  color: red;
}

nz-table {
  width: 100%;
  ul {
    margin-left: -34px;
  }

  td.ant-table-cell {
    vertical-align: top;
  }

  label {
    font-weight: bold;
    color: blue;
  }
}

#error-msg {
  border: 3px solid rgb(255, 0, 0);
  font-weight: bold;
  width: 100%;
  color: red;
  padding: 5px;
  span {
    color: red;
    font-size: 20px;
  }
}