<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/admin/is/is-device-mng/menu']">Device Management</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Lịch sử bàn giao</nz-breadcrumb-item>
</nz-breadcrumb>

<dx-data-grid
  keyExpr="id"
  #devicesGrid
  [dataSource]="transactions"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxi-column dataField="deviceName" caption="Tên thiết bị">
    <dxi-validation-rule type="required" message="Tên thiết bị bắt buộc chọn"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="recordType" caption="Loại giao dich">
    <dxi-validation-rule type="required" message="Loại giao dich bắt buộc chọn"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="status" caption="IT UserCode"></dxi-column>
  <dxi-column dataField="picCode" caption="PIC Code">
    <dxi-validation-rule type="required" message="PIC Code bắt buộc chọn"></dxi-validation-rule>
  </dxi-column>

  <dxo-editing
    mode="popup"
    [allowAdding]="true"
    [allowUpdating]="false"
    [allowDeleting]="true"
  >
    <dxo-popup
      [width]="800"
      [height]="400"
      title="Thông tin giao dịch"
      [showTitle]="true"
      [dragEnabled]="true"
    ></dxo-popup>

    <dxo-form>
      <dxi-item
        dataField="recordType"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: recordTypes,
          valueExpr: 'id',
          displayExpr: 'name',
          placeholder: 'Chọn loại giao dịch',
          searchEnabled: true
        }"
      ></dxi-item>
      <dxi-item
        dataField="picCode"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: users,
          valueExpr: 'username',
          displayExpr: 'codeName',
          placeholder: 'Mã nhân viên',
          searchEnabled: true
        }"
      ></dxi-item>
      <dxi-item
        dataField="deviceName"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: devices,
          valueExpr: 'id',
          displayExpr: 'name',
          placeholder: 'Tên thiết bị',
          searchEnabled: true
        }"
      ></dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-paging [pageSize]="12"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>
