<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <div class="item qa-card" routerLink="/admin/qa/qa-equipment-mng/create-label">
            <img src="./../../../../../../assets/images/printer.png" alt="" />
            <h6>Tạo tem hiệu chuẩn</h6>
            <h4>Create Label</h4>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <div class="item data" routerLink="/admin/qa/qa-equipment-mng/devices">
            <img src="./../../../../../../assets/images/traceability.png" alt="" />
            <h6>Tìm kiếm thiết bị</h6>
            <h4>Devices</h4>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
        <div class="item add" routerLink="/admin/qa/qa-equipment-mng/data">
            <img src=".//../../../../../assets/images/add-item.png" alt="" />
            <h6>Quản lý thiết bị</h6>
            <h4>Devices Manager</h4>
        </div>
    </div>
</div>