.item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px 10px;

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  h6 {
    margin-top: 15px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
}

.data {
  background: #3498db;
  cursor: pointer;
}

.relay {
  background: #e07e37;
  cursor: pointer;
}