<button nz-button style="margin-bottom: 10px" (click)="onExportBtn()">
  Export
</button>

<nz-table
  #detailTable
  nzBordered
  nzSize="small"
  [nzData]="detailsData"
  [nzFrontPagination]="true"
>
  <thead>
    <tr>
      <th class="text-center">Line</th>
      <th class="text-center">Master</th>
      <th class="text-center">Model Type</th>
      <th class="text-center">Model</th>
      <th class="text-center">Lý do</th>
      <th class="text-center">Thực hiện</th>
      <th class="text-center">{{ valueNames[0] }}</th>
      <th class="text-center">{{ valueNames[1] }}</th>
      <th class="text-center">{{ valueNames[2] }}</th>
      <th class="text-center">{{ valueNames[3] }}</th>
      <th class="text-center">{{ valueNames[4] }}</th>
      <th class="text-center">Thời gian</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of detailTable.data">
      <td>{{ data.line }}</td>
      <td>{{ data.master }}</td>
      <td>{{ data.modelType }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.reasonName }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.e1 }}</td>
      <td>{{ data.e2 }}</td>
      <td>{{ data.e3 }}</td>
      <td>{{ data.e4 }}</td>
      <td>{{ data.e4 }}</td>
      <td class="text-center">
        {{ data.createdAt | date: "yyyy-MM-dd HH:mm:ss" }} - ({{ data.shift }})
      </td>
    </tr>
  </tbody>
</nz-table>
