<dx-data-grid
  keyExpr="id"
  [dataSource]="inventoryRequests"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>
  <dxo-toolbar>
    <dxi-item location="before">
      <dx-button icon="plus" type="default" text="Tạo phiếu kiểm kê" (onClick)="openCreateRequestInventoryModal()">
      </dx-button>
    </dxi-item>

    <dxi-item name="columnChooserButton" location="after"></dxi-item>
  </dxo-toolbar>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="requestNo" caption="Phiếu kiểm kê"></dxi-column>

  <dxi-column
    dataField="createdBy"
    caption="Người tạo (ID)"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="createdByName"
    caption="Người tạo (Name)"
    [visible]="false"
  ></dxi-column>
  <dxi-column dataField="remark" caption="Ghi chú"></dxi-column>
  <dxi-column
    dataField="createdAt"
    dataType="date"
    format="yyyy-MM-dd"
    caption="Ngày tạo"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    caption="Action"
    cellTemplate="actionTemplate"
    alignment="center"
    [fixed]="true"
    fixedPosition="left"
  >
    <div *dxTemplate="let item of 'actionTemplate'" style="text-align: center">
      <a style="color: blue" (click)="redirectDetail(item)">Chi tiết</a>
    </div>
  </dxi-column>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenCreateRequestInventoryModal"
  nzTitle="Tạo phiếu kiểm kê"
>
  <ng-container *nzModalContent>
    <nz-table
      #ivtCreateTable
      id="ivtCreateTable"
      [nzData]="['']"
      nzBordered
      nzFrontPagination="false"
      [nzSize]="'small'"
    >
      <tbody>
        <tr>
          <td><label>Phiếu kiểm kê</label></td>
          <td>{{ ivtReq.requestNo }}</td>
        </tr>
        <tr>
          <td><label>Người tạo</label></td>
          <td>{{ ivtReq.createdBy }} - {{ ivtReq.createdByName }}</td>
        </tr>

        <tr>
          <td><label>Ghi chú</label></td>
          <td>
            <textarea
              rows="2"
              nz-input
              [(ngModel)]="ivtReq.remark"
            ></textarea>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button
      nz-button
      nzType="default"
      (click)="isOpenCreateRequestInventoryModal = false"
    >
      Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading"
      (click)="createdInventoryRequest()"
    >
      Tạo
    </button>
  </div>
</nz-modal>
