<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Drawing Control</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Project</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-collapse>
  <nz-collapse-panel
    [nzHeader]="'Tìm kiếm'"
    [nzActive]="false"
    [nzShowArrow]="true"
  >
  </nz-collapse-panel>
</nz-collapse>
<dx-data-grid
  style="margin-top: 10px"
  keyExpr="id"
  #projectGrid
  [dataSource]="projects"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  (onRowClick)="onRowClick($event)"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxo-toolbar>
    <dxi-item location="before">
      <button nz-button nzType="primary">
        <span nz-icon nzType="plus" (click)="openProjectModal(null)"></span>
        New Project
      </button>
    </dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="controlNo" caption="Control No"></dxi-column>
  <dxi-column dataField="name" caption="Project Name"></dxi-column>
  <dxi-column dataField="projectTypeName" caption="Project Type"></dxi-column>
  <dxi-column dataField="product" caption="Product"></dxi-column>
  <dxi-column dataField="createdAt" caption="Created Date"></dxi-column>
  <dxi-column dataField="status" caption="Status"></dxi-column>
  <dxi-column dataField="mainPic" caption="Main P.I.C"></dxi-column>
  <dxi-column
    caption="Process"
    cellTemplate="processTemplate"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-column>
  <div *dxTemplate="let item of 'processTemplate'" style="text-align: center">
    <div class="w3-light-grey .w3-round-small">
      <div
        class="w3-container w3-green .w3-round-small"
        [style.width]="item.data.process + '%'"
      >
        {{ item.data.process }}%
      </div>
    </div>
  </div>
</dx-data-grid>


<nz-modal [(nzVisible)]="isOpenProjectModal" nzTitle="The first Modal" >
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>