<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div
      class="item import"
      routerLink=""
    >
      <h6>Quản lý check sheet</h6>
      <!-- <h4>---</h4> -->
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div
      class="item return"
      routerLink=""
    >
      <h6>Thống kê</h6>
      <!-- <h4>Return RE-WH</h4> -->
    </div>
  </div>

  <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div
      class="item inventory"
      routerLink=""
    >
      <h6>Kiểm kê NVL</h6>
      <h4>Inventory</h4>
    </div>
  </div> -->

  <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item date-code" routerLink="">
      <h6>Nhập Date Code</h6>
      <h4>Insert Date Code</h4>
    </div>
  </div> -->

  <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item wip-ivt" routerLink="/admin/relay/relay-input-wip-qty-ivt">
      <h6>Nhập tồn WIP</h6>
      <h4>---</h4>
    </div>
  </div> -->
</div>
