<nz-breadcrumb>
  <nz-breadcrumb-item> Relay Factory</nz-breadcrumb-item>
  <nz-breadcrumb-item> CheckSheet </nz-breadcrumb-item>
</nz-breadcrumb>
<br />

<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <div class="item data" routerLink="/admin/relay/check-sheet/master">
      <i nz-icon nzType="database" nzTheme="outline"></i>
      <h5>Check Sheet</h5>
      <h6>Quản lý dữ liệu</h6>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <div class="item create" routerLink="/admin/relay/check-sheet/line">
      <i nz-icon nzType="file-add" nzTheme="outline"></i>
      <h5>Create Item</h5>
      <h6>Tạo hạng mục</h6>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
    <div class="item guideline" (click)="showGuideline()">
      <i nz-icon nzType="book" nzTheme="outline"></i>
      <h5>Guidelines</h5>
      <h6>Hướng dẫn sử dụng</h6>
    </div>
  </div>
</div>
