.item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px 10px;

  i {
    font-size: 30px;
    color: white;
  }

  h5 {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  h6 {
    font-size: 12px;
    color: white;
  }
}

.measure {
  background: #2ecc71;
}

.data {
  background: #3498db;
}

.create {
  background: #f5791f;
}

.guideline {
  background: #7d6259;
}