<nz-table
  #basicTable
  [nzData]="['']"
  nzFrontPagination="false"
  nzBordered
  nzSize="small"
>
  <thead>
    <tr>
      <th>
        <label style="font-weight: bold">Mã kiểm kê:</label>
        <label style="font-weight: bold; color: green"> {{ requestNo }} </label>
      </th>
      <th style="text-align: right">
        <nz-space>
          <button
            *nzSpaceItem
            nz-button
            nzType="primary"
            (click)="openScanInventoryModal()"
          >
            <span nz-icon nzType="qrcode"></span>
            Scan kiểm kê
          </button>

          <button
            *nzSpaceItem
            nz-button
            (click)="openModalUploadExcelInventory()"
          >
            <span nz-icon nzType="upload"></span>
            Upload dữ liệu kiểm kê
          </button>
        </nz-space>
      </th>
    </tr>
  </thead>
</nz-table>

<dx-data-grid
  #ivtDataGrid
  keyExpr="id"
  [dataSource]="inventoryData"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  style="margin-top: -20px"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-toolbar>
    <dxi-item location="before">
      <span class="ivt-data" style="color: blue"> Dữ liệu kiểm kê : </span>
    </dxi-item>

    <dxi-item name="exportButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="partNumber" caption="Part No"></dxi-column>
  <dxi-column dataField="galileoName" caption="Galileo Name"></dxi-column>
  <dxi-column dataField="position" caption="Position"></dxi-column>
  <dxi-column dataField="factoryCode" caption="Factory Code"></dxi-column>
  <dxi-column dataField="unit" caption="Unit"></dxi-column>
  <dxi-column dataField="qty" caption="Qty" alignment="right"></dxi-column>
  <dxi-column dataField="standardPrice" caption="Standard Price"></dxi-column>
  <dxi-column dataField="totalPrice" caption="Total Amount"></dxi-column>
  <dxi-column dataField="currencyCode" caption="Currency Code"></dxi-column>

  <dxi-column
    dataField="createdAt"
    caption="Date"
    dataType="date"
    format="yyyy-MM-dd HH:mm:ss"
  ></dxi-column>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenScanInventoryModal"
  nzTitle="Dữ liệu scan kiểm kê"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzFrontPagination="false"
      nzBordered
      nzSize="small"
      style="margin-top: -15px"
    >
      <thead>
        <tr>
          <th width="10%">Part</th>
          <th width="55%">
            <input
              id="labelIpt"
              #labelIpt
              nz-input
              placeholder="Part Number"
              (keydown.enter)="scanLabel($event)"
              (click)="labelIpt.select()"
              autocomplete="off"
              autofocus="true"
            />
          </th>
          <th width="10%">Qty</th>
          <th width="15%">
            <input #qtyIpt type="number" nz-input autocomplete="off" min="0" />
          </th>
          <th width="10%">
            <button
              nz-button
              nzType="primary"
              style="background: green; border: green"
            >
              <span nz-icon nzType="plus"></span>
              Add
            </button>
          </th>
        </tr>
      </thead>
    </nz-table>
    <nz-table
      #labelTable
      nzSize="small"
      nzBordered
      [nzData]="listPartsScanned"
      style="margin-top: -20px"
    >
      <thead>
        <tr>
          <th>Part Number</th>
          <th>Qty (Tồn)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of labelTable.data">
          <td>
            <label>{{ data.partNumber }}</label>
          </td>
          <td>
            <label>{{ data.qty }}</label>
          </td>
          <td
            style="text-align: center"
            nz-popconfirm
            nzPopconfirmTitle="Có chắc chắn xóa không ?"
            nzPopconfirmPlacement="top"
            nzRight
          >
            <a style="color: red; font-weight: bold">Xóa</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closeScanInventoryModal()">
      Hủy
    </button>
    <button nz-button nzType="primary" [nzLoading]="isLoadingSaveInventoryData">
      Lưu dữ liệu
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenModalUploadExcelInventory"
  nzTitle="Upload dữ liệu kiểm kê"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        Chọn file upload
      </button>
    </nz-upload>
    <button
      nz-button
      [nzType]="'primary'"
      [nzLoading]="uploading"
      (click)="handleUploadExcel()"
      [disabled]="fileList.length === 0"
      style="margin-top: 16px"
    >
      {{ uploading ? "Uploading" : "Start Upload" }}
    </button>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default">Đóng</button>
  </div>
</nz-modal>
