<nz-table
  #basicTable
  [nzData]="['']"
  nzFrontPagination="false"
  nzBordered
  nzSize="small"
>
  <thead>
    <tr>
      <th>
        <button nz-button nzType="primary" (click)="openScanInventoryModal()">
          <span nz-icon nzType="qrcode"></span>
          Scan kiểm kê
        </button>
      </th>
      <th style="text-align: right">
        <label style="font-weight: bold">Mã kiểm kê:</label>
        <label style="font-weight: bold; color: green"> {{ requestNo }} </label>
      </th>
    </tr>
  </thead>
</nz-table>

<dx-data-grid
  keyExpr="id"
  [dataSource]="inventoryData"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onExporting)="onExportClient($event)"
  (onRowRemoving)="onRowRemoving($event)"
  (onRowUpdated)="onRowUpdated($event)"
  style="margin-top: -30px"
>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxi-column
    dataField="requestId"
    caption="RequestId"
    [visible]="false"
  ></dxi-column>
  <dxi-column dataField="partNumber" caption="PartNumber"></dxi-column>
  <dxi-column dataField="rack" caption="RackNo"></dxi-column>
  <dxi-column dataField="qty" caption="Số lượng"></dxi-column>
  <dxi-column dataField="createdBy" caption="User Scan (ID)"></dxi-column>
  <dxi-column dataField="createdByName" caption="User Scan (Name)"></dxi-column>
  <dxi-column
    dataField="createdAt"
    caption="Thời gian"
    dataType="date"
    format="yyyy-MM-dd HH:mm:ss"
  ></dxi-column>

  <dxo-editing
    mode="popup"
    [allowAdding]="false"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
    <dxo-popup
      [width]="600"
      [height]="400"
      title="Thông tin Spare Part"
      [showTitle]="true"
      [dragEnabled]="true"
    ></dxo-popup>

    <dxo-form>
      <dxi-item
        dataField="partNumber"
        [isRequired]="true"
        [editorOptions]="{ placeholder: 'Nhập Part Number', readOnly: true }"
      ></dxi-item>
      <dxi-item
        dataField="rack"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: racks,
          valueExpr: 'name',
          displayExpr: 'name',
          placeholder: 'Chọn vị trí rack',
          searchEnabled: true
        }"
      ></dxi-item>
      <dxi-item
        dataField="qty"
        editorType="dxNumberBox"
        [isRequired]="true"
      ></dxi-item>
      <dxi-item
        dataField="createdBy"
        [editorOptions]="{ readOnly: true }"
      ></dxi-item>

      <dxi-item
        dataField="createdByName"
        [editorOptions]="{ readOnly: true }"
      ></dxi-item>
      <dxi-item
        dataField="createdAt"
        [editorOptions]="{ readOnly: true }"
      ></dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-summary>
    <dxi-total-item
      column="partNumber"
      summaryType="count"
      displayFormat="Số dòng: {0}"
    ></dxi-total-item>
  </dxo-summary>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenScanInventoryModal"
  nzTitle="Dữ liệu scan kiểm kê"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <nz-table
      [nzData]="['']"
      nzFrontPagination="false"
      nzBordered
      nzSize="small"
      style="margin-top: -15px"
    >
      <thead>
        <tr>
          <th>
            <dx-select-box
              label="RACK"
              labelLocation="left"
              showColonAfterLabel="true"
              [dataSource]="racks"
              [searchEnabled]="true"
              [labelMode]="'static'"
              displayExpr="name"
              valueExpr="name"
              [(ngModel)]="ivtRecord.rack"
              (onValueChanged)="changeRack($event)"
            ></dx-select-box>
          </th>
          <th>
            <dx-text-box
              #userIpt
              label="Nhân viên"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              placeholder="Scan mã nhân viên"
              (keydown.enter)="scanUser($event)"
              [(ngModel)]="ivtRecord.createdBy"
              (click)="selectTextInput('userIpt')"
            ></dx-text-box>
          </th>
          <th>
            <dx-text-box
              #labelIpt
              label="Mã Spare Part"
              labelLocation="left"
              showColonAfterLabel="true"
              [labelMode]="'static'"
              placeholder="Scan mã Spare Part"
              (keydown.enter)="scanLabel($event)"
              [(ngModel)]="ivtRecord.partNumber"
              (click)="selectTextInput('labelIpt')"
            ></dx-text-box>
          </th>
        </tr>
      </thead>
    </nz-table>

    <nz-table
      nzBordered
      #labelTable
      nzSize="small"
      [nzData]="listLabelScanned"
      nzFrontPagination="false"
      style="margin-top: -20px"
      nzFrontPagination="true"
      [nzPageSize]="10"
    >
      <thead>
        <tr>
          <th nzWidth="150px">Part Number</th>
          <th nzWidth="150px">Qty (Tồn)</th>
          <th nzWidth="100px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of labelTable.data">
          <td>
            <label>{{ data.partNumber }}</label>
          </td>

          <td class="editable-row" style="text-align: right">
            <div
              class="editable-cell"
              [hidden]="labelEdit === data.partNumber"
              (click)="startEdit(data.partNumber)"
            >
              {{ data.qty | number : "1.0-3" }}
            </div>
            <input
              #qtyInput
              [hidden]="labelEdit !== data.partNumber"
              type="number"
              nz-input
              [(ngModel)]="data.qty"
              (blur)="stopEdit()"
            />
          </td>
          <td
            style="text-align: center"
            nz-popconfirm
            nzPopconfirmTitle="Có chắc chắn xóa không ?"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="deleteLabelScanned(data)"
          >
            <a style="color: red; font-weight: bold">Xóa</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button
      nz-button
      nz-popconfirm
      nzPopconfirmTitle="Nếu đóng sẽ xóa toàn bộ dữ liệu đã scan"
      nzType="default"
      (nzOnConfirm)="isOpenScanInventoryModal = false"
    >
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading"
      (click)="saveListInventoryData()"
      [disabled]="!listLabelScanned.length"
    >
      Lưu dữ liệu
    </button>
  </div>
</nz-modal>
