<nz-breadcrumb>
  <nz-breadcrumb-item> Information System </nz-breadcrumb-item>
  <nz-breadcrumb-item> Lịch sử </nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<nz-collapse>
  <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="true" [nzShowArrow]="true">
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Loại thiết bị</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Loại thiết bị"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchVo.deviceType"
          >
            <nz-option
              *ngFor="let deviceType of deviceTypes"
              [nzValue]="deviceType.id"
              [nzLabel]="deviceType.name"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Mã quản lý</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="mngCodeTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.mngCode"
              placeholder="Mã quản lý"
            />
          </nz-input-group>
          <ng-template #mngCodeTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.mngCode"
              (click)="searchVo.mngCode = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Trạng thái</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select nzAllowClear [(ngModel)]="searchVo.actionType">
            <nz-option nzValue="1" nzLabel="Mượn"></nz-option>
            <nz-option nzValue="2" nzLabel="Trả"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Serial</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="serialTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.serial"
              placeholder="Serial"
            />
          </nz-input-group>
          <ng-template #serialTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.serial"
              (click)="searchVo.serial = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">IMEI</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-input-group [nzSuffix]="imeiTpl">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchVo.imei"
              placeholder="imei"
            />
          </nz-input-group>
          <ng-template #imeiTpl>
            <i
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="searchVo.imei"
              (click)="searchVo.imei = null"
            ></i>
          </ng-template>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzLg="4">
        <label nzXs="24" nzSm="24" nzLg="24">Nhân viên</label>
        <div nzXs="24" nzSm="24" nzLg="24">
          <nz-select
            nzPlaceHolder="Nhân viên"
            nzShowSearch
            nzAllowClear
            [(ngModel)]="searchVo.employee"
          >
            <nz-option
              *ngFor="let user of users"
              [nzValue]="user.username"
              [nzLabel]="user.name + ' - ' + user.username"
            >
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <br />
    <div nz-row nzJustify="end" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="24" nzLg="24">
        <button
          nz-button
          nzType="primary"
          style="float: right"
          (click)="searchHistories()"
        >
          <i nz-icon nzType="search"></i>
          Search
        </button>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<br />
<nz-table
  style="margin-top: 10px"
  #historyTable
  nzBordered
  nzSize="small"
  [nzData]="histories"
  [nzScroll]="{ x: '1100px' }"
>
  <thead>
    <tr>
      <th nzLeft class="text-center" style="width: 150px">Mã quản lý</th>
      <th class="text-center" style="width: 200px">Nhân viên</th>
      <th class="text-center" style="width: 150px">Trạng thái</th>
      <th class="text-center" style="width: 150px">Thời gian</th>
      <th class="text-center" style="width: 150px">Loại thiết bị</th>
      <th class="text-center" style="width: 150px">Thương hiệu</th>
      <th class="text-center" style="width: 200px">Model</th>
      <th class="text-center" style="width: 200px">Serial</th>
      <th class="text-center" style="width: 200px">IMEI</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of historyTable.data" (click)="onRowClick(data)">
      <td nzLeft>{{ data.mngCode }}</td>
      <td>{{ data.employeeName }}</td>
      <td>{{ data.actionTypeName }}</td>
      <td>{{ data.createdAt | date: "yyyy-MM-dd HH:mm:ss" }}</td>
      <td>{{ data.deviceTypeName }}</td>
      <td>{{ data.brand }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.serial }}</td>
      <td>{{ data.imei }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isOpenModal" nzTitle="Chi tiết">
  <ng-container *nzModalContent>
    <div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="24">
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Mã quản lý</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.mngCode }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Loại thiết bị</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.deviceTypeName }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Thương hiệu</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.brand }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Model</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.model }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Serial</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.serial }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">IMEI</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.imei }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Nhân viên</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.employeeName }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Ghi chú</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{ historySelected.note }}</span>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Chũ ký</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <div id="signature-pad" class="m-signature-pad">
          <div class="m-signature-pad-body">
            <img [src]="historySelected.signature" />
          </div>
        </div>
      </div>
      <div nz-col nzXs="12" nzSm="8" nzLg="8">
        <label nzXs="24" nzSm="24" nzLg="24">Thời gian</label>
      </div>
      <div nz-col nzXs="12" nzSm="16" nzLg="16">
        <span>{{
          historySelected.createdAt | date: "yyyy-MM-dd HH:mm:ss"
        }}</span>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="isOpenModal = false">OK</button>
  </div>
</nz-modal>
