<div nz-row nzJustify="start" nzAlign="middle" [nzGutter]="8">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item report" routerLink="">
      <img src="./../../../../../../assets/images/report.png" alt="" />
      <h6>Training Report</h6>
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item course" routerLink="">
      <img src="./../../../../../../assets/images/training.png" alt="" />
      <h6>Training Course</h6>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <div class="item data" routerLink="">
      <img src="./../../../../../../assets/images/agenda.png" alt="" />
      <h6>Training Data</h6>
    </div>
  </div>
</div>
