<!-- <nz-breadcrumb>
  <nz-breadcrumb-item>IQC</nz-breadcrumb-item>
  <nz-breadcrumb-item>Request</nz-breadcrumb-item>
  <nz-breadcrumb-item>Detail</nz-breadcrumb-item>
</nz-breadcrumb> -->

<nz-collapse>
  <nz-collapse-panel
    [nzActive]="true"
    [nzShowArrow]="true"
    [nzHeader]="'RequestNo: ' + iqcRequest.requestNo"
  >
    <div nz-row nzJustify="start" [nzGutter]="24">
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-text-box
          label="Invoice"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [(value)]="iqcRequest.invoice"
          [readOnly]="true"
        ></dx-text-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-text-box
          label="Supplier"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [(value)]="iqcRequest.supplier"
          [readOnly]="true"
        ></dx-text-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-text-box
          label="Người request"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [(value)]="iqcRequest.requestedByName"
          [readOnly]="true"
        ></dx-text-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-date-box
          label="Ngày request"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [(value)]="iqcRequest.createdAt"
          [readOnly]="true"
          [displayFormat]="'yyyy-MM-dd HH:mm'"
        ></dx-date-box>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <dx-text-box
          label="Trạng thái"
          labelLocation="left"
          showColonAfterLabel="true"
          [labelMode]="'static'"
          [(value)]="iqcRequest.statusName"
          [readOnly]="true"
        ></dx-text-box>
      </div>
    </div>

    <div nz-row nzJustify="start" [nzGutter]="24" style="margin-top: 5px">
      <div nz-col nzXs="24" nzSm="12" nzLg="4">
        <label
          style="margin-top: 15px"
          nz-checkbox
          style="color: #007bff"
          [(ngModel)]="isChecked"
          (ngModelChange)="updateStatusRequest($event)"
          >Đánh dấu đã xử lý</label
        >
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<dx-data-grid
  #iqcDataGrid
  keyExpr="id"
  [dataSource]="iqcResults"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [rowAlternationEnabled]="true"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onExporting)="onExportClient($event)"
  style="margin-top: 10px"
>
  <dxo-selection
    [selectAllMode]="'allPages'"
    [showCheckBoxesMode]="'always'"
    mode="multiple"
  ></dxo-selection>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-export [enabled]="true"></dxo-export>

  <dxo-column-chooser
    #columnChooser
    [enabled]="true"
    [mode]="'select'"
    [title]="'Cột hiển thị'"
  >
  </dxo-column-chooser>

  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-toolbar>
    <dxi-item location="before">
      <nz-space>
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          [disabled]="!selectedRows?.length"
          (click)="openEvaluateModal()"
        >
          <span nz-icon nzType="check-circle" nzTheme="outline"></span>
          Đánh giá
        </button>
        <button
          *nzSpaceItem
          nz-button
          nzType="default"
          (click)="openLevelOfControlModal()"
        >
          <span nz-icon nzType="control" nzTheme="outline"></span>
          Mức kiểm soát
        </button>
      </nz-space>
    </dxi-item>
    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="resetFiltersAndSorting()">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item name="exportButton" location="after" />
    <dxi-item name="columnChooserButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="model" caption="Model" [visible]="true">
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column dataField="lotGroup" caption="Lot Group" [visible]="true">
    <dxo-header-filter [allowSelectAll]="false">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
  </dxi-column>

  <dxi-column dataField="lotNo" caption="LotNo" [visible]="true"></dxi-column>
  <dxi-column
    dataField="qty"
    caption="Qty"
    [visible]="true"
    dataType="number"
    format="#,##0.0"
  ></dxi-column>

  <dxi-column caption="Kết quả IQC">
    <dxi-column
      dataField="result1"
      caption="Ngoại Quan"
      [visible]="true"
    ></dxi-column>

    <dxi-column
      dataField="result2"
      caption="Kích thước"
      [visible]="true"
    ></dxi-column>

    <dxi-column dataField="result3" caption="GP" [visible]="true"></dxi-column>
  </dxi-column>

  <dxi-column caption="Mức kiểm soát">
    <dxi-column
      dataField="levelOfControl1"
      caption="Ngoại Quan"
      [visible]="true"
    ></dxi-column>
    <dxi-column
      dataField="levelOfControl2"
      caption="Kích thước"
      [visible]="true"
    ></dxi-column>
  </dxi-column>

  <dxi-column
    dataField="checkDate"
    caption="Ngày đánh giá"
    dataType="date"
    format="yyyy-MM-dd"
    [visible]="true"
  ></dxi-column>
  <dxi-column
    dataField="checkUserName"
    caption="Người đánh giá"
    [visible]="true"
  ></dxi-column>

  <dxi-column dataField="remark" caption="Remark" [visible]="true"></dxi-column>

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  >
  </dxo-pager>
</dx-data-grid>

<nz-modal
  [(nzVisible)]="isOpenEvaluateModal"
  nzTitle="Đánh giá hàng loạt"
  [nzWidth]="'900px'"
>
  <ng-container *nzModalContent>
    <nz-table
      nzSize="small"
      [nzBordered]="true"
      [nzData]="['']"
      [nzFrontPagination]="false"
    >
      <tbody>
        <tr>
          <td><label>Số kiện</label></td>
          <td colspan="3">{{ selectedRows.length }}</td>
        </tr>

        <tr>
          <td><label>Ngoại quan</label></td>
          <td>
            <nz-radio-group [(ngModel)]="evaluateData.result1">
              <label nz-radio nzValue="OK" style="color: green">OK</label>
              <label nz-radio nzValue="NG" style="color: red">NG</label>
              <label nz-radio nzValue="CA" style="color: black">CA</label>
            </nz-radio-group>
          </td>
          <td><label>Mức kiểm soát</label></td>
          <td>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Mức kiểm soát ngoại quan"
              [(ngModel)]="evaluateData.levelOfControl1"
            >
              <nz-option
                *ngFor="let item of iqcLevelOfControls"
                [nzValue]="item.name"
                [nzLabel]="item.name"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>Kích thước</label></td>
          <td>
            <nz-radio-group [(ngModel)]="evaluateData.result2">
              <label nz-radio nzValue="OK" style="color: green">OK</label>
              <label nz-radio nzValue="NG" style="color: red">NG</label>
              <label nz-radio nzValue="CA" style="color: black">CA</label>
            </nz-radio-group>
          </td>
          <td><label>Mức kiểm soát</label></td>
          <td>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Mức kiểm soát kích thước"
              [(ngModel)]="evaluateData.levelOfControl2"
            >
              <nz-option
                *ngFor="let item of iqcLevelOfControls"
                [nzValue]="item.name"
                [nzLabel]="item.name"
              >
              </nz-option>
            </nz-select>
          </td>
        </tr>
        <tr>
          <td><label>GP</label></td>
          <td colspan="3">
            <nz-radio-group [(ngModel)]="evaluateData.result3">
              <label nz-radio nzValue="OK" style="color: green">OK</label>
              <label nz-radio nzValue="NG" style="color: red">NG</label>
            </nz-radio-group>
          </td>
        </tr>
        <tr>
          <td>
            <label>Thông tin <br />NG hoặc CA</label>
          </td>
          <td colspan="3">
            <textarea
              rows="3"
              nz-input
              [(ngModel)]="evaluateData.remark"
            ></textarea>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template [nzModalFooter]>
    <button nz-button nzType="default" nzDanger style="float: left">
      Xóa dữ liệu
    </button>
    <button nz-button nzType="default" (click)="closeEvaluateModal()">
      Đóng
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="saveEvaluateData()"
      [nzLoading]="isLoading"
    >
      Lưu
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isOpenLevelOfControlModal"
  nzTitle="Tìm mức độ kiểm soát"
  nzWidth="750px"
>
  <ng-container *nzModalContent>
    <table id="level-of-control-search" style="width: 100%">
      <tr>
        <th>Model</th>
        <th>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="Nhập mã Model"
              [(ngModel)]="searchParam.model"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span
              nz-icon
              nzType="search"
              (click)="getHistoryLevelOfControls()"
            ></span>
          </ng-template>
        </th>
      </tr>
    </table>
    <br />
    <nz-table
      #mucKiemSoatTbl
      [nzData]="historyLevelOfControls"
      nzSize="small"
      nzBordered
    >
      <thead>
        <tr>
          <th>Kiểm soát ngoại quan</th>
          <th>Kiểm soát kích thước</th>
          <th>Ngày đánh giá</th>
          <th>Người đánh giá</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of mucKiemSoatTbl.data">
          <td>{{ data.levelOfControl1 }}</td>
          <td>{{ data.levelOfControl2 }}</td>
          <td>{{ data.updatedAt | date : "yyyy-MM-dd HH:mm" }}</td>
          <td>{{ data.checkUser }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <div *nzModalFooter>
    <button
      nz-button
      nzType="default"
      (click)="isOpenLevelOfControlModal = false"
    >
      Đóng
    </button>
  </div>
</nz-modal>
