.red-color {
    color: red;
}

.green-color{
    color: green;
}
.blue-color{
    color: blue;
}


.tooljig_title {
    font-size: 20px; 
    font-weight: 600;
    color: #4374FF;
    margin-bottom: 10px;
}

.toojig_input_code {
    margin-bottom: 10px;
    width: 33%;
}
.tooljig_btn_save {
    padding: 10px;
}


.tooljig_input {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.tooljig_input_no {
    display: flex;
    color: #2878d3;
    font-weight: 500;
}


.ivt_home {
    display: flex;
}

.ivt_back:hover {
    cursor: pointer;
    color: #035493 !important;
}